DATA AUGMENTATION

In [1]:
import numpy as np
import pandas as pd
np.random.seed(42)
n=500
df=pd.DataFrame({
    "Age":np.random.randint(18,60,n),
    "CGPA":np.round(np.random.uniform(6.0,9.5,n),2),
    "Internship_Counts":np.random.randint(0,4,n),
    "Technical_Score":np.random.randint(50,100,n),
    "Attendance_Percentage":np.random.randint(60,100,n)
})
##target variable(implaced)
df['Placed'] = np.where((df['CGPA']>=7.5) & (df['Technical_Score']>70),"Yes","No")
df

,Age,CGPA,Internship_Counts,Technical_Score,Attendance_Percentage,Placed
0,56,9.00,2,68,87,No
1,46,7.50,2,65,61,No
2,32,8.63,3,89,65,Yes
3,25,8.64,1,77,68,Yes
4,38,6.36,2,82,92,No
...,...,...,...,...,...,...
495,56,8.99,0,63,93,No
496,49,8.91,0,97,70,Yes
497,41,7.39,0,54,69,No
498,40,8.34,1,90,74,Yes
499,49,6.72,3,75,76,No

#Bootstrapping

In [2]:
bootstrap = df.sample(n=200, replace=True, random_state=42)
df_aug = pd.concat([df, bootstrap], ignore_index=True)
df_aug

,Age,CGPA,Internship_Counts,Technical_Score,Attendance_Percentage,Placed
0,56,9.00,2,68,87,No
1,46,7.50,2,65,61,No
2,32,8.63,3,89,65,Yes
3,25,8.64,1,77,68,Yes
4,38,6.36,2,82,92,No
...,...,...,...,...,...,...
695,59,8.17,3,64,72,No
696,36,7.21,3,65,69,No
697,49,6.97,3,99,71,No
698,42,6.81,3,61,95,No
699,22,8.02,1,86,93,Yes

In [7]:
noise = df_aug.sample(n=150, random_state=42).copy()
noise["CGPA"] += np.random.normal(0,0.1,150)
noise["Technical_Score"] += np.random.randint(-3,4,150)
noise["Attendance_Percentage"] += np.random.randint(0,2,150)

#Logical constraints
noise["CGPA"] = noise["CGPA"].clip(6.0,10.0)
noise["Technical_Score"] = noise["Technical_Score"].clip(50,100)
noise["Attendance_Percentage"] = noise["Attendance_Percentage"].clip(60,100)    

df_aug = pd.concat([df_aug, noise], ignore_index=True)
df_aug

,Age,CGPA,Internship_Counts,Technical_Score,Attendance_Percentage,Placed
0,56,9.000000,2,68,87,No
1,46,7.500000,2,65,61,No
2,32,8.630000,3,89,65,Yes
3,25,8.640000,1,77,68,Yes
4,38,6.360000,2,82,92,No
...,...,...,...,...,...,...
795,41,6.000000,2,86,60,No
796,52,8.669247,1,95,62,Yes
797,34,6.154995,1,65,74,No
798,24,6.408869,2,98,80,No
799,20,9.113384,3,62,72,No

In [4]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\user\anaconda3\lib\site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from imblearn.over_sampling import SMOTE
x=df_aug.drop('Placed', axis=1)
y=df_aug['Placed']
smote = SMOTE(sampling_strategy=0.8,random_state=42)
df_aug = pd.concat([df_aug, smote],ignore_index = True)
df_aug

TypeError: cannot concatenate object of type '<class 'imblearn.over_sampling._smote.base.SMOTE'>'; only Series and DataFrame objs are valid

In [8]:
df_aug

,Age,CGPA,Internship_Counts,Technical_Score,Attendance_Percentage,Placed
0,56,9.000000,2,68,87,No
1,46,7.500000,2,65,61,No
2,32,8.630000,3,89,65,Yes
3,25,8.640000,1,77,68,Yes
4,38,6.360000,2,82,92,No
...,...,...,...,...,...,...
795,41,6.000000,2,86,60,No
796,52,8.669247,1,95,62,Yes
797,34,6.154995,1,65,74,No
798,24,6.408869,2,98,80,No
799,20,9.113384,3,62,72,No