In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)
n=1000

df= pd.DataFrame({
    "cust_name" : np.random.choice(["Amit","Ajay", "Ankur","Reena", "Divya"]),
    "cust_age" : np.random.randint(18,60,size = n),
    "gender" : np.random.choice(["male","female"],size=n),
    "location" : np.random.choice(["ambala","Yamunanagar", "kurukshtra", "karnal"],size=n),
    "service usage": np.random.choice(["data","voice","all"],size=n),
    "tenure_info" : np.random.randint(0,10,size=n),
    "tenure_type" : np.random.choice(["monthly", "yearly"],size=n),
    "payment_behaviour" : np.random.choice(["on_time", "delayed"],size=n),
    #"service_quality" : np.random.choice(["complainent", "not_complainent"],size=n),
    "service_exp" : np.random.choice(["satisfactory","complainent"],size=n),
    "usage_in_hrs" :  np.random.randint(1,24,size=n),

})
df["monthly_charges"] = df["usage_in_hrs"]*12.87
df["total_charges"] = df["monthly_charges"]+ (0.18*df["monthly_charges"])
df["customer_churn"] = np.where((df["total_charges"]>100)&(df["service_exp"]=="complainent"),"yes","no")

In [3]:
df

,cust_name,cust_age,gender,location,service usage,tenure_info,tenure_type,payment_behaviour,service_exp,usage_in_hrs,monthly_charges,total_charges,customer_churn
0,Reena,46,male,ambala,data,1,monthly,delayed,satisfactory,4,51.48,60.7464,no
1,Reena,32,female,karnal,voice,3,yearly,on_time,satisfactory,18,231.66,273.3588,no
2,Reena,25,female,ambala,data,2,yearly,delayed,satisfactory,11,141.57,167.0526,no
3,Reena,38,male,Yamunanagar,data,0,yearly,delayed,satisfactory,1,12.87,15.1866,no
4,Reena,56,female,karnal,voice,2,yearly,delayed,complainent,10,128.70,151.8660,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Reena,32,male,karnal,all,6,monthly,on_time,satisfactory,7,90.09,106.3062,no
996,Reena,46,female,ambala,data,6,yearly,delayed,satisfactory,18,231.66,273.3588,no
997,Reena,25,male,karnal,all,5,yearly,on_time,satisfactory,2,25.74,30.3732,no
998,Reena,22,female,ambala,data,2,yearly,delayed,complainent,10,128.70,151.8660,yes
999,Reena,46,male,ambala,all,5,yearly,delayed,complainent,15,193.05,227.7990,yes

In [10]:
bootstrap = df.sample(n=200, replace=True, random_state=42)
df1 = pd.concat([df, bootstrap], ignore_index=True)
df1

,cust_name,cust_age,gender,location,service usage,tenure_info,tenure_type,payment_behaviour,service_exp,usage_in_hrs,monthly_charges,total_charges,customer_churn
0,Reena,46,male,ambala,data,1,monthly,delayed,satisfactory,4,51.48,60.7464,no
1,Reena,32,female,karnal,voice,3,yearly,on_time,satisfactory,18,231.66,273.3588,no
2,Reena,25,female,ambala,data,2,yearly,delayed,satisfactory,11,141.57,167.0526,no
3,Reena,38,male,Yamunanagar,data,0,yearly,delayed,satisfactory,1,12.87,15.1866,no
4,Reena,56,female,karnal,voice,2,yearly,delayed,complainent,10,128.70,151.8660,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,Reena,28,female,kurukshtra,data,5,yearly,on_time,complainent,23,296.01,349.2918,yes
1196,Reena,19,female,karnal,voice,8,yearly,on_time,satisfactory,15,193.05,227.7990,no
1197,Reena,19,male,ambala,all,4,yearly,on_time,complainent,16,205.92,242.9856,yes
1198,Reena,39,female,ambala,data,6,yearly,on_time,satisfactory,8,102.96,121.4928,no
1199,Reena,56,female,kurukshtra,data,6,monthly,on_time,complainent,20,257.40,303.7320,yes

In [ ]:
valid_location = ["ambala","karnal","Yamunanagar","kurukshetra"]
df1 = df1['location'].isin(valid_location)

0        True
1        True
2        True
3        True
4        True
        ...
1195    False
1196     True
1197     True
1198     True
1199    False
Name: location, Length: 1200, dtype: bool

In [12]:
df1

0        True
1        True
2        True
3        True
4        True
        ...
1195    False
1196     True
1197     True
1198     True
1199    False
Name: location, Length: 1200, dtype: bool

In [ ]:
class_count=df1['cust_age'].value_counts()
print(class_count)

KeyError: 'cust_age'