In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {"H_ID":[101,102,103,104,105],
        "Name":["Amit","Suman","Ravi","Anjali","Priya"],
        "Age":[23,22,24,23,22],
       
        }
df = pd.DataFrame(data)
print(df)

   H_ID    Name  Age
0   101    Amit   23
1   102   Suman   22
2   103    Ravi   24
3   104  Anjali   23
4   105   Priya   22

In [ ]:
np.random.seed(20)
np.random.rand(3,100) 
hospital_random={ 
    "hp_id":np.random.randint(100,200,100),
    "hp_name":np.random.choice(['Abhishek','Kumar','Singh','Ranjan','Ankit','Vikash'],100),
    "hp_age":np.random.randint(20,60,100),
    "medical_history":np.random.choice(['Diabetes','Hypertension','Asthma','None'],100),
    "hospital_stay_days":np.random.randint(1,30,100),
    "discharge_status":np.random.choice(['Recovered','Referred','Deceased'],100),
    "locality":np.random.choice(['Urban','Rural'],100),
    "patient_readmission":np.random.choice(['Yes','No'],100),
    "disease_type":np.random.choice(['Infectious','Non-Infectious','Chronic'],100)
    
}

df_random=pd.DataFrame(hospital_random)
print(df_random)

    hp_id   hp_name  hp_age medical_history  hospital_stay_days  \
0     158     Kumar      32    Hypertension                   8
1     124    Ranjan      49          Asthma                   6
2     125  Abhishek      56        Diabetes                  23
3     115    Vikash      28            None                   7
4     161    Ranjan      23        Diabetes                  28
..    ...       ...     ...             ...                 ...
95    118     Kumar      20        Diabetes                  14
96    192     Singh      21          Asthma                  21
97    120     Kumar      36        Diabetes                  26
98    128     Ankit      27          Asthma                   7
99    177     Kumar      50    Hypertension                   9

   discharge_status locality patient_readmission    disease_type
0          Deceased    Rural                  No         Chronic
1          Deceased    Urban                 Yes  Non-Infectious
2          Deceased    Urban                 Yes      Infectious
3         Recovered    Rural                 Yes  Non-Infectious
4         Recovered    Rural                 Yes         Chronic
..              ...      ...                 ...             ...
95        Recovered    Urban                 Yes      Infectious
96        Recovered    Rural                 Yes  Non-Infectious
97        Recovered    Urban                  No      Infectious
98         Deceased    Urban                 Yes         Chronic
99         Deceased    Rural                  No         Chronic

[100 rows x 9 columns]

In [18]:
count_status=df_random['patient_readmission'].value_counts()
print(count_status)

patient_readmission
Yes    58
No     42
Name: count, dtype: int64

In [22]:
count_status=df_random['disease_type'].where(df_random['disease_type'] == 'Chronic').value_counts()
print(count_status)

disease_type
Chronic    39
Name: count, dtype: int64

In [ ]:
np.where(df_random['disease_type'] == 'Chronic', 
         add )

In [30]:
df_random['high_risk'] = np.where((df_random['disease_type'] == 'Chronic') &
                                   (df_random['hospital_stay_days'] > 15) & 
                                   (df_random['medical_history'] != 'None'), 'Yes', 'No')
df_random

,hp_id,hp_name,hp_age,medical_history,hospital_stay_days,discharge_status,locality,patient_readmission,disease_type,high_risk
0,158,Kumar,32,Hypertension,8,Deceased,Rural,No,Chronic,No
1,124,Ranjan,49,Asthma,6,Deceased,Urban,Yes,Non-Infectious,No
2,125,Abhishek,56,Diabetes,23,Deceased,Urban,Yes,Infectious,No
3,115,Vikash,28,None,7,Recovered,Rural,Yes,Non-Infectious,No
4,161,Ranjan,23,Diabetes,28,Recovered,Rural,Yes,Chronic,Yes
...,...,...,...,...,...,...,...,...,...,...
95,118,Kumar,20,Diabetes,14,Recovered,Urban,Yes,Infectious,No
96,192,Singh,21,Asthma,21,Recovered,Rural,Yes,Non-Infectious,No
97,120,Kumar,36,Diabetes,26,Recovered,Urban,No,Infectious,No
98,128,Ankit,27,Asthma,7,Deceased,Urban,Yes,Chronic,No
99,177,Kumar,50,Hypertension,9,Deceased,Rural,No,Chronic,No