In [37]:
import pandas as pd
import numpy as np

In [38]:
np.random.seed(41)
n=100

In [49]:
from numpy.random.mtrand import randint
product_details=({
    "Product_ID" : np.arange(1,n+1),
    "Product_Name" : np.random.choice(["Laptop","T-Shirt","Peanuts"],n),
    "Product_Category" : np.random.choice(["Electronics","Grocery","Apparel","Furniture"],n),
    "Product_Price" : np.random.randint(100,2000,n)
})
df=pd.DataFrame(product_details)
df

    Product_ID Product_Name Product_Category  Product_Price
0            1       Laptop          Grocery            351
1            2      Peanuts        Furniture            154
2            3       Laptop          Grocery           1268
3            4       Laptop          Grocery           1353
4            5       Laptop      Electronics            943
..         ...          ...              ...            ...
95          96       Laptop        Furniture            327
96          97      Peanuts        Furniture            233
97          98      Peanuts      Electronics           1722
98          99      T-Shirt      Electronics           1233
99         100      T-Shirt      Electronics           1987

[100 rows x 4 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        100 non-null    int64
 1   Product_Name      100 non-null    object
 2   Product_Category  100 non-null    object
 3   Product_Price     100 non-null    int64
dtypes: int64(2), object(2)
memory usage: 3.3+ KB