<div style="background-color: #c8d5e4ff; padding: 10px; text-align: center; color: red; font-size: 32px;">
Data Understanding data Sources,using SQL
</div>

<div style="background_color: #f0f0f0;">
    </div>

In [6]:
#Question: Can we create a csv file using python?
import csv # for csv file operations
header = ['Name', 'Age', 'City'] # define header
rows =[
    ['Amit', 25, 'Ambala'],
    ['Sara', 30, 'Patna'],
    ['John', 22, 'Dehradun']
      ]
header
rows

[['Amit', 25, 'Ambala'], ['Sara', 30, 'Patna'], ['John', 22, 'Dehradun']]

In [7]:
#create a csv file
with open('friends.csv', mode = 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

print("CSV file created successfully.")

CSV file created successfully.

In [10]:
import csv
header=['Name', 'Age', 'City', 'Country', 'Profession', 'Salary', 'Experience', 'Education', 'Marital Status', 'Hobbies']
rows=[
    ['Amit', 25, 'Ambala', 'India', 'Engineer', 50000, 3, 'B.Tech', 'Single', 'Reading'],
    ['Sara', 30, 'Patna', 'India', 'Doctor', 80000, 5, 'MBBS', 'Married', 'Traveling'],
    ['John', 22, 'Dehradun', 'India', 'Artist', 30000, 1, 'BFA', 'Single', 'Painting'],
    ['Emma', 28, 'Mumbai', 'India', 'Designer', 60000, 4, 'B.Des', 'Married', 'Photography'],
    ['Liam', 35, 'Chennai', 'India', 'Chef', 70000, 7, 'Diploma', 'Married', 'Cooking'],
    ['Hina', 27, 'Kolkata', 'India', 'Writer', 55000, 3, 'MA', 'Single', 'Blogging'],
    ['divya', 32, 'Bangalore', 'India', 'Scientist', 90000, 6, 'PhD', 'Married', 'Research'],
    ['Ravi', 29, 'Hyderabad', 'India', 'Musician', 45000, 4, 'BMM', 'Single', 'Singing'],
    ['Nina', 31, 'Pune', 'India', 'Photographer', 65000, 5, 'BA', 'Married', 'Traveling'],
    ['Karan', 26, 'Jaipur', 'India', 'Athlete', 40000, 2, 'BPEd', 'Single', 'Sports']
]
with open('assignment_friends.csv', mode = 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)
print("CSV file created successfully.")

CSV file created successfully.

In [11]:
import json
data =[
        {"name": "Amit", "age": 25, "city": "Ambala"},
        {"name": "Sara", "age": 30, "city": "Patna"},
        {"name": "John", "age": 22, "city": "Dehradun"}
]
with open('data.json', 'w') as json_file:
    json.dump(data, json_file, indent=4)
print("JSON file created successfully.")

JSON file created successfully.

In [ ]:
import sqlite3 as sql
connection = sql.connect('demo.db')
cursor = connection.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS student
                  (id INTEGER PRIMARY KEY AUTOINCREMENT,
                   name TEXT NOT NULL,
                   age INTEGER,
                   city TEXT);''')
connection.commit()
print("Table created successfully.")
cursor.execute("INSERT INTO student (name, age, city) VALUES ('Amit', 25, 'Ambala');")
cursor.execute("INSERT INTO student (name, age, city) VALUES ('Sara', 30, 'Patna');")
connection.commit()
print("Records inserted successfully.")

Table created successfully.
Records inserted successfully.

In [23]:
cursor.execute("select * from student;")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Amit', 25, 'Ambala')
(2, 'Sara', 30, 'Patna')
(3, 'Amit', 25, 'Ambala')
(4, 'Sara', 30, 'Patna')

In [ ]:
import pandas as pd
df = pd. DataFrame(results)
df

   0     1   2       3
0  1  Amit  25  Ambala
1  2  Sara  30   Patna
2  3  Amit  25  Ambala
3  4  Sara  30   Patna

In [ ]:
connection.close()