In [2]:
print("hello world!")

hello world!

In [5]:
a=10
b=5 
a+b

15

In [7]:
x=7
y=2
print(x//y)
x%y

3

1

In [1]:

a=int(input("Enter a number : "))
if a>0:
    print("User entered a positive number")
    
elif a<0:
    print("User entered a negative number")
    
    
else:
    print("User entered a 0")

Enter a number :  3

User entered a positive number

In [2]:
_value=3
totalnum=1

In [5]:
a=2
b=3
print(a)
print(b)
a,b=b,a

print(a)
print(b)

2
3
3
2

In [6]:
print(2+3*4-8/2)

10.0

In [8]:
a=int(input("Enter a number : "))
print("The square is : ",a**2)
print("The cube is : ",a**3)

Enter a number :  4

The square is :  16
The cube is :  64

In [13]:
a=int(input("Enter a number : "))
b=int(input("Enter another number : "))
c=int(input("Enter another number : "))


if(a>b and a>c):
    print(f"{a} is largest")

elif(b>a and b>c):
    print(f"{b} is largest")

else:
    print(f"{c} is largest")

Enter a number :  12
Enter another number :  45
Enter another number :  80

80 is largest

In [14]:
a=5
a+=3
a*=2
a

16

In [17]:
a=int(input("Enter a number : "))

if a%2==0:
    print("Even")

else:
    print("Odd")

Enter a number :  67

Odd

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [19]:
sum=0
for i in range(1,101):
    sum+=i

print(sum)

5050

In [21]:
for i in range(2,10,2): print(i,end=" ")

2 4 6 8

In [23]:
a=7

for i in range(1,11):
    print(f"{a}x{i}={a*i}")

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [1]:
# factorial

Enter a number :  4

the fctorial of 4 is : 24

In [3]:
a='python'
print(a[::-1])

nohtyp

In [7]:
x=0
for i in range(1,6):
    x+=i
    print(x)

1
3
6
10
15

In [8]:
a="nitin"
a1=a[::-1]
if a==a1:
    print("palindrome")

palindrome