In [2]:
import pandas as pd 
import numpy as np

In [10]:
data = {
    "Patient_ID": [1, 2, 3, 4, 5],
    "first_name": ["John", "Jane", "Jim", "Jill", "Jack"],
    "last_name": ["Doe", "Smith", "Brown", "Davis", "Wilson"],  
    "gender": ["M", "F", "M", "F", "M"],
    "date_of_birth": ["1980-01-01", "1990-02-02", "1985-03-03", "1992-04-04", "1988-05-05"],
    "Age": [44, 33, 38, 32, 36],
    "Blood_group": ["A+", "B-", "O+", "AB+", "A-"],
    "Contact_number": ["123-456-7890", "234-567-8901", "345-678-9012", "456-789-0123", "567-890-1234"],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],
    "State": ["NY", "CA", "IL", "TX", "AZ"],
    "address": ["123 Main St", "456 Oak St", "789 Pine St", "101 Maple St", "202 Birch St"],
    "country": ["USA", "USA", "USA", "USA", "USA"],
    "medical_history": ["Hypertension",  "Diabetes",  "Asthma", "Allergies","Cancer"],
    "Registration_date": [
        "2020-01-15",   
        "2021-03-22",   
        "2019-11-30",   
        "2022-06-10",   
        "2020-09-05"
    ]
    
    }

In [12]:
df=pd.DataFrame(data)
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,Contact_number,City,State,address,country,medical_history,Registration_date
0,1,John,Doe,M,1980-01-01,44,A+,123-456-7890,New York,NY,123 Main St,USA,Hypertension,2020-01-15
1,2,Jane,Smith,F,1990-02-02,33,B-,234-567-8901,Los Angeles,CA,456 Oak St,USA,Diabetes,2021-03-22
2,3,Jim,Brown,M,1985-03-03,38,O+,345-678-9012,Chicago,IL,789 Pine St,USA,Asthma,2019-11-30
3,4,Jill,Davis,F,1992-04-04,32,AB+,456-789-0123,Houston,TX,101 Maple St,USA,Allergies,2022-06-10
4,5,Jack,Wilson,M,1988-05-05,36,A-,567-890-1234,Phoenix,AZ,202 Birch St,USA,Cancer,2020-09-05

In [15]:
data = {
    "Patient_ID": [1, None, 3, 4, 5],
    "first_name": ["John", "Jane", None, "Jill", "Jack"],
    "last_name": ["Doe", "Smith", "Brown", "Davis", None],  
    "gender": [None, "F", "M", "F", "M"],
    "date_of_birth": ["1980-01-01", "1990-02-02", "1985-03-03", "1992-04-04", None],
    "Age": [44, 33, 38, None, 36],
    "Blood_group": ["A+", None, "O+", "AB+", "A-"],
    "Contact_number": ["123-456-7890", "234-567-8901", "345-678-9012", None, "567-890-1234"],
    "City": [None, "Los Angeles", "Chicago", "Houston", "Phoenix"],
    "State": ["NY", "CA", "IL", "TX", None],
    "address": ["123 Main St", None, "789 Pine St", "101 Maple St", "202 Birch St"],
    "country": ["USA", "USA", "USA", "USA", None],
    "medical_history": ["Hypertension",  "Diabetes",  None, "Allergies","Cancer"],
    "Registration_date": [
        None,   
        "2021-03-22",   
        "2019-11-30",   
        "2022-06-10",   
        "2020-09-05"
    ]
    
    }
df=pd.DataFrame(data)
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,Contact_number,City,State,address,country,medical_history,Registration_date
0,1.0,John,Doe,None,1980-01-01,44.0,A+,123-456-7890,None,NY,123 Main St,USA,Hypertension,None
1,NaN,Jane,Smith,F,1990-02-02,33.0,None,234-567-8901,Los Angeles,CA,None,USA,Diabetes,2021-03-22
2,3.0,None,Brown,M,1985-03-03,38.0,O+,345-678-9012,Chicago,IL,789 Pine St,USA,None,2019-11-30
3,4.0,Jill,Davis,F,1992-04-04,NaN,AB+,None,Houston,TX,101 Maple St,USA,Allergies,2022-06-10
4,5.0,Jack,None,M,None,36.0,A-,567-890-1234,Phoenix,None,202 Birch St,None,Cancer,2020-09-05

In [18]:
np.random.seed(41)
n=4000
df=pd.DataFrame({
    "Patient_ID":np.arange(1,n+1),
    "first_name":np.random.choice(["John", "Jane", "Jim", "J    ill", "Jack"],n),
    "last_name":np.random.choice(["Doe", "Smith", "Brown", "Davis", "Wilson"],n),
    "gender":np.random.choice(["M", "F"],n),
    "date_of_birth":pd.to_datetime(np.random.randint(1950,2005,size=n),format="%Y")+pd.to_timedelta(np.random.randint(1,365,size=n),unit="D"),
    "Age":np.random.randint(18,80,size=n),
    "Blood_group":np.random.choice(["A+","A-","B+","B-","O+","O-","AB+","AB-"],n),
    "City":np.random.choice(["New York", "Los Angeles", "Chicago", "Houston", "Phoenix"],n),
    "State":np.random.choice(["NY", "CA", "IL", "TX", "AZ"],n),
    "address":np.random.choice(["123 Main St", "456 Oak St", "789 Pine St", "101 Maple St", "202 Birch St"],n),
    "country":np.random.choice(["USA", "Canada", "UK", "Australia", "India"],n),
    "medical_history":np.random.choice(["Hypertension",  "Diabetes",  "Asthma", "Allergies","Cancer"],n),
    "Registration_date":pd.to_datetime(np.random.randint(2015,2023,size=n),format="%Y")+pd.to_timedelta(np.random.randint(1,365,size=n),unit="D")   
})

In [20]:
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date
0,1,John,Brown,F,1972-03-23,18,A-,Chicago,NY,101 Maple St,Australia,Allergies,2015-02-19
1,2,J ill,Davis,M,1994-12-04,66,B-,Los Angeles,IL,789 Pine St,Australia,Asthma,2021-03-11
2,3,Jack,Doe,F,1971-11-02,33,O+,Houston,TX,789 Pine St,Canada,Diabetes,2016-03-14
3,4,Jim,Smith,M,1975-08-08,47,A-,New York,TX,456 Oak St,Australia,Cancer,2019-10-13
4,5,John,Wilson,M,1976-01-21,27,B-,New York,IL,101 Maple St,India,Asthma,2016-05-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,J ill,Davis,F,1960-07-16,35,B+,Chicago,IL,789 Pine St,India,Allergies,2021-01-11
3996,3997,John,Smith,F,1972-08-13,63,O+,Chicago,AZ,101 Maple St,India,Allergies,2021-05-26
3997,3998,J ill,Davis,M,1975-05-04,45,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04
3998,3999,Jane,Doe,F,1970-01-10,23,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24
3999,4000,Jack,Smith,M,2003-10-01,54,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24

In [22]:
df.head()

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date
0,1,John,Brown,F,1972-03-23,18,A-,Chicago,NY,101 Maple St,Australia,Allergies,2015-02-19
1,2,J ill,Davis,M,1994-12-04,66,B-,Los Angeles,IL,789 Pine St,Australia,Asthma,2021-03-11
2,3,Jack,Doe,F,1971-11-02,33,O+,Houston,TX,789 Pine St,Canada,Diabetes,2016-03-14
3,4,Jim,Smith,M,1975-08-08,47,A-,New York,TX,456 Oak St,Australia,Cancer,2019-10-13
4,5,John,Wilson,M,1976-01-21,27,B-,New York,IL,101 Maple St,India,Asthma,2016-05-19

In [24]:
for col in["Patient_ID","first_name","last_name","gender","date_of_birth","Age","Blood_group","Contact_number","City","State","address","country","medical_history","Registration_date" ]:
    df.loc[df.sample(frac=0.05).index, col] = np.nan  # Introduce 5% missing values
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,NaN,2021-03-11,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN

In [26]:
pd.concat([df, df.sample(20)], ignore_index=True) # Duplicate 20 random rows

#Introduce invalid ages
df.loc[df.sample(10).index, "Age"] = np.random.choice([-5, 240], size=10)  
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,NaN,2021-03-11,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN

In [28]:
df.loc[df.sample(10).index, "Marks"] = np.random.choice([150, 300], size=10)
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,NaN,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN

In [30]:
df["medical_history"] = df["medical_history"].astype(str)
df.loc[df.sample(frac=0.1).index, "medical_history"] = df["medical_history"].sample(10).str.lower()
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN

In [31]:
df.info

<bound method DataFrame.info of       Patient_ID first_name last_name gender date_of_birth   Age Blood_group  \
0            1.0       John     Brown    NaN    1972-03-23  18.0          A-
1            2.0   J    ill     Davis    NaN    1994-12-04  66.0          B-
2            NaN       Jack       Doe      F    1971-11-02  33.0          O+
3            4.0        Jim     Smith      M    1975-08-08  47.0          A-
4            5.0       John    Wilson      M    1976-01-21  27.0          B-
...          ...        ...       ...    ...           ...   ...         ...
3995      3996.0   J    ill     Davis      F    1960-07-16  35.0          B+
3996      3997.0       John     Smith      F    1972-08-13  63.0          O+
3997      3998.0   J    ill     Davis      M    1975-05-04  45.0          O-
3998      3999.0       Jane       Doe      F    1970-01-10  23.0          A-
3999      4000.0       Jack     Smith      M    2003-10-01  54.0         AB-

             City State       address    country medical_history  \
0         Chicago    NY  101 Maple St  Australia       Allergies
1     Los Angeles    IL   789 Pine St  Australia             nan
2             NaN    TX   789 Pine St        NaN        Diabetes
3        New York   NaN    456 Oak St  Australia          Cancer
4        New York    IL           NaN      India          Asthma
...           ...   ...           ...        ...             ...
3995      Chicago    IL           NaN        NaN       Allergies
3996      Chicago    AZ  101 Maple St      India       Allergies
3997      Chicago    IL  101 Maple St        USA          Cancer
3998  Los Angeles    TX    456 Oak St      India          Asthma
3999      Phoenix    AZ   789 Pine St     Canada        Diabetes

     Registration_date  Contact_number  Marks
0                  NaT             NaN    NaN
1           2021-03-11             NaN    NaN
2           2016-03-14             NaN    NaN
3           2019-10-13             NaN    NaN
4           2016-05-19             NaN    NaN
...                ...             ...    ...
3995        2021-01-11             NaN    NaN
3996               NaT             NaN    NaN
3997        2016-02-04             NaN    NaN
3998        2020-04-24             NaN    NaN
3999        2017-06-24             NaN    NaN

[4000 rows x 15 columns]>

In [32]:
df.isnull().sum()

Patient_ID            387
first_name            389
last_name             392
gender                394
date_of_birth         389
Age                   380
Blood_group           393
City                  390
State                 388
address               394
country               388
medical_history       399
Registration_date     395
Contact_number       4000
Marks                3980
dtype: int64

In [33]:
df.shape

(4000, 15)

In [34]:
df.columns

Index(['Patient_ID', 'first_name', 'last_name', 'gender', 'date_of_birth',
       'Age', 'Blood_group', 'City', 'State', 'address', 'country',
       'medical_history', 'Registration_date', 'Contact_number', 'Marks'],
      dtype='object')

In [35]:
df.sample(10)

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
614,615.0,John,Doe,F,1978-03-31,79.0,O-,Phoenix,TX,NaN,Canada,Diabetes,2019-04-19,NaN,NaN
819,820.0,John,Wilson,F,NaT,24.0,O+,New York,TX,101 Maple St,USA,Asthma,2022-05-17,NaN,NaN
1702,1703.0,Jim,Doe,F,1955-12-08,47.0,B-,Los Angeles,IL,NaN,Australia,Allergies,2016-04-19,NaN,NaN
2302,2303.0,Jane,Doe,M,1996-09-05,52.0,A+,Chicago,IL,101 Maple St,NaN,Hypertension,2021-08-22,NaN,NaN
2527,2528.0,J ill,Brown,F,1983-12-21,25.0,O+,Chicago,AZ,202 Birch St,India,Hypertension,2016-07-24,NaN,NaN
2818,NaN,Jim,Brown,M,1952-12-29,NaN,O+,Phoenix,NaN,123 Main St,UK,NaN,2018-02-15,NaN,NaN
3634,3635.0,NaN,Wilson,F,1957-06-25,62.0,B+,Los Angeles,NaN,789 Pine St,India,Allergies,NaT,NaN,NaN
1393,1394.0,J ill,Smith,M,1967-01-02,79.0,AB+,New York,AZ,789 Pine St,USA,nan,2021-01-02,NaN,NaN
1898,1899.0,John,Davis,F,1955-11-17,51.0,NaN,Houston,NY,123 Main St,UK,Asthma,2017-03-15,NaN,NaN
1305,1306.0,Jack,NaN,F,1990-09-25,29.0,B-,Los Angeles,CA,123 Main St,Australia,Asthma,2016-10-21,NaN,NaN

In [37]:
df.isnull().sum()

Patient_ID            387
first_name            389
last_name             392
gender                394
date_of_birth         389
Age                   380
Blood_group           393
City                  390
State                 388
address               394
country               388
medical_history       399
Registration_date     395
Contact_number       4000
Marks                3980
dtype: int64

In [39]:
df.isnull().mean()*100

Patient_ID             9.675
first_name             9.725
last_name              9.800
gender                 9.850
date_of_birth          9.725
Age                    9.500
Blood_group            9.825
City                   9.750
State                  9.700
address                9.850
country                9.700
medical_history        9.975
Registration_date      9.875
Contact_number       100.000
Marks                 99.500
dtype: float64

In [41]:
df[df.isnull().any(axis=1)]

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN

In [43]:
df[df.isnull().any(axis=1)].count()

Patient_ID           3613
first_name           3611
last_name            3608
gender               3606
date_of_birth        3611
Age                  3620
Blood_group          3607
City                 3610
State                3612
address              3606
country              3612
medical_history      3601
Registration_date    3605
Contact_number          0
Marks                  20
dtype: int64

In [44]:
df.duplicated().sum()

0

In [45]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3995    False
3996    False
3997    False
3998    False
3999    False
Length: 4000, dtype: bool

In [46]:
df.describe()

,Patient_ID,date_of_birth,Age,Registration_date,Contact_number,Marks
count,3613.000000,3611,3620.000000,3605,0.0,20.000000
mean,1997.203986,1977-06-25 08:10:54.001661568,49.044199,2019-01-20 19:46:45.104022016,NaN,210.000000
min,1.000000,1950-01-05 00:00:00,-5.000000,2015-01-02 00:00:00,NaN,150.000000
25%,992.000000,1963-07-13 12:00:00,33.000000,2017-02-21 00:00:00,NaN,150.000000
50%,1992.000000,1977-08-13 00:00:00,49.000000,2019-02-02 00:00:00,NaN,150.000000
75%,3006.000000,1990-10-31 12:00:00,64.000000,2021-01-10 00:00:00,NaN,300.000000
max,4000.000000,2004-12-30 00:00:00,240.000000,2022-12-31 00:00:00,NaN,300.000000
std,1160.435015,NaN,21.064441,NaN,NaN,75.393703

In [48]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)

In [49]:
df.head()

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN

In [50]:
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

In [52]:
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN

In [54]:
df.iloc[500:600].to_string()

'     Patient_ID first_name last_name gender date_of_birth    Age Blood_group         City State       address    country medical_history Registration_date  Contact_number  Marks\n500       501.0       John       NaN      M    1982-05-27   18.0         NaN     New York    AZ           NaN        NaN          Asthma        2017-10-03             NaN    NaN\n501       502.0        Jim       NaN      M    2002-11-29   19.0         AB-     New York    TX  202 Birch St      India          Cancer        2018-01-03             NaN    NaN\n502       503.0        NaN     Davis      M           NaT   55.0          A+     New York    AZ  101 Maple St      India          Asthma        2020-09-09             NaN    NaN\n503       504.0       Jack     Smith      F    2002-02-13   47.0          O-      Phoenix    NY   789 Pine St  Australia             NaN               NaT             NaN    NaN\n504       505.0       Jane       NaN      M    1991-03-17   26.0         AB-      Houston    AZ    456 Oak St         UK    Hypertension        2019-10-28             NaN    NaN\n505       506.0       John     Davis      F    1963-10-27   33.0          O+      Houston    AZ  101 Maple St  Australia        Diabetes        2022-02-27             NaN    NaN\n506       507.0       Jane     Smith      M    2002-06-10    NaN          O+     New York    CA    456 Oak St         UK             nan               NaT             NaN    NaN\n507         NaN        Jim     Brown      M    1980-12-16   67.0          A-      Houston    CA  101 Maple St        USA       Allergies        2021-10-17             NaN    NaN\n508       509.0       John       Doe      F    1972-12-21   60.0          B+  Los Angeles    NY  202 Birch St     Canada        Diabetes        2021-10-28             NaN    NaN\n509       510.0       Jack       Doe      F    1953-09-06   46.0          A+      Phoenix    AZ   123 Main St      India        Diabetes        2017-11-24             NaN    NaN\n510       511.0        Jim     Smith      F    1959-06-24   31.0          B+     New York    IL   789 Pine St         UK        Diabetes        2018-10-09             NaN    NaN\n511       512.0   J    ill     Smith      M    1960-10-12   29.0          O+      Houston    NY           NaN      India             nan        2022-08-01             NaN    NaN\n512       513.0       Jane     Brown      M    1996-11-02   31.0         NaN     New York    TX   123 Main St  Australia    Hypertension        2022-05-19             NaN    NaN\n513       514.0       Jack     Davis      F    1990-03-10   46.0          O-      Houston    NY   789 Pine St  Australia          Asthma        2022-03-03             NaN    NaN\n514         NaN       Jane     Brown      M    1974-03-03   18.0          B-      Phoenix    IL           NaN      India    Hypertension               NaT             NaN    NaN\n515       516.0       Jack     Davis      F           NaT   72.0          B+  Los Angeles    IL  202 Birch St      India             nan        2021-01-31             NaN    NaN\n516       517.0   J    ill     Davis      M    1950-01-15    NaN          B+  Los Angeles    AZ   123 Main St      India             nan        2017-04-24             NaN    NaN\n517       518.0       Jack     Smith      F    1980-09-29   50.0         AB+          NaN    TX   123 Main St     Canada        Diabetes        2015-07-02             NaN    NaN\n518       519.0        Jim     Brown      M    1968-12-09   44.0          B+      Houston    IL  202 Birch St  Australia       Allergies        2021-10-23             NaN    NaN\n519       520.0       John    Wilson      F    1958-12-13   71.0          A+      Houston    TX   123 Main St     Canada       Allergies               NaT             NaN    NaN\n520       521.0       Jack     Brown      F    2003-04-24   40.0          A+     New York    TX   789 Pine St        USA          Cancer        2018-12-23             NaN    NaN\n521       522.0       Jack       Doe      M    1999-07-12   20.0          A-  Los Angeles   NaN  101 Maple St  Australia             nan        2022-10-19             NaN    NaN\n522       523.0       Jack       Doe      F    1961-09-01   75.0         NaN  Los Angeles    IL   789 Pine St     Canada       Allergies        2021-04-25             NaN    NaN\n523         NaN       Jack       Doe      F    1982-08-23   57.0          O-      Chicago    IL  202 Birch St         UK             nan        2021-08-26             NaN    NaN\n524       525.0       Jack     Brown      M    1994-03-22   48.0          A-      Phoenix    IL    456 Oak St        USA    Hypertension        2015-11-26             NaN    NaN\n525       526.0   J    ill       Doe      M    1979-10-31   20.0          B+      Chicago    NY   123 Main St        USA       Allergies        2017-06-01             NaN    NaN\n526       527.0       Jane     Brown    NaN    2004-11-15   72.0          A-      Houston    NY  202 Birch St  Australia             NaN        2020-07-16             NaN    NaN\n527       528.0       Jane    Wilson      M    1976-06-12   55.0          B+          NaN    AZ  101 Maple St     Canada    Hypertension               NaT             NaN    NaN\n528         NaN       Jack    Wilson      M    1996-02-23   48.0          A-      Houston   NaN  101 Maple St      India       Allergies        2018-07-08             NaN    NaN\n529       530.0        Jim     Smith      F    1981-07-16   58.0         AB+     New York    NY    456 Oak St         UK          Asthma        2020-04-01             NaN    NaN\n530       531.0        NaN     Davis      M    1950-02-13    NaN         AB-  Los Angeles    CA   789 Pine St         UK          Asthma               NaT             NaN    NaN\n531       532.0        Jim       Doe      M    1959-03-02   25.0          O-          NaN    IL   789 Pine St  Australia          Asthma        2019-01-22             NaN    NaN\n532       533.0       Jane     Smith      M    1963-04-30   19.0          A-      Phoenix   NaN   123 Main St  Australia    Hypertension        2015-11-18             NaN    NaN\n533       534.0       Jack     Brown      F    1962-10-11   49.0          A-      Chicago    TX           NaN  Australia          Asthma        2018-01-24             NaN    NaN\n534       535.0       Jack     Smith      M    1997-10-15   71.0         AB-  Los Angeles   NaN    456 Oak St        USA             nan        2022-01-23             NaN    NaN\n535       536.0        Jim     Brown      F    1953-12-22    NaN          O-      Houston    TX  202 Birch St        USA       Allergies        2017-01-02             NaN    NaN\n536       537.0       Jack       NaN      F    1986-12-18   53.0         AB-     New York    CA  202 Birch St         UK          Cancer        2020-06-25             NaN    NaN\n537       538.0        NaN     Davis      M    1975-02-11   54.0          O-  Los Angeles    CA           NaN  Australia          Cancer        2016-03-13             NaN    NaN\n538       539.0   J    ill     Davis      F           NaT   78.0          A+  Los Angeles    IL           NaN     Canada          Cancer        2019-06-05             NaN    NaN\n539       540.0        NaN     Smith      F    2000-09-17   47.0          B-      Houston    IL           NaN     Canada       Allergies        2021-09-13             NaN    NaN\n540       541.0   J    ill     Davis      M    1987-03-30   61.0          A+  Los Angeles    CA  101 Maple St  Australia             nan        2019-07-21             NaN    NaN\n541       542.0        NaN     Davis      M    1986-06-12    NaN          A+      Houston    TX    456 Oak St        USA        Diabetes        2020-05-20             NaN    NaN\n542       543.0        Jim       NaN    NaN           NaT  240.0          O+          NaN    CA    456 Oak St  Australia        Diabetes        2019-03-18             NaN    NaN\n543       544.0        Jim    Wilson      M    1985-12-09    NaN          B+  Los Angeles    NY   123 Main St  Australia       Allergies        2022-12-23             NaN    NaN\n544       545.0       John       Doe      F    1987-04-26   65.0          O+      Chicago    TX   123 Main St      India          Asthma        2021-06-03             NaN    NaN\n545         NaN       John     Brown      F    2002-06-30   37.0         AB-      Phoenix   NaN  101 Maple St        USA             nan        2016-10-01             NaN    NaN\n546       547.0       John     Davis      F    1968-12-02   59.0          O-      Houston    CA    456 Oak St        NaN        Diabetes               NaT             NaN    NaN\n547         NaN        Jim    Wilson      M    1979-01-05   63.0          O+      Chicago    AZ    456 Oak St         UK       Allergies        2017-05-09             NaN    NaN\n548       549.0   J    ill     Smith      F    1959-06-27   64.0          A+          NaN    NY   123 Main St  Australia        Diabetes        2022-09-20             NaN    NaN\n549         NaN       John    Wilson      M    2003-12-19    NaN          O+  Los Angeles    TX   789 Pine St        NaN        Diabetes               NaT             NaN    NaN\n550       551.0   J    ill       NaN      M           NaT   63.0          O-     New York    CA   123 Main St        USA          Asthma        2021-07-01             NaN    NaN\n551       552.0        Jim    Wilson    NaN    1970-04-10   52.0          A+     New York    CA           NaN        NaN             nan               NaT             NaN    NaN\n552       553.0   J    ill     Davis      F    1978-05-16   78.0         AB+  Los Angeles    TX   123 Main St  Australia          Asthma               NaT             NaN    NaN\n553       554.0       Jane     Davis      M    1953-10-18   56.0          A+     New York    TX  101 Maple St  Australia    Hypertension        2017-08-12             NaN    NaN\n554       555.0       Jane       Doe      M    1968-09-29   76.0         AB-      Phoenix    CA   789 Pine St        NaN    Hypertension        2019-04-25             NaN    NaN\n555       556.0        NaN       NaN      M    1965-10-05   45.0          A-     New York    NY  202 Birch St        USA          Asthma        2021-12-17             NaN    NaN\n556       557.0   J    ill       Doe      F    1992-01-12   70.0          O-      Chicago    TX           NaN  Australia        Diabetes        2018-08-03             NaN    NaN\n557       558.0       John     Smith      M    1958-04-12   36.0          O-     New York    CA           NaN     Canada             NaN        2019-04-21             NaN    NaN\n558       559.0       Jack     Brown      F           NaT   63.0          O-  Los Angeles    CA   123 Main St     Canada       Allergies        2015-08-22             NaN    NaN\n559         NaN        NaN       NaN      M    1970-01-04   74.0          O-      Phoenix    IL  101 Maple St         UK        Diabetes        2015-09-27             NaN    NaN\n560       561.0       John     Davis      F    1970-09-04   32.0         AB-  Los Angeles    CA           NaN  Australia             NaN        2019-11-24             NaN    NaN\n561       562.0       Jane       Doe      F    1993-04-26   24.0          A-      Houston   NaN   789 Pine St  Australia          Cancer        2016-10-09             NaN    NaN\n562       563.0        NaN     Brown      M    1954-03-11    NaN          B-  Los Angeles    CA    456 Oak St        NaN             nan               NaT             NaN    NaN\n563       564.0       Jane     Brown      M    1976-12-18   71.0          A+      Phoenix    AZ   789 Pine St        USA             nan        2019-07-26             NaN    NaN\n564       565.0       John       Doe      M    1980-07-12   57.0         AB+  Los Angeles    TX  202 Birch St        NaN             NaN        2020-06-09             NaN    NaN\n565       566.0       Jane     Brown      F    1952-03-10   79.0         AB-          NaN    AZ  101 Maple St         UK       Allergies        2017-02-09             NaN    NaN\n566       567.0        Jim       Doe      M           NaT   37.0          O+      Chicago    AZ   123 Main St      India          Cancer               NaT             NaN    NaN\n567       568.0   J    ill     Smith      F    1983-01-06   32.0          A+  Los Angeles    TX  101 Maple St        USA          Asthma        2018-11-10             NaN    NaN\n568       569.0        Jim       NaN      M    1986-04-08   77.0         AB-  Los Angeles    IL    456 Oak St  Australia       Allergies        2018-05-14             NaN    NaN\n569       570.0       Jane    Wilson      M           NaT   55.0         AB-      Phoenix    NY  101 Maple St         UK          Asthma        2019-10-01             NaN    NaN\n570       571.0        Jim    Wilson      M    1964-01-04   64.0          A-      Chicago    CA    456 Oak St         UK    Hypertension        2019-09-03             NaN    NaN\n571       572.0   J    ill     Brown    NaN    1960-05-27   28.0          A+      Chicago    AZ   123 Main St        NaN        Diabetes        2015-02-28             NaN    NaN\n572       573.0       Jane     Davis      M    1953-04-17   56.0          A-      Chicago    IL  101 Maple St        USA             nan        2016-02-20             NaN    NaN\n573       574.0        Jim     Smith      M    1977-04-05   29.0          B+          NaN    CA    456 Oak St         UK          Asthma        2017-09-10             NaN    NaN\n574       575.0   J    ill     Brown      M    1994-12-08   32.0         NaN      Houston    IL   123 Main St         UK    Hypertension        2017-02-14             NaN    NaN\n575       576.0       Jane     Smith      F    1959-04-26   28.0          B+  Los Angeles    NY   123 Main St     Canada             nan        2018-05-02             NaN    NaN\n576       577.0       Jane     Smith      F    1971-08-29   66.0         AB+      Houston    TX           NaN        NaN             NaN        2017-06-29             NaN    NaN\n577       578.0       Jane    Wilson      F    1993-04-15    NaN         AB-  Los Angeles    CA   123 Main St  Australia       Allergies        2017-08-16             NaN    NaN\n578       579.0   J    ill     Brown      M    1987-03-27   70.0          B-  Los Angeles    AZ    456 Oak St  Australia        Diabetes        2015-10-02             NaN    NaN\n579       580.0       John     Davis      F    1996-05-11   62.0          B-      Houston    NY    456 Oak St      India          Asthma        2019-12-27             NaN    NaN\n580       581.0        NaN     Smith      M    1980-06-30   68.0          O+      Phoenix    AZ    456 Oak St      India    Hypertension        2016-01-30             NaN    NaN\n581       582.0       Jack     Smith      M    1973-05-09   36.0          B+      Chicago    IL  202 Birch St        USA    Hypertension        2016-09-03             NaN    NaN\n582       583.0       Jack     Smith      F           NaT   43.0          B-  Los Angeles    CA   123 Main St         UK          Cancer        2020-10-13             NaN    NaN\n583       584.0   J    ill       Doe      M    1963-02-24   38.0          B+  Los Angeles    IL  101 Maple St      India        Diabetes        2016-12-18             NaN    NaN\n584       585.0       Jack     Smith      M    2003-10-09   65.0          O-      Chicago    NY  101 Maple St         UK          Asthma        2018-02-19             NaN    NaN\n585       586.0   J    ill    Wilson      F    1950-09-04   43.0         AB-     New York    TX   789 Pine St      India          Cancer        2020-08-14             NaN    NaN\n586       587.0       John     Davis      F    1966-04-26   38.0          O-          NaN    TX           NaN        USA          Asthma        2018-06-10             NaN    NaN\n587       588.0       Jane     Davis      M    1972-11-27   73.0          B+      Houston   NaN           NaN     Canada    Hypertension        2018-11-29             NaN    NaN\n588       589.0       John       Doe      M    1989-10-09   61.0          A+      Phoenix    TX    456 Oak St         UK          Asthma        2022-11-25             NaN    NaN\n589       590.0        NaN       NaN      M    1964-03-16   66.0          O-  Los Angeles    CA  202 Birch St     Canada             nan        2018-01-05             NaN    NaN\n590       591.0       Jane       NaN      F    1963-07-21   64.0         NaN          NaN    NY   123 Main St        USA       Allergies        2019-06-08             NaN    NaN\n591       592.0        Jim     Brown      F    1972-04-21   42.0          B-      Phoenix    AZ   123 Main St        USA             NaN        2022-02-25             NaN    NaN\n592       593.0       Jane     Smith      F    1953-09-13   33.0         NaN      Chicago    NY   123 Main St      India             NaN               NaT             NaN    NaN\n593       594.0       Jane       NaN      M    1992-03-26   59.0         AB+      Chicago    AZ           NaN         UK             NaN        2019-03-08             NaN    NaN\n594       595.0        Jim       Doe      F    1958-12-17   39.0          A-      Phoenix    NY  202 Birch St     Canada          Asthma        2021-05-14             NaN    NaN\n595       596.0       Jack       Doe      F    1987-03-20   23.0          O-      Chicago    CA   789 Pine St        USA             nan        2020-09-14             NaN    NaN\n596       597.0       Jack    Wilson      M           NaT   59.0          B-     New York    CA  202 Birch St  Australia             NaN        2020-05-05             NaN    NaN\n597       598.0       Jane    Wilson      M    1980-11-02   48.0          B-      Houston   NaN   789 Pine St  Australia             nan        2016-11-02             NaN    NaN\n598       599.0       Jane     Brown      M    1953-11-08   25.0         AB+      Phoenix    IL  202 Birch St         UK          Asthma        2020-12-15             NaN    NaN\n599       600.0        NaN    Wilson      M    1994-08-05   36.0         AB+          NaN   NaN  101 Maple St      India       Allergies        2022-11-26             NaN    NaN'

In [55]:
df.to_csv("synthetic_student_data.csv", index=False)
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN

In [57]:
df.to_excel("student_data.xlsx", index=False)
df

,Patient_ID,first_name,last_name,gender,date_of_birth,Age,Blood_group,City,State,address,country,medical_history,Registration_date,Contact_number,Marks
0,1.0,John,Brown,NaN,1972-03-23,18.0,A-,Chicago,NY,101 Maple St,Australia,Allergies,NaT,NaN,NaN
1,2.0,J ill,Davis,NaN,1994-12-04,66.0,B-,Los Angeles,IL,789 Pine St,Australia,nan,2021-03-11,NaN,NaN
2,NaN,Jack,Doe,F,1971-11-02,33.0,O+,NaN,TX,789 Pine St,NaN,Diabetes,2016-03-14,NaN,NaN
3,4.0,Jim,Smith,M,1975-08-08,47.0,A-,New York,NaN,456 Oak St,Australia,Cancer,2019-10-13,NaN,NaN
4,5.0,John,Wilson,M,1976-01-21,27.0,B-,New York,IL,NaN,India,Asthma,2016-05-19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996.0,J ill,Davis,F,1960-07-16,35.0,B+,Chicago,IL,NaN,NaN,Allergies,2021-01-11,NaN,NaN
3996,3997.0,John,Smith,F,1972-08-13,63.0,O+,Chicago,AZ,101 Maple St,India,Allergies,NaT,NaN,NaN
3997,3998.0,J ill,Davis,M,1975-05-04,45.0,O-,Chicago,IL,101 Maple St,USA,Cancer,2016-02-04,NaN,NaN
3998,3999.0,Jane,Doe,F,1970-01-10,23.0,A-,Los Angeles,TX,456 Oak St,India,Asthma,2020-04-24,NaN,NaN
3999,4000.0,Jack,Smith,M,2003-10-01,54.0,AB-,Phoenix,AZ,789 Pine St,Canada,Diabetes,2017-06-24,NaN,NaN