In [1]:
import sqlite3 as sql

In [2]:
connection=sql.connect('data.db')

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
create table student(
    id integer PRIMARY KEY,
    name text not null,
    age integer
);''')

In [5]:
connection.commit()

In [6]:
cursor.execute("""
INSERT INTO student (id, name, age) VALUES
(1, 'Deepanshu', 23),
(2, 'Shivani', 24),
(3, 'Abhishek', 26),
(4, 'Rahul', 22),
(5, 'Neha', 21),
(6, 'Aman', 25),
(7, 'Pooja', 23),
(8, 'Karan', 24),
(9, 'Simran', 22),
(10, 'Rohit', 26)
""")

In [7]:
cursor.execute("select * from student")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Deepanshu', 23)
(2, 'Shivani', 24)
(3, 'Abhishek', 26)
(4, 'Rahul', 22)
(5, 'Neha', 21)
(6, 'Aman', 25)
(7, 'Pooja', 23)
(8, 'Karan', 24)
(9, 'Simran', 22)
(10, 'Rohit', 26)

In [8]:
import pandas as pd
df=pd.DataFrame(results)
df

    0          1   2
0   1  Deepanshu  23
1   2    Shivani  24
2   3   Abhishek  26
3   4      Rahul  22
4   5       Neha  21
5   6       Aman  25
6   7      Pooja  23
7   8      Karan  24
8   9     Simran  22
9  10      Rohit  26

In [9]:
connection.close()