In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [3]:
from sklearn.metrics import(confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score)

In [4]:
np.random.seed(42)
n = 500

In [6]:
data = pd.DataFrame({
    "attendance_rate": np.random.normal(75,10,n).clip(40,100),
    "avg_marks": np.random.normal(80,40,n).clip(30,100),
    "assignments_submitted": np.random.normal(80,15,n),
    #"disciplinary_cases":









})

In [7]:
data

     attendance_rate   avg_marks  assignments_submitted
0          79.967142  100.000000             100.990332
1          73.617357  100.000000              93.869505
2          81.476885   30.000000              80.894456
3          90.230299  100.000000              70.295948
4          72.658466   53.974297              90.473350
..               ...         ...                    ...
495        80.389100   68.755988             110.091393
496        64.627538  100.000000             110.922554
497        73.096613  100.000000              98.125493
498        66.243817   57.152840              95.360938
499        61.172003  100.000000              88.887904

[500 rows x 3 columns]

In [ ]:
data["dropout" = (
    (data[""]<60)|
    ()
)