In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
n = 500
df = pd.DataFrame({
    "Age": np.random.randint(18, 60, size=n),
    "CGPA": np.random.randint(0, 120, size=n),
    "Internships_Count": np.random.randint(0, 10, size=n),
    "Technical_Score": np.random.randint(0, 120, size=n),
    "Attendance_Percentage": np.random.randint(50, 101, size=n),
})
df

     Age  CGPA  Internships_Count  Technical_Score  Attendance_Percentage
0     18    90                  6               26                     86
1     21    51                  1               84                     78
2     21   102                  7                5                     50
3     57    46                  7               88                     60
4     27    80                  0               17                     63
..   ...   ...                ...              ...                    ...
495   44    43                  3                9                     80
496   40   110                  9               85                     62
497   30    69                  5               66                     84
498   33   118                  4                9                     53
499   52    19                  0              110                     90

[500 rows x 5 columns]

In [3]:
np.random.seed(42)
n = 230
data={
    'student_ID': np.arange(100,150,n),
    'age': np.random.randint(18, 30,n),
    'marks': np.random.randint(40, 100, n),
    'grade': np.random.choice(['A', 'B', 'C'],n),
    'department': np.random.choice(["Physics", "Chemistry", "Mathematics"],n)

}

In [5]:
df

     Age  CGPA  Internships_Count  Technical_Score  Attendance_Percentage
0     18    90                  6               26                     86
1     21    51                  1               84                     78
2     21   102                  7                5                     50
3     57    46                  7               88                     60
4     27    80                  0               17                     63
..   ...   ...                ...              ...                    ...
495   44    43                  3                9                     80
496   40   110                  9               85                     62
497   30    69                  5               66                     84
498   33   118                  4                9                     53
499   52    19                  0              110                     90

[500 rows x 5 columns]

In [7]:
df =  pd.DataFrame(data)
df

ValueError: All arrays must be of the same length