In [9]:
import sqlite3 as sql

In [11]:
connection=sql.connect('data.db')

In [12]:
cursor=connection.cursor()

In [13]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS student (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
);
''')

In [14]:
connection.commit()

In [15]:
cursor.execute("insert into student (name, age) values ('Shivani', 22)")

In [18]:
cursor.execute("select* from student")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Shivani', 22)

In [19]:
import pandas as pd
df=pd.DataFrame(results)
df

   0        1   2
0  1  Shivani  22

In [ ]:
connection.close()