In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
headers = {
"User-Agent": "Mozilla/5.0"
}

In [12]:
url = "https://finance.yahoo.com/markets/crypto/gainers/"
response = requests.get(url, headers=headers)

In [13]:
soup = BeautifulSoup(response.text, "html.parser")

In [14]:
table = soup.find("table")
if table is None:
	print("Table not found. The data may be loaded dynamically")
	rows = []
else:
	tbody = table.find("tbody")
	if tbody is None:
		rows = []
	else:
		rows = tbody.find_all("tr")

In [15]:
data = []

In [16]:
for row in rows:
    cols = row.find_all("td")
data.append([col.get_text(strip=True) for col in cols])
data
print(data[0])
print(len(data[0]))

['UUI-USD', 'UIUI USD', '', '0.00+0.00(+261.19%)', '+0.00', '+261.19%', '42,423', '20,176', '20,176', '20,176', '600M', '-99.60%', '0.000.02']
13

In [17]:
columns=[
"Symbol",
"Name",
" ",
"Price",
"Change",
"% Change",
"Market Cap",
"Volume ",
"Volume in currency( 24 hr)",
"Volume in all currencies(in 24 hr)",
"Circulating Supply",
"52 Weeks Change%",
" "
]

In [18]:
df = pd.DataFrame(data, columns=columns)
df.head()

,Symbol,Name,,Price,Change,% Change,Market Cap,Volume,Volume in currency( 24 hr),Volume in all currencies(in 24 hr),Circulating Supply,52 Weeks Change%,
0,UUI-USD,UIUI USD,,0.00+0.00(+261.19%),+0.00,+261.19%,"42,423","20,176","20,176","20,176",600M,-99.60%,0.000.02

In [19]:
df.to_csv("Top Gainer Crypto currency.csv")

In [20]:
df.shape

(1, 13)

In [21]:
df.describe()

,Symbol,Name,,Price,Change,% Change,Market Cap,Volume,Volume in currency( 24 hr),Volume in all currencies(in 24 hr),Circulating Supply,52 Weeks Change%,
count,1,1,1,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1,1,1,1
top,UUI-USD,UIUI USD,,0.00+0.00(+261.19%),+0.00,+261.19%,"42,423","20,176","20,176","20,176",600M,-99.60%,0.000.02
freq,1,1,1,1,1,1,1,1,1,1,1,1,1

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Symbol                              1 non-null      object
 1   Name                                1 non-null      object
 2                                       1 non-null      object
 3   Price                               1 non-null      object
 4   Change                              1 non-null      object
 5   % Change                            1 non-null      object
 6   Market Cap                          1 non-null      object
 7   Volume                              1 non-null      object
 8   Volume in currency( 24 hr)          1 non-null      object
 9   Volume in all currencies(in 24 hr)  1 non-null      object
 10  Circulating Supply                  1 non-null      object
 11  52 Weeks Change%                    1 non-null      object
 12                                      1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes

In [23]:
df.head()

,Symbol,Name,,Price,Change,% Change,Market Cap,Volume,Volume in currency( 24 hr),Volume in all currencies(in 24 hr),Circulating Supply,52 Weeks Change%,
0,UUI-USD,UIUI USD,,0.00+0.00(+261.19%),+0.00,+261.19%,"42,423","20,176","20,176","20,176",600M,-99.60%,0.000.02

In [24]:
df.isnull().sum()

Symbol                                0
Name                                  0
                                      0
Price                                 0
Change                                0
% Change                              0
Market Cap                            0
Volume                                0
Volume in currency( 24 hr)            0
Volume in all currencies(in 24 hr)    0
Circulating Supply                    0
52 Weeks Change%                      0
                                      0
dtype: int64