In [5]:
import numpy as np 
import pandas as pd 
 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC




from sklearn.metrics import(confusion_matrix, accuracy_score, recall_score, f1_score, roc_auc_score )

In [7]:
np.random.seed(42)
n = 500

In [10]:
data = pd.DataFrame({
    "attendance_rate":np.random.normal(75,10,n).clip(40,100),
    "avg_marks":np.random.normal(80,40,n).clip(30,100),
    "assignment_submitted":np.random.normal(80,15,n).clip(20,100),
    "disciplinary_cases":np.random.poisson(1.2,n)
})

In [11]:
data

     attendance_rate   avg_marks  assignment_submitted  disciplinary_cases
0          79.967142  100.000000            100.000000                   0
1          73.617357  100.000000             93.869505                   2
2          81.476885   30.000000             80.894456                   0
3          90.230299  100.000000             70.295948                   1
4          72.658466   53.974297             90.473350                   2
..               ...         ...                   ...                 ...
495        80.389100   68.755988            100.000000                   2
496        64.627538  100.000000            100.000000                   0
497        73.096613  100.000000             98.125493                   0
498        66.243817   57.152840             95.360938                   2
499        61.172003  100.000000             88.887904                   1

[500 rows x 4 columns]

In [15]:
data["dropout"] = (
    (data["attendance_rate"]<60) |
    (data["avg_marks"]<50) |
    (data["disciplinary_cases"]>3)
)
data

,attendance_rate,avg_marks,assignment_submitted,disciplinary_cases,dropout
0,79.967142,100.000000,100.000000,0,False
1,73.617357,100.000000,93.869505,2,False
2,81.476885,30.000000,80.894456,0,True
3,90.230299,100.000000,70.295948,1,False
4,72.658466,53.974297,90.473350,2,False
...,...,...,...,...,...
495,80.389100,68.755988,100.000000,2,False
496,64.627538,100.000000,100.000000,0,False
497,73.096613,100.000000,98.125493,0,False
498,66.243817,57.152840,95.360938,2,False
499,61.172003,100.000000,88.887904,1,False

In [17]:
x = data.drop("dropout",axis = 1)
data

,attendance_rate,avg_marks,assignment_submitted,disciplinary_cases,dropout
0,79.967142,100.000000,100.000000,0,False
1,73.617357,100.000000,93.869505,2,False
2,81.476885,30.000000,80.894456,0,True
3,90.230299,100.000000,70.295948,1,False
4,72.658466,53.974297,90.473350,2,False
...,...,...,...,...,...
495,80.389100,68.755988,100.000000,2,False
496,64.627538,100.000000,100.000000,0,False
497,73.096613,100.000000,98.125493,0,False
498,66.243817,57.152840,95.360938,2,False
499,61.172003,100.000000,88.887904,1,False

In [18]:
y = data["dropout"]
data

,attendance_rate,avg_marks,assignment_submitted,disciplinary_cases,dropout
0,79.967142,100.000000,100.000000,0,False
1,73.617357,100.000000,93.869505,2,False
2,81.476885,30.000000,80.894456,0,True
3,90.230299,100.000000,70.295948,1,False
4,72.658466,53.974297,90.473350,2,False
...,...,...,...,...,...
495,80.389100,68.755988,100.000000,2,False
496,64.627538,100.000000,100.000000,0,False
497,73.096613,100.000000,98.125493,0,False
498,66.243817,57.152840,95.360938,2,False
499,61.172003,100.000000,88.887904,1,False

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0,random_state=41)

InvalidParameterError: The 'test_size' parameter of train_test_split must be a float in the range (0.0, 1.0), an int in the range [1, inf) or None. Got 0 instead.