<div style ="background-color: #002147; padding: 20px; text-align: center; color: white; font-size: 32px; font-family: Arial;">Data acquisition : </div>

In [5]:
import csv
header = ['Name', 'Age', 'City']
rows = [['amit',32,'ambala'], ['sumit',28,'delhi'], ['rahul',30,'bangalore']] 
header

['Name', 'Age', 'City']

In [6]:
rows

[['amit', 32, 'ambala'], ['sumit', 28, 'delhi'], ['rahul', 30, 'bangalore']]

In [7]:
with open('friends.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

print("CSV file created successfully.")

CSV file created successfully.

In [10]:
import json
data = [{"NAME": "Amit", "AGE": 32, "CITY": "Ambala"},
        {"NAME": "Sumit", "AGE": 28, "CITY": "Delhi"},
        {"NAME": "Rahul", "AGE": 30, "CITY": "Bangalore"}]

In [11]:
with open('students.json', mode='w') as file:
    json.dump(data, file, indent=4)

In [12]:
import sqlite3 as sql

In [13]:
connection = sql.connect('demo.db')

In [14]:
cursor = connection.cursor()

In [15]:
cursor.execute("create table students (id integer PRIMARY KEY, name text not null, age integer)");

In [22]:
connection.commit()

In [23]:
cursor.execute("insert into students (id, name, age) values (1, 'Amit', 32)");

In [25]:
cursor.execute("select * from students")
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Amit', 32)

In [26]:
import pandas as pd
df = pd.DataFrame(results)
df

   0     1   2
0  1  Amit  32