In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

n = 500

df = pd.DataFrame({
    "Age": np.random.randint(20, 26, n),
    "CGPA": np.round(np.random.uniform(6.0, 9.5, n), 2),
    "Internship_Count": np.random.randint(0, 4, n),
    "Technical_Score": np.random.randint(50, 100, n),
    "Attendance_Percentage": np.random.randint(60, 100, n),
})


df["Placed"] = np.where(
    (df["CGPA"] > 7.5) & (df["Technical_Score"] > 70) , "Yes", "No")


df

,Age,CGPA,Internship_Count,Technical_Score,Attendance_Percentage,Placed
0,23,6.61,2,94,74,No
1,24,7.52,0,95,65,Yes
2,22,7.39,3,59,79,No
3,24,8.16,0,92,73,Yes
4,24,8.22,0,83,61,Yes
...,...,...,...,...,...,...
495,23,7.27,3,98,83,No
496,21,8.03,3,98,78,Yes
497,21,8.21,0,93,64,Yes
498,24,6.05,2,77,91,No
499,23,8.32,1,96,60,Yes

In [2]:
df.shape

(500, 6)

In [3]:
bootstrap= df.sample(n=200, replace= True, random_state=42)
df_aug = pd.concat([df, bootstrap], ignore_index=True)
df_aug

,Age,CGPA,Internship_Count,Technical_Score,Attendance_Percentage,Placed
0,23,6.61,2,94,74,No
1,24,7.52,0,95,65,Yes
2,22,7.39,3,59,79,No
3,24,8.16,0,92,73,Yes
4,24,8.22,0,83,61,Yes
...,...,...,...,...,...,...
695,23,8.88,3,94,74,Yes
696,21,6.57,2,77,72,No
697,24,6.05,1,52,72,No
698,20,7.21,1,92,99,No
699,20,9.17,1,73,70,Yes

In [4]:
noise  = df.sample(n=150, random_state=42).copy()

noise["CGPA"] += np.random.normal(0, 0.1, 150)
noise["Technical_Score"] += np.random.normal(-3, 4, 150)
noise["Attendance_Percentage"] += np.random.normal(0, 2, 150)

noise["CGPA"] = noise["CGPA"].clip(6.0, 9.5)
noise["Technical_Score"] = noise["Technical_Score"].clip(50, 100)
noise["Attendance_Percentage"] = noise["Attendance_Percentage"].clip(60, 100)

df_aug = pd.concat([df_aug, noise], ignore_index=True)

In [5]:
df_aug

,Age,CGPA,Internship_Count,Technical_Score,Attendance_Percentage,Placed
0,23,6.610000,2,94.000000,74.000000,No
1,24,7.520000,0,95.000000,65.000000,Yes
2,22,7.390000,3,59.000000,79.000000,No
3,24,8.160000,0,92.000000,73.000000,Yes
4,24,8.220000,0,83.000000,61.000000,Yes
...,...,...,...,...,...,...
845,20,7.779730,3,70.665801,64.801871,Yes
846,21,7.308858,1,61.729707,96.328092,No
847,20,7.282875,0,50.000000,83.794246,No
848,21,6.240868,3,67.878237,63.596508,No
849,21,6.977639,3,62.973756,95.608278,No

In [6]:
%pip install -U "scikit-learn==1.2.2" imbalanced-learn

Requirement already satisfied: scikit-learn==1.2.2 in c:\users\abhishek\appdata\local\programs\python\python311\lib\site-packages (1.2.2)
Requirement already satisfied: imbalanced-learn in c:\users\abhishek\appdata\local\programs\python\python311\lib\site-packages (0.12.4)
Collecting imbalanced-learn
  Obtaining dependency information for imbalanced-learn from https://files.pythonhosted.org/packages/65/60/103dc71019ec2fa987f42f9dbe88641a74edc57f8499fac8896955b66065/imbalanced_learn-0.14.0-py3-none-any.whl.metadata
  Using cached imbalanced_learn-0.14.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\abhishek\appdata\roaming\python\python311\site-packages (from scikit-learn==1.2.2) (2.3.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\abhishek\appdata\roaming\python\python311\site-packages (from scikit-learn==1.2.2) (1.16.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\abhishek\appdata\roaming\python\python311\site-packages (from scikit-learn==1.2.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abhishek\appdata\roaming\python\python311\site-packages (from scikit-learn==1.2.2) (3.6.0)
INFO: pip is looking at multiple versions of imbalanced-learn to determine which version is compatible with other requirements. This could take a while.
  Obtaining dependency information for imbalanced-learn from https://files.pythonhosted.org/packages/9d/41/721fec82606242a2072ee909086ff918dfad7d0199a9dfd4928df9c72494/imbalanced_learn-0.13.0-py3-none-any.whl.metadata
  Using cached imbalanced_learn-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
from imblearn.over_sampling import SMOTE

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [ ]:
x = df_aug.drop("Placed", axis=1)
y = df_aug["Placed"]
x

     Age  CGPA  Internship_Count  Technical_Score  Attendance_Percentage
0     23  6.61                 2               94                     74
1     24  7.52                 0               95                     65
2     22  7.39                 3               59                     79
3     24  8.16                 0               92                     73
4     24  8.22                 0               83                     61
..   ...   ...               ...              ...                    ...
695   23  8.88                 3               94                     74
696   21  6.57                 2               77                     72
697   24  6.05                 1               52                     72
698   20  7.21                 1               92                     99
699   20  9.17                 1               73                     70

[700 rows x 5 columns]

In [ ]:
y

0       No
1      Yes
2       No
3      Yes
4      Yes
      ...
695    Yes
696     No
697     No
698     No
699    Yes
Name: Placed, Length: 700, dtype: object

In [8]:
smote = SMOTE(sampling_strategy=0.8, random_state=42)

NameError: name 'SMOTE' is not defined