# synthetic data creation

In [39]:
import pandas as pd
import numpy as np

In [40]:
data = {"Student_ID":[101,102,103,104,105],
        "Name":["Amit","Suman","Ravi","Anjali","Priya"],
        "Age":[23,22,24,23,22],
       "Marks":[85,90,78,92,88],
        "Department":["CSE","ECE","ME","CSE","ECE"]
        }

In [41]:
df = pd.DataFrame(data)
df

   Student_ID    Name  Age  Marks Department
0         101    Amit   23     85        CSE
1         102   Suman   22     90        ECE
2         103    Ravi   24     78         ME
3         104  Anjali   23     92        CSE
4         105   Priya   22     88        ECE

In [42]:
data = {"Student_ID":[101,102,103,104,None,],
        "Name":["Amit","Suman","Ravi",None,"Priya"],
        "Age":[23,22,24,23,24],
       "Marks":[85,90,78,92,"Pass"],
        "Department":["CSE","ECE","ME",None,"ECE"]
        }
df = pd.DataFrame(data)
df

   Student_ID   Name  Age Marks Department
0       101.0   Amit   23    85        CSE
1       102.0  Suman   22    90        ECE
2       103.0   Ravi   24    78         ME
3       104.0   None   23    92       None
4         NaN  Priya   24  Pass        ECE

In [43]:
import numpy as np
np.random.seed(42)
#n = 10
print(np.random.randint(1, 100, 10))

[52 93 15 72 61 21 83 87 75 75]

In [44]:
np.random.seed(41)
n = 1000
data = {"Student_ID": np.arange(101,101+n), "Age": np.random.randint(18,24,size=n), "Marks": np.random.randint(40,100,size=n), "Department": np.random.choice(["CSE","ECE","ME","ECE"], size=n)}
df = pd.DataFrame(data)
print(len(df))

1000

In [45]:
df.head()

   Student_ID  Age  Marks Department
0         101   18     92        ECE
1         102   21     56        CSE
2         103   22     65         ME
3         104   20     46         ME
4         105   18     80        CSE

In [46]:
for col in ["Age","Marks","Department"]:
    df.loc[df.sample(frac=0.05).index, col] = np.nan

# add a small sample of duplicate rows
df = pd.concat([df, df.sample(20)], ignore_index=True)

# set some Age values to null
df.loc[df.sample(10).index, "Age"] = np.nan

df.head()

   Student_ID   Age  Marks Department
0         101  18.0   92.0        ECE
1         102  21.0   56.0        CSE
2         103  22.0   65.0         ME
3         104   NaN   46.0         ME
4         105  18.0   80.0        CSE

In [47]:
df.loc[df.sample(10).index, "Marks"] = np.nan

df.head()

   Student_ID   Age  Marks Department
0         101  18.0   92.0        ECE
1         102  21.0   56.0        CSE
2         103  22.0   65.0         ME
3         104   NaN   46.0         ME
4         105  18.0   80.0        CSE

In [48]:
df["Department"] = df["Department"].astype(str)
df.loc[df.sample(frac=0.1).index, "Department"] = df["Department"].str.lower()
df.head()

   Student_ID   Age  Marks Department
0         101  18.0   92.0        ECE
1         102  21.0   56.0        CSE
2         103  22.0   65.0         ME
3         104   NaN   46.0         ME
4         105  18.0   80.0        cse

In [49]:
df.tail()

      Student_ID   Age  Marks Department
1015         995   NaN   63.0        ECE
1016         152  22.0   90.0        CSE
1017         919  21.0   91.0        ece
1018         630   NaN   91.0        ECE
1019         783  21.0   97.0        ECE

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  1020 non-null   int64
 1   Age         957 non-null    float64
 2   Marks       961 non-null    float64
 3   Department  1020 non-null   object
dtypes: float64(2), int64(1), object(1)
memory usage: 32.0+ KB

In [51]:
df.isnull().sum()

Student_ID     0
Age           63
Marks         59
Department     0
dtype: int64

In [52]:
df.describe()

        Student_ID         Age       Marks
count  1020.000000  957.000000  961.000000
mean    599.191176   20.473354   69.703434
std     288.302316    1.704219   17.432085
min     101.000000   18.000000   40.000000
25%     350.750000   19.000000   54.000000
50%     598.500000   20.000000   70.000000
75%     847.250000   22.000000   85.000000
max    1100.000000   23.000000   99.000000

In [53]:
pd.reset_option('display.max_rows')
df

      Student_ID   Age  Marks Department
0            101  18.0   92.0        ECE
1            102  21.0   56.0        CSE
2            103  22.0   65.0         ME
3            104   NaN   46.0         ME
4            105  18.0   80.0        cse
...          ...   ...    ...        ...
1015         995   NaN   63.0        ECE
1016         152  22.0   90.0        CSE
1017         919  21.0   91.0        ece
1018         630   NaN   91.0        ECE
1019         783  21.0   97.0        ECE

[1020 rows x 4 columns]

In [54]:
df.iloc[500:600].to_string( )

'     Student_ID   Age  Marks Department\n500         601  21.0    NaN        ECE\n501         602  19.0   72.0         ME\n502         603  20.0   90.0         ME\n503         604  20.0   64.0        ECE\n504         605  21.0   67.0         ME\n505         606  22.0   90.0         ME\n506         607  21.0   49.0        ECE\n507         608  18.0   86.0        CSE\n508         609  22.0   66.0        ECE\n509         610  19.0   73.0        ECE\n510         611  22.0   72.0        CSE\n511         612  21.0   77.0        CSE\n512         613  21.0   59.0         ME\n513         614  21.0   71.0         ME\n514         615  23.0   77.0         ME\n515         616   NaN   71.0        ECE\n516         617  20.0   57.0        CSE\n517         618   NaN   97.0        ECE\n518         619  22.0    NaN        nan\n519         620  20.0   60.0        ECE\n520         621  20.0   45.0        ECE\n521         622  18.0   61.0         ME\n522         623  21.0   83.0        ECE\n523         624  18.0   56.0        ECE\n524         625  23.0   64.0        CSE\n525         626  18.0   45.0        nan\n526         627  22.0   90.0        ECE\n527         628  20.0   41.0         ME\n528         629  18.0   43.0        ECE\n529         630   NaN   91.0        ECE\n530         631  23.0   91.0        CSE\n531         632  18.0   54.0         me\n532         633   NaN   51.0        ECE\n533         634  19.0   66.0        CSE\n534         635  23.0   60.0        ECE\n535         636  23.0   61.0         ME\n536         637  23.0   69.0         ME\n537         638  23.0   70.0        ece\n538         639  19.0   61.0        CSE\n539         640   NaN   84.0        ECE\n540         641  19.0   93.0        ECE\n541         642  19.0   63.0        ECE\n542         643  19.0   72.0        ECE\n543         644  20.0   82.0        CSE\n544         645  18.0   61.0         ME\n545         646  23.0   64.0        ECE\n546         647  18.0   84.0        ECE\n547         648  21.0   65.0         ME\n548         649  21.0   60.0        ECE\n549         650  23.0   72.0         me\n550         651  21.0   82.0        nan\n551         652  19.0    NaN        ece\n552         653  21.0   78.0        ECE\n553         654  21.0   66.0        ECE\n554         655  19.0   51.0        ECE\n555         656  21.0   64.0        CSE\n556         657  20.0   62.0        ECE\n557         658  23.0   54.0        ECE\n558         659  19.0   71.0        ece\n559         660  20.0   64.0        ECE\n560         661  18.0   42.0        ECE\n561         662  20.0   88.0        ECE\n562         663  22.0   66.0        ECE\n563         664  18.0   89.0        ECE\n564         665  23.0   90.0        ECE\n565         666  18.0   66.0        ECE\n566         667  23.0    NaN        nan\n567         668  22.0   60.0        ECE\n568         669  23.0   75.0        CSE\n569         670  21.0   58.0        CSE\n570         671  18.0   73.0        nan\n571         672  22.0   76.0         ME\n572         673  18.0   90.0        CSE\n573         674  21.0   91.0        ECE\n574         675  19.0   81.0        ECE\n575         676   NaN   90.0        cse\n576         677  18.0   97.0        ECE\n577         678  22.0    NaN        ece\n578         679  23.0   43.0        CSE\n579         680  20.0   65.0        ece\n580         681  19.0    NaN        CSE\n581         682  23.0   52.0         ME\n582         683  18.0   97.0        CSE\n583         684  21.0   47.0        CSE\n584         685  21.0   59.0         ME\n585         686  21.0   89.0        ECE\n586         687  22.0   49.0        ece\n587         688  20.0   61.0        CSE\n588         689  18.0   86.0         ME\n589         690  21.0   61.0        ECE\n590         691  19.0   85.0         me\n591         692  22.0   52.0        ECE\n592         693  23.0   52.0        nan\n593         694  22.0   91.0         ME\n594         695  20.0   87.0         ME\n595         696  19.0   61.0        ECE\n596         697  23.0   71.0        ECE\n597         698  19.0   81.0        CSE\n598         699  21.0   90.0        ECE\n599         700  22.0   59.0        ECE'

In [55]:
df.to_csv()

',Student_ID,Age,Marks,Department\r\n0,101,18.0,92.0,ECE\r\n1,102,21.0,56.0,CSE\r\n2,103,22.0,65.0,ME\r\n3,104,,46.0,ME\r\n4,105,18.0,80.0,cse\r\n5,106,19.0,72.0,CSE\r\n6,107,21.0,,ECE\r\n7,108,19.0,88.0,ECE\r\n8,109,23.0,51.0,ECE\r\n9,110,20.0,41.0,ECE\r\n10,111,23.0,70.0,CSE\r\n11,112,22.0,77.0,ECE\r\n12,113,,73.0,ME\r\n13,114,21.0,50.0,ECE\r\n14,115,21.0,70.0,ME\r\n15,116,20.0,49.0,CSE\r\n16,117,18.0,57.0,CSE\r\n17,118,22.0,68.0,ECE\r\n18,119,23.0,52.0,ECE\r\n19,120,19.0,96.0,ECE\r\n20,121,21.0,77.0,ME\r\n21,122,22.0,82.0,ME\r\n22,123,18.0,46.0,CSE\r\n23,124,21.0,98.0,ECE\r\n24,125,22.0,81.0,CSE\r\n25,126,22.0,83.0,ece\r\n26,127,19.0,69.0,ME\r\n27,128,23.0,65.0,me\r\n28,129,20.0,,ME\r\n29,130,20.0,76.0,ECE\r\n30,131,19.0,48.0,cse\r\n31,132,22.0,40.0,ME\r\n32,133,23.0,95.0,ece\r\n33,134,21.0,80.0,CSE\r\n34,135,23.0,,ECE\r\n35,136,23.0,65.0,ME\r\n36,137,20.0,49.0,ECE\r\n37,138,20.0,48.0,ME\r\n38,139,20.0,71.0,nan\r\n39,140,22.0,97.0,ME\r\n40,141,21.0,85.0,ECE\r\n41,142,19.0,99.0,nan\r\n42,143,22.0,66.0,ECE\r\n43,144,22.0,72.0,ECE\r\n44,145,20.0,45.0,ECE\r\n45,146,21.0,66.0,nan\r\n46,147,22.0,60.0,ME\r\n47,148,23.0,78.0,ECE\r\n48,149,22.0,72.0,ECE\r\n49,150,23.0,43.0,CSE\r\n50,151,23.0,40.0,CSE\r\n51,152,22.0,90.0,CSE\r\n52,153,20.0,82.0,CSE\r\n53,154,23.0,83.0,ME\r\n54,155,22.0,86.0,ME\r\n55,156,,,ME\r\n56,157,23.0,81.0,me\r\n57,158,23.0,52.0,ECE\r\n58,159,18.0,57.0,CSE\r\n59,160,,92.0,ME\r\n60,161,,57.0,ME\r\n61,162,20.0,71.0,ME\r\n62,163,19.0,87.0,ECE\r\n63,164,22.0,46.0,CSE\r\n64,165,19.0,49.0,ECE\r\n65,166,19.0,45.0,ECE\r\n66,167,23.0,41.0,ME\r\n67,168,23.0,77.0,ECE\r\n68,169,20.0,48.0,CSE\r\n69,170,22.0,61.0,CSE\r\n70,171,22.0,,me\r\n71,172,23.0,42.0,ECE\r\n72,173,22.0,73.0,ME\r\n73,174,21.0,53.0,ECE\r\n74,175,18.0,92.0,ece\r\n75,176,21.0,52.0,ece\r\n76,177,23.0,93.0,cse\r\n77,178,23.0,61.0,nan\r\n78,179,20.0,54.0,CSE\r\n79,180,23.0,78.0,CSE\r\n80,181,23.0,50.0,CSE\r\n81,182,20.0,96.0,ECE\r\n82,183,23.0,48.0,ECE\r\n83,184,18.0,99.0,ME\r\n84,185,20.0,52.0,ECE\r\n85,186,23.0,95.0,ECE\r\n86,187,,67.0,ECE\r\n87,188,20.0,57.0,ME\r\n88,189,20.0,79.0,nan\r\n89,190,18.0,51.0,ECE\r\n90,191,19.0,52.0,CSE\r\n91,192,20.0,60.0,nan\r\n92,193,20.0,82.0,ECE\r\n93,194,18.0,76.0,ECE\r\n94,195,20.0,56.0,ME\r\n95,196,23.0,52.0,ME\r\n96,197,20.0,74.0,ME\r\n97,198,18.0,79.0,ECE\r\n98,199,18.0,50.0,me\r\n99,200,20.0,95.0,ECE\r\n100,201,19.0,89.0,ME\r\n101,202,22.0,50.0,ECE\r\n102,203,23.0,,CSE\r\n103,204,18.0,94.0,ECE\r\n104,205,22.0,58.0,ECE\r\n105,206,19.0,61.0,ME\r\n106,207,23.0,94.0,CSE\r\n107,208,19.0,70.0,ECE\r\n108,209,19.0,71.0,ECE\r\n109,210,20.0,74.0,CSE\r\n110,211,20.0,82.0,ECE\r\n111,212,19.0,75.0,ME\r\n112,213,19.0,52.0,ECE\r\n113,214,20.0,90.0,CSE\r\n114,215,19.0,,CSE\r\n115,216,18.0,47.0,ECE\r\n116,217,19.0,92.0,ECE\r\n117,218,,,CSE\r\n118,219,21.0,46.0,ece\r\n119,220,21.0,45.0,ECE\r\n120,221,20.0,52.0,ECE\r\n121,222,20.0,94.0,CSE\r\n122,223,19.0,42.0,ece\r\n123,224,21.0,59.0,ME\r\n124,225,18.0,58.0,CSE\r\n125,226,19.0,57.0,CSE\r\n126,227,19.0,94.0,ECE\r\n127,228,23.0,54.0,CSE\r\n128,229,,61.0,nan\r\n129,230,18.0,78.0,ME\r\n130,231,20.0,50.0,nan\r\n131,232,20.0,49.0,CSE\r\n132,233,22.0,77.0,CSE\r\n133,234,22.0,,ECE\r\n134,235,18.0,77.0,cse\r\n135,236,22.0,88.0,ECE\r\n136,237,19.0,70.0,ECE\r\n137,238,,66.0,ECE\r\n138,239,22.0,91.0,ME\r\n139,240,23.0,63.0,ECE\r\n140,241,21.0,61.0,CSE\r\n141,242,21.0,77.0,ECE\r\n142,243,18.0,67.0,ECE\r\n143,244,23.0,93.0,ME\r\n144,245,20.0,41.0,ECE\r\n145,246,21.0,51.0,ME\r\n146,247,,49.0,ECE\r\n147,248,,72.0,CSE\r\n148,249,20.0,84.0,ECE\r\n149,250,21.0,88.0,ECE\r\n150,251,19.0,51.0,ME\r\n151,252,20.0,91.0,CSE\r\n152,253,18.0,88.0,ECE\r\n153,254,20.0,92.0,CSE\r\n154,255,20.0,92.0,CSE\r\n155,256,19.0,58.0,ME\r\n156,257,19.0,54.0,ECE\r\n157,258,19.0,84.0,me\r\n158,259,22.0,89.0,nan\r\n159,260,22.0,90.0,ME\r\n160,261,22.0,95.0,ECE\r\n161,262,20.0,41.0,ME\r\n162,263,,56.0,ECE\r\n163,264,18.0,45.0,ECE\r\n164,265,18.0,92.0,ECE\r\n165,266,,45.0,ECE\r\n166,267,23.0,65.0,ECE\r\n167,268,20.0,78.0,ECE\r\n168,269,22.0,49.0,ECE\r\n169,270,21.0,42.0,ECE\r\n170,271,22.0,54.0,ECE\r\n171,272,23.0,,ECE\r\n172,273,21.0,70.0,CSE\r\n173,274,18.0,68.0,ece\r\n174,275,23.0,82.0,ECE\r\n175,276,19.0,57.0,CSE\r\n176,277,19.0,84.0,ME\r\n177,278,18.0,70.0,ECE\r\n178,279,20.0,92.0,ECE\r\n179,280,18.0,45.0,nan\r\n180,281,20.0,44.0,CSE\r\n181,282,23.0,72.0,ECE\r\n182,283,20.0,49.0,nan\r\n183,284,19.0,98.0,CSE\r\n184,285,23.0,88.0,ME\r\n185,286,23.0,74.0,ME\r\n186,287,19.0,71.0,nan\r\n187,288,20.0,66.0,ME\r\n188,289,21.0,77.0,ECE\r\n189,290,22.0,56.0,CSE\r\n190,291,21.0,74.0,ME\r\n191,292,22.0,58.0,CSE\r\n192,293,23.0,82.0,cse\r\n193,294,20.0,82.0,ME\r\n194,295,19.0,50.0,ECE\r\n195,296,19.0,42.0,ECE\r\n196,297,,48.0,cse\r\n197,298,21.0,93.0,ECE\r\n198,299,20.0,89.0,ECE\r\n199,300,21.0,97.0,ME\r\n200,301,18.0,98.0,ECE\r\n201,302,19.0,61.0,ME\r\n202,303,21.0,78.0,ECE\r\n203,304,18.0,94.0,ME\r\n204,305,,96.0,nan\r\n205,306,18.0,44.0,CSE\r\n206,307,21.0,50.0,nan\r\n207,308,21.0,94.0,CSE\r\n208,309,21.0,78.0,ECE\r\n209,310,22.0,87.0,ME\r\n210,311,18.0,65.0,ECE\r\n211,312,22.0,,ME\r\n212,313,20.0,48.0,ECE\r\n213,314,23.0,65.0,ECE\r\n214,315,20.0,48.0,ME\r\n215,316,19.0,91.0,ME\r\n216,317,23.0,89.0,ME\r\n217,318,22.0,,ME\r\n218,319,19.0,43.0,ECE\r\n219,320,23.0,52.0,ECE\r\n220,321,20.0,89.0,CSE\r\n221,322,22.0,47.0,ECE\r\n222,323,20.0,76.0,ECE\r\n223,324,18.0,68.0,ME\r\n224,325,23.0,60.0,nan\r\n225,326,22.0,79.0,ECE\r\n226,327,19.0,80.0,ECE\r\n227,328,21.0,54.0,ECE\r\n228,329,,86.0,ME\r\n229,330,23.0,84.0,CSE\r\n230,331,23.0,47.0,ME\r\n231,332,18.0,98.0,CSE\r\n232,333,,74.0,ECE\r\n233,334,,82.0,ECE\r\n234,335,22.0,99.0,CSE\r\n235,336,18.0,56.0,ME\r\n236,337,19.0,51.0,ME\r\n237,338,20.0,60.0,ECE\r\n238,339,23.0,93.0,ECE\r\n239,340,19.0,,CSE\r\n240,341,,66.0,ECE\r\n241,342,18.0,,ece\r\n242,343,23.0,61.0,CSE\r\n243,344,21.0,99.0,ME\r\n244,345,19.0,44.0,ECE\r\n245,346,19.0,47.0,CSE\r\n246,347,20.0,51.0,ECE\r\n247,348,18.0,58.0,nan\r\n248,349,18.0,50.0,ECE\r\n249,350,22.0,97.0,ECE\r\n250,351,19.0,93.0,ECE\r\n251,352,19.0,78.0,CSE\r\n252,353,22.0,66.0,ECE\r\n253,354,18.0,92.0,ME\r\n254,355,22.0,50.0,ECE\r\n255,356,20.0,43.0,ME\r\n256,357,19.0,45.0,ECE\r\n257,358,22.0,99.0,CSE\r\n258,359,18.0,67.0,ME\r\n259,360,18.0,87.0,ECE\r\n260,361,22.0,93.0,ECE\r\n261,362,23.0,94.0,ECE\r\n262,363,23.0,99.0,ME\r\n263,364,20.0,,ECE\r\n264,365,21.0,73.0,CSE\r\n265,366,18.0,82.0,CSE\r\n266,367,20.0,81.0,ECE\r\n267,368,20.0,68.0,ECE\r\n268,369,21.0,86.0,ece\r\n269,370,23.0,57.0,ECE\r\n270,371,20.0,47.0,CSE\r\n271,372,21.0,93.0,CSE\r\n272,373,21.0,54.0,ME\r\n273,374,18.0,50.0,CSE\r\n274,375,20.0,,ECE\r\n275,376,21.0,79.0,ME\r\n276,377,,49.0,ME\r\n277,378,18.0,72.0,ECE\r\n278,379,19.0,73.0,ECE\r\n279,380,21.0,45.0,ME\r\n280,381,18.0,46.0,CSE\r\n281,382,18.0,65.0,ECE\r\n282,383,20.0,90.0,ECE\r\n283,384,18.0,72.0,ECE\r\n284,385,19.0,70.0,ECE\r\n285,386,20.0,95.0,ECE\r\n286,387,19.0,,ECE\r\n287,388,20.0,80.0,CSE\r\n288,389,23.0,,ECE\r\n289,390,19.0,72.0,CSE\r\n290,391,23.0,56.0,ME\r\n291,392,19.0,44.0,ECE\r\n292,393,22.0,73.0,cse\r\n293,394,22.0,57.0,CSE\r\n294,395,22.0,61.0,nan\r\n295,396,,93.0,ECE\r\n296,397,20.0,54.0,ECE\r\n297,398,23.0,55.0,ME\r\n298,399,20.0,59.0,nan\r\n299,400,23.0,,ECE\r\n300,401,21.0,77.0,ECE\r\n301,402,22.0,58.0,ME\r\n302,403,18.0,,ECE\r\n303,404,21.0,40.0,CSE\r\n304,405,20.0,77.0,nan\r\n305,406,20.0,50.0,ME\r\n306,407,19.0,,ME\r\n307,408,23.0,40.0,CSE\r\n308,409,18.0,79.0,CSE\r\n309,410,23.0,43.0,ECE\r\n310,411,19.0,46.0,ECE\r\n311,412,19.0,89.0,ECE\r\n312,413,22.0,43.0,ECE\r\n313,414,19.0,67.0,ECE\r\n314,415,23.0,93.0,ECE\r\n315,416,22.0,77.0,ME\r\n316,417,23.0,76.0,ECE\r\n317,418,,,nan\r\n318,419,,76.0,ME\r\n319,420,22.0,91.0,CSE\r\n320,421,19.0,46.0,nan\r\n321,422,21.0,69.0,ECE\r\n322,423,20.0,90.0,ME\r\n323,424,23.0,58.0,ME\r\n324,425,20.0,46.0,ECE\r\n325,426,21.0,77.0,ME\r\n326,427,19.0,56.0,ECE\r\n327,428,19.0,82.0,CSE\r\n328,429,23.0,61.0,ECE\r\n329,430,19.0,66.0,ECE\r\n330,431,18.0,66.0,ME\r\n331,432,23.0,49.0,CSE\r\n332,433,18.0,70.0,ECE\r\n333,434,19.0,43.0,ME\r\n334,435,23.0,43.0,CSE\r\n335,436,21.0,91.0,cse\r\n336,437,22.0,61.0,ME\r\n337,438,19.0,42.0,nan\r\n338,439,18.0,96.0,ECE\r\n339,440,18.0,76.0,ECE\r\n340,441,18.0,96.0,nan\r\n341,442,20.0,92.0,ECE\r\n342,443,21.0,75.0,ECE\r\n343,444,18.0,64.0,ME\r\n344,445,,78.0,ME\r\n345,446,18.0,83.0,ECE\r\n346,447,18.0,85.0,ECE\r\n347,448,22.0,58.0,CSE\r\n348,449,19.0,95.0,ME\r\n349,450,19.0,46.0,ECE\r\n350,451,21.0,74.0,ME\r\n351,452,20.0,40.0,ME\r\n352,453,20.0,54.0,ME\r\n353,454,,41.0,me\r\n354,455,18.0,58.0,CSE\r\n355,456,20.0,65.0,ECE\r\n356,457,22.0,42.0,ECE\r\n357,458,23.0,75.0,ECE\r\n358,459,18.0,43.0,ece\r\n359,460,21.0,54.0,ECE\r\n360,461,19.0,86.0,CSE\r\n361,462,21.0,88.0,ECE\r\n362,463,18.0,56.0,ECE\r\n363,464,20.0,40.0,ME\r\n364,465,22.0,85.0,ECE\r\n365,466,19.0,82.0,CSE\r\n366,467,21.0,90.0,ECE\r\n367,468,21.0,56.0,ece\r\n368,469,21.0,97.0,ECE\r\n369,470,23.0,77.0,ECE\r\n370,471,19.0,83.0,ME\r\n371,472,,91.0,ECE\r\n372,473,23.0,41.0,ECE\r\n373,474,20.0,89.0,cse\r\n374,475,22.0,79.0,ECE\r\n375,476,18.0,,ME\r\n376,477,21.0,,cse\r\n377,478,19.0,45.0,ME\r\n378,479,20.0,42.0,CSE\r\n379,480,18.0,53.0,ME\r\n380,481,21.0,45.0,ME\r\n381,482,23.0,65.0,CSE\r\n382,483,19.0,80.0,ME\r\n383,484,23.0,80.0,cse\r\n384,485,23.0,71.0,ECE\r\n385,486,22.0,41.0,CSE\r\n386,487,19.0,,ECE\r\n387,488,23.0,88.0,CSE\r\n388,489,,89.0,ECE\r\n389,490,,98.0,ECE\r\n390,491,20.0,93.0,ece\r\n391,492,22.0,84.0,me\r\n392,493,,72.0,CSE\r\n393,494,22.0,59.0,ece\r\n394,495,22.0,96.0,ME\r\n395,496,18.0,51.0,CSE\r\n396,497,23.0,96.0,cse\r\n397,498,21.0,78.0,ECE\r\n398,499,23.0,82.0,CSE\r\n399,500,21.0,46.0,ECE\r\n400,501,18.0,68.0,ME\r\n401,502,18.0,63.0,ECE\r\n402,503,19.0,71.0,cse\r\n403,504,19.0,45.0,ECE\r\n404,505,18.0,40.0,ECE\r\n405,506,23.0,55.0,ECE\r\n406,507,21.0,75.0,ece\r\n407,508,20.0,47.0,ECE\r\n408,509,20.0,,nan\r\n409,510,23.0,73.0,nan\r\n410,511,21.0,94.0,ECE\r\n411,512,21.0,49.0,ME\r\n412,513,23.0,80.0,ME\r\n413,514,20.0,48.0,ECE\r\n414,515,19.0,82.0,ECE\r\n415,516,21.0,65.0,ECE\r\n416,517,22.0,83.0,ECE\r\n417,518,23.0,86.0,ME\r\n418,519,20.0,88.0,ece\r\n419,520,23.0,57.0,ME\r\n420,521,21.0,56.0,CSE\r\n421,522,23.0,96.0,ME\r\n422,523,21.0,54.0,ME\r\n423,524,18.0,77.0,ece\r\n424,525,19.0,89.0,ECE\r\n425,526,19.0,95.0,CSE\r\n426,527,20.0,42.0,CSE\r\n427,528,19.0,94.0,ME\r\n428,529,18.0,75.0,ECE\r\n429,530,18.0,93.0,ECE\r\n430,531,19.0,55.0,ECE\r\n431,532,23.0,68.0,ECE\r\n432,533,21.0,82.0,ECE\r\n433,534,22.0,85.0,CSE\r\n434,535,21.0,43.0,ECE\r\n435,536,18.0,65.0,ECE\r\n436,537,18.0,40.0,CSE\r\n437,538,22.0,82.0,ECE\r\n438,539,20.0,85.0,cse\r\n439,540,,75.0,ME\r\n440,541,19.0,40.0,ECE\r\n441,542,23.0,47.0,ECE\r\n442,543,19.0,47.0,ECE\r\n443,544,23.0,,ECE\r\n444,545,21.0,86.0,CSE\r\n445,546,19.0,67.0,CSE\r\n446,547,,78.0,ECE\r\n447,548,21.0,70.0,ECE\r\n448,549,,90.0,CSE\r\n449,550,18.0,80.0,ME\r\n450,551,19.0,89.0,cse\r\n451,552,23.0,82.0,ECE\r\n452,553,20.0,93.0,CSE\r\n453,554,23.0,87.0,ece\r\n454,555,23.0,78.0,ECE\r\n455,556,18.0,75.0,CSE\r\n456,557,23.0,,ME\r\n457,558,23.0,76.0,me\r\n458,559,21.0,85.0,ECE\r\n459,560,18.0,73.0,ece\r\n460,561,20.0,45.0,ECE\r\n461,562,21.0,99.0,ece\r\n462,563,20.0,52.0,CSE\r\n463,564,22.0,78.0,ME\r\n464,565,,64.0,ECE\r\n465,566,19.0,60.0,CSE\r\n466,567,22.0,43.0,ECE\r\n467,568,19.0,50.0,me\r\n468,569,19.0,84.0,ECE\r\n469,570,18.0,82.0,ECE\r\n470,571,21.0,60.0,ece\r\n471,572,23.0,74.0,ECE\r\n472,573,18.0,57.0,ECE\r\n473,574,22.0,53.0,ece\r\n474,575,19.0,53.0,ME\r\n475,576,21.0,97.0,ECE\r\n476,577,23.0,43.0,ECE\r\n477,578,19.0,91.0,ME\r\n478,579,,57.0,ECE\r\n479,580,21.0,99.0,ME\r\n480,581,22.0,91.0,ECE\r\n481,582,19.0,,ECE\r\n482,583,19.0,65.0,CSE\r\n483,584,,49.0,CSE\r\n484,585,18.0,77.0,ME\r\n485,586,22.0,47.0,CSE\r\n486,587,20.0,50.0,ECE\r\n487,588,22.0,93.0,ECE\r\n488,589,20.0,43.0,ECE\r\n489,590,22.0,74.0,ME\r\n490,591,22.0,71.0,ME\r\n491,592,19.0,73.0,ME\r\n492,593,21.0,40.0,ECE\r\n493,594,21.0,52.0,CSE\r\n494,595,20.0,89.0,ECE\r\n495,596,18.0,89.0,ece\r\n496,597,22.0,40.0,ME\r\n497,598,,96.0,ECE\r\n498,599,21.0,68.0,ECE\r\n499,600,20.0,66.0,ECE\r\n500,601,21.0,,ECE\r\n501,602,19.0,72.0,ME\r\n502,603,20.0,90.0,ME\r\n503,604,20.0,64.0,ECE\r\n504,605,21.0,67.0,ME\r\n505,606,22.0,90.0,ME\r\n506,607,21.0,49.0,ECE\r\n507,608,18.0,86.0,CSE\r\n508,609,22.0,66.0,ECE\r\n509,610,19.0,73.0,ECE\r\n510,611,22.0,72.0,CSE\r\n511,612,21.0,77.0,CSE\r\n512,613,21.0,59.0,ME\r\n513,614,21.0,71.0,ME\r\n514,615,23.0,77.0,ME\r\n515,616,,71.0,ECE\r\n516,617,20.0,57.0,CSE\r\n517,618,,97.0,ECE\r\n518,619,22.0,,nan\r\n519,620,20.0,60.0,ECE\r\n520,621,20.0,45.0,ECE\r\n521,622,18.0,61.0,ME\r\n522,623,21.0,83.0,ECE\r\n523,624,18.0,56.0,ECE\r\n524,625,23.0,64.0,CSE\r\n525,626,18.0,45.0,nan\r\n526,627,22.0,90.0,ECE\r\n527,628,20.0,41.0,ME\r\n528,629,18.0,43.0,ECE\r\n529,630,,91.0,ECE\r\n530,631,23.0,91.0,CSE\r\n531,632,18.0,54.0,me\r\n532,633,,51.0,ECE\r\n533,634,19.0,66.0,CSE\r\n534,635,23.0,60.0,ECE\r\n535,636,23.0,61.0,ME\r\n536,637,23.0,69.0,ME\r\n537,638,23.0,70.0,ece\r\n538,639,19.0,61.0,CSE\r\n539,640,,84.0,ECE\r\n540,641,19.0,93.0,ECE\r\n541,642,19.0,63.0,ECE\r\n542,643,19.0,72.0,ECE\r\n543,644,20.0,82.0,CSE\r\n544,645,18.0,61.0,ME\r\n545,646,23.0,64.0,ECE\r\n546,647,18.0,84.0,ECE\r\n547,648,21.0,65.0,ME\r\n548,649,21.0,60.0,ECE\r\n549,650,23.0,72.0,me\r\n550,651,21.0,82.0,nan\r\n551,652,19.0,,ece\r\n552,653,21.0,78.0,ECE\r\n553,654,21.0,66.0,ECE\r\n554,655,19.0,51.0,ECE\r\n555,656,21.0,64.0,CSE\r\n556,657,20.0,62.0,ECE\r\n557,658,23.0,54.0,ECE\r\n558,659,19.0,71.0,ece\r\n559,660,20.0,64.0,ECE\r\n560,661,18.0,42.0,ECE\r\n561,662,20.0,88.0,ECE\r\n562,663,22.0,66.0,ECE\r\n563,664,18.0,89.0,ECE\r\n564,665,23.0,90.0,ECE\r\n565,666,18.0,66.0,ECE\r\n566,667,23.0,,nan\r\n567,668,22.0,60.0,ECE\r\n568,669,23.0,75.0,CSE\r\n569,670,21.0,58.0,CSE\r\n570,671,18.0,73.0,nan\r\n571,672,22.0,76.0,ME\r\n572,673,18.0,90.0,CSE\r\n573,674,21.0,91.0,ECE\r\n574,675,19.0,81.0,ECE\r\n575,676,,90.0,cse\r\n576,677,18.0,97.0,ECE\r\n577,678,22.0,,ece\r\n578,679,23.0,43.0,CSE\r\n579,680,20.0,65.0,ece\r\n580,681,19.0,,CSE\r\n581,682,23.0,52.0,ME\r\n582,683,18.0,97.0,CSE\r\n583,684,21.0,47.0,CSE\r\n584,685,21.0,59.0,ME\r\n585,686,21.0,89.0,ECE\r\n586,687,22.0,49.0,ece\r\n587,688,20.0,61.0,CSE\r\n588,689,18.0,86.0,ME\r\n589,690,21.0,61.0,ECE\r\n590,691,19.0,85.0,me\r\n591,692,22.0,52.0,ECE\r\n592,693,23.0,52.0,nan\r\n593,694,22.0,91.0,ME\r\n594,695,20.0,87.0,ME\r\n595,696,19.0,61.0,ECE\r\n596,697,23.0,71.0,ECE\r\n597,698,19.0,81.0,CSE\r\n598,699,21.0,90.0,ECE\r\n599,700,22.0,59.0,ECE\r\n600,701,23.0,74.0,ECE\r\n601,702,21.0,60.0,ME\r\n602,703,19.0,87.0,ECE\r\n603,704,18.0,97.0,ECE\r\n604,705,20.0,98.0,CSE\r\n605,706,18.0,47.0,ME\r\n606,707,20.0,45.0,ME\r\n607,708,22.0,90.0,CSE\r\n608,709,22.0,98.0,ECE\r\n609,710,,97.0,ME\r\n610,711,19.0,66.0,me\r\n611,712,,62.0,ECE\r\n612,713,19.0,58.0,ece\r\n613,714,20.0,80.0,ece\r\n614,715,18.0,62.0,ECE\r\n615,716,22.0,66.0,CSE\r\n616,717,23.0,60.0,ECE\r\n617,718,20.0,96.0,ECE\r\n618,719,21.0,89.0,ECE\r\n619,720,19.0,40.0,ECE\r\n620,721,23.0,91.0,CSE\r\n621,722,22.0,82.0,ECE\r\n622,723,19.0,84.0,CSE\r\n623,724,22.0,53.0,ME\r\n624,725,23.0,,ECE\r\n625,726,21.0,56.0,CSE\r\n626,727,22.0,59.0,ECE\r\n627,728,20.0,65.0,nan\r\n628,729,23.0,66.0,CSE\r\n629,730,18.0,97.0,ECE\r\n630,731,22.0,78.0,ECE\r\n631,732,22.0,71.0,ECE\r\n632,733,22.0,55.0,ECE\r\n633,734,22.0,41.0,ME\r\n634,735,22.0,67.0,nan\r\n635,736,21.0,90.0,CSE\r\n636,737,19.0,50.0,ME\r\n637,738,19.0,87.0,me\r\n638,739,23.0,,ECE\r\n639,740,22.0,81.0,ECE\r\n640,741,20.0,,ECE\r\n641,742,20.0,60.0,CSE\r\n642,743,20.0,64.0,ME\r\n643,744,19.0,44.0,me\r\n644,745,22.0,67.0,ME\r\n645,746,22.0,72.0,ME\r\n646,747,20.0,,ECE\r\n647,748,22.0,88.0,ECE\r\n648,749,21.0,82.0,ME\r\n649,750,21.0,92.0,nan\r\n650,751,20.0,70.0,ece\r\n651,752,21.0,91.0,nan\r\n652,753,20.0,93.0,ECE\r\n653,754,20.0,71.0,ME\r\n654,755,20.0,98.0,CSE\r\n655,756,23.0,58.0,ECE\r\n656,757,18.0,97.0,nan\r\n657,758,18.0,49.0,CSE\r\n658,759,18.0,66.0,CSE\r\n659,760,20.0,43.0,nan\r\n660,761,21.0,71.0,ME\r\n661,762,18.0,61.0,CSE\r\n662,763,21.0,47.0,CSE\r\n663,764,23.0,44.0,me\r\n664,765,23.0,69.0,ME\r\n665,766,20.0,74.0,ME\r\n666,767,21.0,47.0,ECE\r\n667,768,19.0,66.0,ME\r\n668,769,19.0,46.0,ME\r\n669,770,19.0,66.0,ECE\r\n670,771,21.0,61.0,ME\r\n671,772,18.0,68.0,CSE\r\n672,773,22.0,55.0,ECE\r\n673,774,19.0,,ECE\r\n674,775,18.0,69.0,CSE\r\n675,776,19.0,44.0,CSE\r\n676,777,18.0,72.0,ME\r\n677,778,23.0,69.0,CSE\r\n678,779,19.0,82.0,ECE\r\n679,780,18.0,79.0,ECE\r\n680,781,19.0,,me\r\n681,782,20.0,92.0,CSE\r\n682,783,21.0,97.0,ECE\r\n683,784,20.0,85.0,CSE\r\n684,785,19.0,89.0,nan\r\n685,786,23.0,54.0,ECE\r\n686,787,20.0,70.0,ece\r\n687,788,21.0,73.0,ECE\r\n688,789,19.0,92.0,ME\r\n689,790,20.0,49.0,CSE\r\n690,791,21.0,93.0,CSE\r\n691,792,19.0,47.0,ME\r\n692,793,19.0,41.0,ECE\r\n693,794,19.0,78.0,CSE\r\n694,795,21.0,75.0,CSE\r\n695,796,23.0,60.0,nan\r\n696,797,18.0,41.0,ECE\r\n697,798,20.0,55.0,ECE\r\n698,799,22.0,87.0,me\r\n699,800,22.0,52.0,ECE\r\n700,801,21.0,61.0,ECE\r\n701,802,22.0,88.0,ece\r\n702,803,21.0,,ECE\r\n703,804,23.0,81.0,ECE\r\n704,805,18.0,64.0,ECE\r\n705,806,19.0,89.0,ME\r\n706,807,23.0,49.0,ECE\r\n707,808,18.0,43.0,CSE\r\n708,809,19.0,76.0,ECE\r\n709,810,23.0,48.0,CSE\r\n710,811,19.0,74.0,ece\r\n711,812,20.0,48.0,ECE\r\n712,813,19.0,79.0,ECE\r\n713,814,19.0,88.0,cse\r\n714,815,20.0,54.0,ECE\r\n715,816,22.0,,ECE\r\n716,817,22.0,64.0,ECE\r\n717,818,19.0,67.0,ME\r\n718,819,19.0,,ECE\r\n719,820,18.0,86.0,CSE\r\n720,821,18.0,64.0,ECE\r\n721,822,19.0,51.0,ECE\r\n722,823,23.0,49.0,ECE\r\n723,824,18.0,95.0,ECE\r\n724,825,18.0,56.0,ECE\r\n725,826,18.0,97.0,ECE\r\n726,827,23.0,51.0,ECE\r\n727,828,21.0,79.0,me\r\n728,829,18.0,56.0,ECE\r\n729,830,18.0,98.0,cse\r\n730,831,19.0,81.0,ME\r\n731,832,19.0,96.0,ME\r\n732,833,19.0,81.0,ECE\r\n733,834,23.0,95.0,ECE\r\n734,835,23.0,86.0,ece\r\n735,836,22.0,58.0,CSE\r\n736,837,23.0,40.0,ECE\r\n737,838,20.0,81.0,ECE\r\n738,839,19.0,97.0,ME\r\n739,840,23.0,46.0,ME\r\n740,841,18.0,56.0,ME\r\n741,842,21.0,68.0,ECE\r\n742,843,18.0,50.0,ece\r\n743,844,22.0,47.0,ME\r\n744,845,21.0,83.0,ECE\r\n745,846,20.0,96.0,ECE\r\n746,847,22.0,48.0,nan\r\n747,848,23.0,71.0,me\r\n748,849,21.0,88.0,ECE\r\n749,850,19.0,62.0,ece\r\n750,851,19.0,75.0,ECE\r\n751,852,18.0,62.0,CSE\r\n752,853,20.0,95.0,ece\r\n753,854,21.0,81.0,ECE\r\n754,855,19.0,42.0,CSE\r\n755,856,19.0,67.0,ECE\r\n756,857,22.0,41.0,ME\r\n757,858,19.0,52.0,ME\r\n758,859,23.0,96.0,ECE\r\n759,860,23.0,41.0,ECE\r\n760,861,18.0,91.0,ECE\r\n761,862,22.0,53.0,CSE\r\n762,863,20.0,75.0,ECE\r\n763,864,23.0,,nan\r\n764,865,23.0,79.0,ECE\r\n765,866,19.0,58.0,ECE\r\n766,867,21.0,65.0,CSE\r\n767,868,22.0,78.0,ECE\r\n768,869,23.0,66.0,ECE\r\n769,870,19.0,70.0,ME\r\n770,871,22.0,65.0,ECE\r\n771,872,20.0,88.0,ME\r\n772,873,20.0,89.0,ece\r\n773,874,18.0,40.0,ECE\r\n774,875,20.0,61.0,ME\r\n775,876,22.0,92.0,ECE\r\n776,877,,83.0,ece\r\n777,878,19.0,90.0,CSE\r\n778,879,21.0,82.0,ECE\r\n779,880,18.0,51.0,ECE\r\n780,881,21.0,81.0,ECE\r\n781,882,22.0,76.0,ECE\r\n782,883,23.0,,CSE\r\n783,884,,45.0,ECE\r\n784,885,22.0,48.0,CSE\r\n785,886,19.0,82.0,ME\r\n786,887,22.0,63.0,ECE\r\n787,888,23.0,62.0,ECE\r\n788,889,18.0,65.0,ECE\r\n789,890,19.0,88.0,CSE\r\n790,891,20.0,65.0,ECE\r\n791,892,22.0,66.0,CSE\r\n792,893,19.0,78.0,ECE\r\n793,894,19.0,45.0,ME\r\n794,895,19.0,,ECE\r\n795,896,23.0,73.0,CSE\r\n796,897,23.0,73.0,ME\r\n797,898,23.0,82.0,ME\r\n798,899,19.0,77.0,ECE\r\n799,900,19.0,94.0,ECE\r\n800,901,18.0,76.0,ECE\r\n801,902,20.0,56.0,ECE\r\n802,903,23.0,67.0,CSE\r\n803,904,,79.0,ECE\r\n804,905,19.0,45.0,ME\r\n805,906,21.0,86.0,ME\r\n806,907,18.0,58.0,ECE\r\n807,908,18.0,67.0,ECE\r\n808,909,22.0,95.0,ECE\r\n809,910,21.0,55.0,ECE\r\n810,911,18.0,95.0,ECE\r\n811,912,23.0,66.0,ME\r\n812,913,,70.0,ECE\r\n813,914,19.0,61.0,ME\r\n814,915,20.0,63.0,ME\r\n815,916,21.0,99.0,CSE\r\n816,917,20.0,40.0,ECE\r\n817,918,22.0,91.0,ECE\r\n818,919,21.0,91.0,ECE\r\n819,920,21.0,55.0,ME\r\n820,921,18.0,91.0,ECE\r\n821,922,18.0,65.0,ECE\r\n822,923,18.0,88.0,ECE\r\n823,924,20.0,,ME\r\n824,925,22.0,61.0,ECE\r\n825,926,,,ECE\r\n826,927,,92.0

In [58]:
df.to_csv('student.csv',index=False)
df

      Student_ID   Age  Marks Department
0            101  18.0   92.0        ECE
1            102  21.0   56.0        CSE
2            103  22.0   65.0         ME
3            104   NaN   46.0         ME
4            105  18.0   80.0        cse
...          ...   ...    ...        ...
1015         995   NaN   63.0        ECE
1016         152  22.0   90.0        CSE
1017         919  21.0   91.0        ece
1018         630   NaN   91.0        ECE
1019         783  21.0   97.0        ECE

[1020 rows x 4 columns]

In [62]:
%pip install openpyxl

df.to_excel("synthetic_data.xlsx", index=False)


df.head()

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/c0/da/977ded879c29cbd04de313843e76868e6e13408a94ed6b987245dc7c8506/openpyxl-3.1.5-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/c1/8b/5fe2cc11fee489817272089c4203e679c63b570a5aaeb18d852ae3cbba6a/et_xmlfile-2.0.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 435.7 kB/s eta 0:00:01
   ----------------- ---------------------- 112.6/250.9 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.5 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

   Student_ID   Age  Marks Department
0         101  18.0   92.0        ECE
1         102  21.0   56.0        CSE
2         103  22.0   65.0         ME
3         104   NaN   46.0         ME
4         105  18.0   80.0        cse