In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
n = 500
df = pd.DataFrame({
    "Age": np.random.randint(18, 60, size=n),
    "CGPA": np.random.randint(0, 120, size=n),
    "Internships_Count": np.random.randint(0, 10, size=n),
    "Technical_Score": np.random.randint(0, 120, size=n),
    "Attendance_Percentage": np.random.randint(50, 101, size=n),
})
df

     Age  CGPA  Internships_Count  Technical_Score  Attendance_Percentage
0     18    90                  6               26                     86
1     21    51                  1               84                     78
2     21   102                  7                5                     50
3     57    46                  7               88                     60
4     27    80                  0               17                     63
..   ...   ...                ...              ...                    ...
495   44    43                  3                9                     80
496   40   110                  9               85                     62
497   30    69                  5               66                     84
498   33   118                  4                9                     53
499   52    19                  0              110                     90

[500 rows x 5 columns]

In [3]:
#Target variable with imbalance
df['Placed'] = np.where((df['CGPA'] > 7.5) & (df["Technical_Score"] > 70), "yes", "no")

In [4]:
bootstrap = df.sample(n=200, replace=True, random_state=42)
df_aug = pd.concat([df, bootstrap], ignore_index=True)

In [5]:
df_aug

,Age,CGPA,Internships_Count,Technical_Score,Attendance_Percentage,Placed
0,18,90,6,26,86,no
1,21,51,1,84,78,yes
2,21,102,7,5,50,no
3,57,46,7,88,60,yes
4,27,80,0,17,63,no
...,...,...,...,...,...,...
695,48,45,3,40,51,no
696,27,9,7,3,75,no
697,49,90,3,49,100,no
698,33,89,8,44,88,no
699,27,118,7,72,99,yes

In [6]:
noise = df.sample(n=150, random_state=42).copy()
noise["CGPA"] += np.random.normal (0, 0.1, 150)
noise["Technical_Score"] += np.random.normal (-3, 4, 150)
noise["Attendance_Percentage"] += np.random.normal (0, 2, 150)

In [7]:
# log constraints
noise["CGPA"] = noise["CGPA"].clip(6.0, 9.5)
noise["Technical_Score"] = noise["Technical_Score"].clip(50, 100)
noise["Attendance_Percentage"] = noise["Attendance_Percentage"].clip(70, 100)

In [8]:
df_aug = pd.concat([df_aug, noise], ignore_index=True)
df_aug

,Age,CGPA,Internships_Count,Technical_Score,Attendance_Percentage,Placed
0,18,90.0,6,26.000000,86.000000,no
1,21,51.0,1,84.000000,78.000000,yes
2,21,102.0,7,5.000000,50.000000,no
3,57,46.0,7,88.000000,60.000000,yes
4,27,80.0,0,17.000000,63.000000,no
...,...,...,...,...,...,...
845,57,9.5,0,100.000000,70.000000,yes
846,27,9.5,6,50.000000,100.000000,no
847,27,9.5,7,58.539613,89.068653,yes
848,55,9.5,0,81.431838,96.273164,yes
849,21,9.5,0,100.000000,70.000000,yes

In [10]:
#SMOTE
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

In [ ]:
smote = SMOTE(sampling_strategy='0.8', random_state=42)

NameError: name 'SMOTE' is not defined