<div style="background-colour:#002147; padding : 20px; text-align: center; color: white; font-size: 32px> </div>

<div style= "background-color: #ba8b14ff; padding : 20px; text-align: center; color: white; font-size: 32px; font-family:'Arial'"> Data Acquistion: Understanding Data Sources, Using SQL </div>

In [2]:
#question : can we created csv file using python?
import csv # for csv file handling
header = ['Name', 'Age', 'City'] # header for csv file (list)
rows = [['Deepanshi', 22, 'Delhi'], # data for csv file (list of lists)
        ['Aman', 24, 'Mumbai'],
        ['Riya', 21, 'Bangalore']]
header
rows

[['Deepanshi', 22, 'Delhi'], ['Aman', 24, 'Mumbai'], ['Riya', 21, 'Bangalore']]

In [5]:
#create a CSV file
with open('friends.csv', mode = 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)  # write the header
    writer.writerows(rows)

In [7]:
print("csv created")

csv created

In [8]:
import csv # for csv file handling
header = ['Name', 'Age', 'City', 'Phone No', 'Gender','Address', 'Father Name','Catory','Pincode','DOB'] # header for csv file (list)
rows = [['Deepanshi', 22, 'Delhi', '9876543210', 'Female', 'Delhi', 'Ramesh', 'Student', '110001', '1999-01-01'],
        ['Aman', 24, 'Mumbai', '9876543211', 'Male', 'Mumbai', 'Suresh', 'Student', '400001', '1998-02-02'],
        ['Riya', 21, 'Bangalore', '9876543212', 'Female', 'Bangalore', 'Ramesh', 'Student', '560001', '2000-03-03']]

In [9]:
with open('New File.csv', mode = 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)  # write the header
    writer.writerows(rows)

In [10]:
print("New csv created")

New csv created

In [ ]:
import json
data = { 
    "employees": [
        {"name": "John Doe", "age": 30, "city": "New York"},
        {"name": "Jane Smith", "age": 25, "city": "Los Angeles"},
        {"name": "Mike Johnson", "age": 35, "city": "Chicago"}
    ]
}

In [11]:
student = ["dev", "deep", "ram"]

In [12]:
student.append("sham")
student

['dev', 'deep', 'ram', 'sham']

In [14]:
student[3]

'sham'

In [15]:
for n in student:
    print(n)

dev
deep
ram
sham

In [16]:
student1 = ("dev", "deep", "ram")

In [17]:
student1[2]

'ram'

In [20]:
student1[2]= "sonal"

TypeError: 'tuple' object does not support item assignment

In [22]:
student2 = [{
    "name": "dev",
    "age": 20,
    "city": "Delhi"
},{
    "name": "deep",
    "age": 22,
    "city": "Mumbai"}]

In [23]:
import json 
data = [
        {"name": "John Doe", "age": 30, "city": "New York"},
        {"name": "Jane Smith", "age": 25, "city": "Los Angeles"},
        {"name": "Mike Johnson", "age": 35, "city": "Chicago"}]

In [24]:
with open('student.json', 'w') as file:
    json.dump(data, file, indent=4)  # indent for pretty printing