In [1]:
import pandas as pd 
import numpy as np

In [9]:
np.random.seed(0)
NUM_EMPLOYEES = 1000
DEPARTMENTS = ['IT', 'HR', 'Finance', 'Sales', 'Marketing']
ROLES = ['Developer', 'Manager', 'Analyst', 'Executive', 'Intern']
GENDERS = ['Male', 'Female', 'Other']
df = pd.DataFrame({

})
df

Empty DataFrame
Columns: []
Index: []

In [ ]:

data = {
    'employee_id': range(1, NUM_EMPLOYEES + 1),
    'age': np.random.randint(22, 60, NUM_EMPLOYEES),
    'gender': np.random.choice(GENDERS, NUM_EMPLOYEES, p=[0.5, 0.45, 0.05]),
    'department': np.random.choice(DEPARTMENTS, NUM_EMPLOYEES),
    'role': np.random.choice(ROLES, NUM_EMPLOYEES),
    'tenure_months': np.random.randint(1, 24, NUM_EMPLOYEES),
    'salary': np.random.randint(300000, 1500000, NUM_EMPLOYEES),
    'performance_rating': np.random.randint(1, 6, NUM_EMPLOYEES),
    'training_hours': np.random.randint(0, 50, NUM_EMPLOYEES),
    'engagement_score': np.random.randint(1, 6, NUM_EMPLOYEES),
    'left_within_1year': np.random.choice([0, 1], NUM_EMPLOYEES, p=[0.7, 0.3])
}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,39,Female,Sales,Developer,1,772792,2,43,3,0
996,997,25,Female,Sales,Manager,10,567030,1,16,4,1
997,998,31,Female,Marketing,Executive,7,330743,2,16,2,1
998,999,51,Female,IT,Executive,4,844117,4,21,1,0
999,1000,25,Female,Finance,Developer,4,824138,1,5,2,1

In [ ]:
(df.head())

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0

In [15]:
df.tail()

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
995,996,39,Female,Sales,Developer,1,772792,2,43,3,0
996,997,25,Female,Sales,Manager,10,567030,1,16,4,1
997,998,31,Female,Marketing,Executive,7,330743,2,16,2,1
998,999,51,Female,IT,Executive,4,844117,4,21,1,0
999,1000,25,Female,Finance,Developer,4,824138,1,5,2,1

In [16]:
df.describe

<bound method NDFrame.describe of      employee_id  age  gender department       role  tenure_months   salary  \
0              1   22  Female      Sales  Developer              6   960902
1              2   25    Male  Marketing  Executive             19  1353292
2              3   25  Female      Sales    Manager             13  1238997
3              4   31    Male    Finance    Analyst             15  1134290
4              5   41    Male         HR  Developer              4   938977
..           ...  ...     ...        ...        ...            ...      ...
995          996   39  Female      Sales  Developer              1   772792
996          997   25  Female      Sales    Manager             10   567030
997          998   31  Female  Marketing  Executive              7   330743
998          999   51  Female         IT  Executive              4   844117
999         1000   25  Female    Finance  Developer              4   824138

     performance_rating  training_hours  engagement_score  left_within_1year
0                     5              45                 3                  1
1                     1              25                 4                  1
2                     2              10                 5                  1
3                     4              15                 2                  0
4                     1              40                 1                  0
..                  ...             ...               ...                ...
995                   2              43                 3                  0
996                   1              16                 4                  1
997                   2              16                 2                  1
998                   4              21                 1                  0
999                   1               5                 2                  1

[1000 rows x 11 columns]>

In [17]:
bootstrap = df.sample(n=200, replace=True, random_state=42)
df_aug = pd.concat([df, bootstrap], ignore_index=True)

In [18]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,39,Female,Sales,Developer,1,772792,2,43,3,0
996,997,25,Female,Sales,Manager,10,567030,1,16,4,1
997,998,31,Female,Marketing,Executive,7,330743,2,16,2,1
998,999,51,Female,IT,Executive,4,844117,4,21,1,0
999,1000,25,Female,Finance,Developer,4,824138,1,5,2,1

In [21]:
attrition_data = df['left_within_1year']

In [22]:
def bootstrap_ci(data, n_bootstraps=10000, ci=95):
    bootstrapped_means = []
    for _ in range(n_bootstraps):
        resampled_data = np.random.choice(data, size=len(data), replace=True)
        bootstrapped_means.append(np.mean(resampled_data))
    lower = np.percentile(bootstrapped_means, (100 - ci) / 2)
    upper = np.percentile(bootstrapped_means, (100 + ci) / 2)
    return np.mean(data), lower, upper

In [ ]:
data = {
    'employee_id': range(1, NUM_EMPLOYEES + 1),
    'age': np.random.randint(22, 60, NUM_EMPLOYEES),
    'gender': np.random.choice(GENDERS, NUM_EMPLOYEES, p=[0.5, 0.45, 0.05]),
    'department': np.random.choice(DEPARTMENTS, NUM_EMPLOYEES),
    'role': np.random.choice(ROLES, NUM_EMPLOYEES),
    'tenure_months': np.random.randint(1, 24, NUM_EMPLOYEES),
    'salary': np.random.randint(300000, 1500000, NUM_EMPLOYEES),
    'performance_rating': np.random.randint(1, 6, NUM_EMPLOYEES),
    'training_hours': np.random.randint(0, 50, NUM_EMPLOYEES),
    'engagement_score': np.random.randint(1, 6, NUM_EMPLOYEES),
    'left_within_1year': np.random.choice([0, 1], NUM_EMPLOYEES, p=[0.7, 0.3])

In [23]:
def introduce_missing_values(df, columns, prob=0.05):
    for col in columns:
        mask = np.random.rand(len(df)) < prob
        df.loc[mask, col] = np.nan
    return df

In [24]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...
995,996,39,Female,Sales,Developer,1,772792,2,43,3,0
996,997,25,Female,Sales,Manager,10,567030,1,16,4,1
997,998,31,Female,Marketing,Executive,7,330743,2,16,2,1
998,999,51,Female,IT,Executive,4,844117,4,21,1,0
999,1000,25,Female,Finance,Developer,4,824138,1,5,2,1

In [ ]:
cat_cols = ['department', 'role']
df_noisy = (df_noisy, cat_cols, prob=0.1)

NameError: name 'replace_categorical_values' is not defined

In [28]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [29]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0
5,6,43,Male,IT,Manager,10,833649,4,39,1,1
6,7,58,Male,Finance,Executive,20,750991,4,38,3,0
7,8,45,Male,Sales,Manager,6,1248488,4,4,5,0
8,9,28,Female,Finance,Developer,2,1249577,5,33,2,0
9,10,46,Male,Finance,Analyst,2,939412,4,10,3,0
10,11,46,Female,Finance,Developer,1,498680,3,34,2,1
11,12,34,Female,Finance,Manager,21,867236,2,2,3,0
12,13,23,Male,Sales,Manager,16,1460263,2,47,3,0
13,14,45,Male,HR,Developer,11,858149,1,4,4,0
14,15,46,Male,HR,Developer,13,867956,3,36,3,0
15,16,39,Male,Finance,Developer,14,1131299,4,34,5,0
16,17,59,Male,IT,Manager,4,468282,3,34,4,1
17,18,47,Male,HR,Intern,20,343176,4,18,2,1
18,19,35,Female,Sales,Developer,21,714064,4,44,4,0
19,20,30,Female,Sales,Executive,11,697670,2,5,2,1
20,21,31,Male,HR,Manager,20,1204110,5,27,2,0
21,22,42,Male,Sales,Intern,10,783733,1,19,2,0
22,23,38,Female,Sales,Analyst,6,938284,2,16,3,0
23,24,27,Female,Marketing,Intern,14,969766,4,35,5,0
24,25,37,Female,Sales,Analyst,9,658816,1,41,4,0
25,26,22,Female,HR,Intern,18,1047348,4,38,2,0
26,27,40,Male,HR,Manager,14,971648,2,28,5,1
27,28,57,Male,IT,Executive,4,1423081,4,11,2,0
28,29,46,Male,Finance,Manager,1,1196187,1,47,2,0
29,30,51,Female,HR,Intern,23,554564,4,0,1,0
30,31,41,Female,Sales,Intern,15,879646,2,18,2,0
31,32,41,Male,IT,Analyst,21,1314152,4,37,1,1
32,33,36,Male,Marketing,Developer,15,493779,1,38,1,0
33,34,54,Female,IT,Manager,7,1322989,3,14,2,0
34,35,23,Female,Sales,Analyst,16,1124791,3,11,5,1
35,36,31,Female,HR,Intern,6,1444647,5,37,5,1
36,37,54,Female,IT,Intern,23,965316,5,10,3,1
37,38,53,Female,Sales,Developer,1,1455181,2,23,1,1
38,39,32,Female,Marketing,Manager,8,614647,4,7,5,0
39,40,45,Male,IT,Intern,8,579801,4,23,5,0
40,41,57,Female,Sales,Executive,18,408745,4,24,3,1
41,42,33,Male,Finance,Developer,1,963563,2,17,1,0
42,43,50,Other,HR,Developer,16,316190,2,16,2,0
43,44,56,Female,Sales,Analyst,12,1168570,4,28,1,0
44,45,22,Male,Finance,Analyst,12,571755,1,21,4,0
45,46,22,Female,HR,Analyst,19,414480,2,18,5,0
46,47,58,Male,HR,Intern,12,1123425,5,11,3,0
47,48,27,Female,HR,Developer,7,534617,1,24,1,0
48,49,39,Female,Finance,Manager,23,1293272,3,25,3,0
49,50,37,Female,IT,Executive,8,339198,4,26,4,0
50,51,26,Male,Finance,Intern,21,1413505,5,38,2,0
51,52,53,Female,Finance,Intern,4,770252,5,46,2,0
52,53,23,Male,Sales,Manager,20,485108,5,15,5,1
53,54,23,Female,Sales,Intern,6,435985,5,37,1,0
54,55,57,Female,Marketing,Manager,18,1091432,4,33,4,0
55,56,33,Male,Finance,Manager,1,730400,5,21,1,0
56,57,40,Male,Finance,Developer,12,604798,5,13,1,0
57,58,49,Female,Marketing,Intern,2,779397,1,30,3,1
58,59,22,Male,Finance,Intern,19,600822,2,20,5,0
59,60,36,Male,Finance,Executive,22,912650,3,30,5,1
60,61,57,Female,Marketing,Manager,15,919824,4,27,1,0
61,62,34,Female,Marketing,Executive,21,918454,3,34,1,0
62,63,42,Male,Marketing,Executive,19,394313,3,29,4,0
63,64,33,Female,HR,Executive,10,1231860,2,2,1,0
64,65,26,Female,Sales,Analyst,7,885095,4,11,5,0
65,66,28,Female,Marketing,Developer,5,933537,1,27,3,0
66,67,26,Male,HR,Manager,12,456792,2,34,4,0
67,68,25,Female,Sales,Intern,18,472461,5,1,3,0
68,69,34,Male,Marketing,Analyst,1,1102444,5,9,1,0
69,70,58,Male,Finance,Analyst,12,978085,3,22,4,0
70,71,36,Other,Finance,Analyst,19,1038859,1,23,3,0
71,72,37,Male,Sales,Intern,9,1086967,3,24,4,1
72,73,42,Male,IT,Analyst,22,1225093,5,3,2,0
73,74,57,Female,Sales,Analyst,20,690511,4,33,2,1
74,75,45,Male,HR,Intern,3,1088400,2,24,5,0
75,76,37,Male,Finance,Developer,19,433927,1,27,4,1
76,77,35,Female,Finance,Analyst,7,961096,2,12,4,1
77,78,43,Female,Marketing,Manager,15,782086,2,39,5,0
78,79,27,Other,HR,Developer,12,1389200,3,26,2,0
79,80,57,Female,IT,Intern,2,1016212,5,37,4,1
80,81,22,Other,HR,Developer,21,506572,1,31,5,0
81,82,53,Male,HR,Developer,14,624661,2,38,5,0
82,83,27,Male,HR,Executive,14,739038,1,28,4,0
83,84,52,Male,HR,Intern,2,929795,1,36,2,0
84,85,22,Male,IT,Developer,11,1024500,5,19,3,1
85,86,58,Male,HR,Intern,20,1182217,2,5,2,1
86,87,56,Male,IT,Analyst,14,1466733,1,47,4,0
87,88,51,Male,Sales,Intern,20,1348687,1,7,4,1
88,89,25,Female,HR,Developer,15,1063439,2,15,4,1
89,90,56,Female,Marketing,Intern,1,604275,2,34,2,0
90,91,35,Male,IT,Executive,12,368893,2,13,3,0
91,92,43,Female,IT,Executive,8,366294,3,24,3,0
92,93,31,Female,HR,Executive,4,1009956,2,47,5,0
93,94,22,Male,Marketing,Intern,15,1181005,5,43,5,0
94,95,32,Male,Marketing,Developer,1,563852,1,19,1,0
95,96,45,Female,HR,Analyst,9,465327,3,48,1,0
96,97,24,Male,Marketing,Manager,4,586716,2,11,1,1
97,98,56,Female,IT,Analyst,12,783076,4,34,1,1
98,99,57,Female,HR,Executive,21,974725,3,24,3,0
99,100,52,Female,HR,Developer,2,1326100,3,21,4,0
100,101,25,Female,HR,Intern,7,932337,3,49,3,0
101,102,40,Male,Sales,Intern,15,463205,3,22,3,0
102,103,57,Female,HR,Developer,5,578370,1,33,5,0
103,104,42,Male,Finance,Developer,11,492387,1,39,3,0
104,105,39,Male,Finance,Executive,4,1360352,3,43,1,0
105,106,49,Male,IT,Executive,16,1080569,4,32,5,1
106,107,36,Female,Sales,Developer,23,1334580,2,18,1,0
107,108,23,Female,Sales,Executive,7,827965,3,16,5,0
108,109,58,Male,Marketing,Manager,12,853409,3,5,5,0
109,110,32,Other,HR,Intern,21,1340644,2,31,2,1
110,111,44,Female,Finance,Executive,3,974013,1,20,5,0
111,112,33,Female,Sales,Executive,4,822040,3,27,2,0
112,113,24,Female,Finance,Executive,18,1233761,3,42,4,0
113,114,38,Female,Finance,Developer,11,728304,3,21,1,0
114,115,54,Male,HR,Manager,1,540206,3,6,3,0
115,116,22,Male,Finance,Executive,7,1122634,2,23,4,0
116,117,41,Female,IT,Manager,2,759441,1,48,3,0
117,118,35,Female,IT,Manager,22,1119224,4,39,1,0
118,119,52,Male,Sales,Developer,15,364325,2,31,3,0
119,120,46,Other,Sales,Executive,21,956904,4,8,5,1
120,121,24,Female,Marketing,Manager,23,936193,4,42,4,0
121,122,25,Male,Finance,Executive,4,869413,2,35,2,0
122,123,52,Female,Sales,Executive,18,596544,1,27,3,1
123,124,56,Male,HR,Analyst,8,812256,1,35,4,0
124,125,35,Female,Sales,Intern,15,911115,1,1,2,0
125,126,30,Female,IT,Executive,12,1097043,2,38,1,0
126,127,41,Female,Finance,Developer,14,329070,2,34,1,0
127,128,53,Male,IT,Intern,1,1225136,5,28,4,1
128,129,30,Female,Sales,Developer,1,1156373,2,36,2,0
129,130,48,Other,Sales,Developer,19,1164210,5,22,4,1
130,131,24,Male,IT,Developer,23,1115965,4,9,4,0
131,132,25,Female,Marketing,Analyst,18,775877,2,31,2,1
132,133,36,Female,Marketing,Intern,10,963683,5,46,5,0
133,134,54,Male,Sales,Developer,6,1101770,1,25,3,0
134,135,26,Male,Marketing,Analyst,13,1329417,4,2,3,0
135,136,25,Female,IT,Intern,18,426375,2,5,3,0
136,137,33,Other,Finance,Developer,4,1176640,3,31,4,1
137,138,44,Female,Sales,Developer,4,546176,4,29,3,0
138,139,35,Male,HR,Executive,3,823420,4,40,4,0
139,140,33,Male,Marketing,Intern,21,885183,5,24,4,0
140,141,38,Female,Marketing,Manager,6,1204034,2,48,2,0
141,142,46,Female,HR,Developer,21,569669,5,30,1,0
142,143,51,Male,HR,Developer,7,425265,4,20,2,1
143,144,43,Other,IT,Developer,9,1382866,1,13,5,0
144,145,47,Female,IT,Executive,1,388651,2,34,3,0
145,146,38,Female,Marketing,Executive,13,532341,2,25,2,0
146,147,41,Male,Finance,Executive,7,1166435,2,44,2,0
147,148,55,Male,IT,Intern,8,552115,1,5,2,0
148,149,54,Female,IT,Analyst,10,1415848,4,32,5,0
149,150,58,Female,Sales,Intern,7,789961,3,41,5,0
150,151,28,Female,Sales,Analyst,6,1499566,4,4,3,0
151,152,43,Male,IT,Manager,5,819075,1,35,1,0
152,153,53,Male,Finance,Intern,8,1081777,5,23,3,0
153,154,35,Female,Marketing,Developer,20,1299530,5,42,1,0
154,155,29,Male,HR,Manager,16,882097,3,2,1,0
155,156,46,Female,IT,Developer,23,612544,5,18,5,0
156,157,37,Male,Finance,Analyst,4,715336,1,10,5,1
157,158,40,Other,Finance,Executive,8,602832,3,48,2,0
158,159,37,Male,Finance,Analyst,21,945316,1,48,3,1
159,160,33,Male,IT,Intern,9,688393,2,27,1,0
160,161,51,Male,IT,Manager,19,1370890,5,28,1,1
161,162,23,Female,Finance,Manager,23,335003,2,22,1,1
162,163,53,Male,Finance,Manager,23,569649,4,37,2,0
163,164,46,Other,IT,Analyst,22,1193133,2,33,5,0
164,165,46,Male,Marketing,Intern,15,823871,5,9,5,0
165,166,25,Male,IT,Executive,8,1172291,4,46,2,0
166,167,40,Female,Sales,Manager,3,1380188,5,20,3,0
167,168,25,Male,Finance,Executive,3,513933,5,43,3,0
168,169,34,Male,Marketing,Manager,17,316025,5,27,2,0
169,170,57,Female,HR,Manager,14,1123603,1,48,5,0
170,171,44,Female,IT,Analyst,14,883580,5,35,3,0
171,172,27,Female,Finance,Developer,2,761138,4,5,1,1
172,173,45,Male,IT,Manager,14,1080396,4,27,1,1
173,174,54,Male,HR,Developer,11,331455,3,10,5,1
174,175,33,Female,IT,Analyst,22,563063,5,37,2,0
175,176,42,Female,Marketing,Manager,14,457581,1,37,2,0
176,177,32,Female,HR,Intern,22,1483565,5,33,3,0
177,178,59,Male,Sales,Manager,7,313837,4,48,5,0
178,179,50,Female,Sales,Manager,19,851939,2,23,5,1
179,180,24,Male,Finance,Intern,8,585704,5,35,3,1
180,181,49,Male,Sales,Intern,14,973779,1,49,5,0
181,182,41,Male,IT,Manager,21,1433437,4,36,5,0
182,183,47,Male,Marketing,Executive,4,1074918,5,8,3,0
183,184,45,Male,Sales,Analyst,11,609215,3,11,5,0
184,185,42,Female,Finance,Executive,4,1439349,2,13,3,0
185,186,51,Female,IT,Manager,6,1365229,4,13,4,1
186,187,25,Male,Finance,Developer,6,1339687,3,46,2,0
187,188,57,Male,Finance,Intern,23,940301,4,21,2,0
188,189,31,Male,Marketing,Intern,2,1414652,2,31,5,1
189,190,31,Male,Marketing,Developer,19,1182002,3,16,1,1
190,191,45,Female,Finance,Analyst,1,316285,3,3,1,0
191,192,25,Female,Finance,Analyst,13,653597,2,45,2,0
192,193,48,Female,Sales,Manager,14,922898,2,24,1,0
193,194,25,Male,Sales,Manager,3,391663,2,43,3,1
194,195,53,Female,HR,Intern,22,708385,4,37,3,1
195,196,31,Female,Marketing,Developer,19,1112141,4,21,4,0
196,197,32,Female,Sales,Developer,17,1240825,1,21,1,0
197,198,49,Male,Finance,Executive,4,1206770,3,11,2,0
198,199,29,Male,Sales,Analyst,13,446421,3,42,4,1
199,200,43,Male,HR,Analyst,9,438699,5,47,5,0
200,201,55,Male,Sales,Manager,4,1036300,3,48,3,1
201,202,56,Male,Finance,Manager,10,761478,1,13,2,1
202,203,56,Female,Sales,Analyst,13,1100768,1,32,2,1
203,204,46,Female,Sales,Executive,18,918309,2,7,1,0
204,205,55,Female,Marketing,Manager,12,485981,3,11,2,0
205,206,27,Male,Marketing,Manager,16,379767,1,39,5,0
206,207,58,Female,HR,Executive,1,659238,2,40,1,0
207,208,22,Male,HR,Intern,14,1377078,1,2,1,1
208,209,33,Other,Sales,Analyst,23,823223,3,46,4,0
209,210,56,Female,Marketing,Developer,21,336673,3,10,1,0
210,211,27,Male,Marketing,Developer,7,1289075,2,49,4,1
211,212,38,Male,Sales,Developer,5,1109339,3,23,5,0
212,213,30,Female,Marketing,Developer,2,481433,2,31,2,1
213,214,23,Female,IT,Developer,4,1017367,3,38,5,1
214,215,39,Male,Finance,Intern,10,843505,5,32,1,0
215,216,57,Male,IT,Analyst,23,1178518,2,47,2,1
216,217,49,Female,IT,Manager,15,550984,5,30,2,0
217,218,58,Female,IT,Developer,19,704736,3,0,3,1
218,219,47,Female,Marketing,Executive,15,406020,4,12,5,0
219,220,25,Male,Sales,Developer,19,1146588,3,21,4,0
220,221,57,Male,HR,Intern,10,1463583,4,11,5,0
221,222,52,Male,Finance,Analyst,20,739001,3,28,5,0
222,223,51,Male,Finance,Executive,3,1043145,2,10,2,0
223,224,55,Male,IT,Developer,11,1279204,1,23,5,0
224,225,40,Female,HR,Intern,18,751003,2,13,5,0
225,226,39,Male,Sales,Developer,2,991239,4,0,5,0
226,227,51,Male,HR,Developer,22,724656,3,13,3,0
227,228,42,Male,HR,Executive,23,1273266,3,16,2,0
228,229,24,Female,Finance,Intern,18,873166,3,28,4,1
229,230,27,Male,Marketing,Analyst,15,720590,1,21,1,0
230,231,59,Female,IT,Intern,23,1412419,1,12,2,0
231,232,34,Male,Marketing,Analyst,16,851035,2,37,3,0
232,233,24,Female,Finance,Analyst,19,653566,2,17,4,0
233,234,49,Male,HR,Analyst,19,1185763,4,37,1,0
234,235,43,Male,IT,Analyst,12,929024,1,33,2,0
235,236,33,Male,Sales,Intern,23,325749,5,46,1,0
236,237,44,Male,Sales,Executive,6,1008521,2,5,3,1
237,238,52,Male,HR,Analyst,12,720730,5,9,5,0
238,239,39,Male,Marketing,Manager,7,536654,2,23,1,0
239,240,28,Male,Marketing,Analyst,10,850241,5,20,2,0
240,241,29,Male,IT,Manager,12,1052274,5,27,3,0
241,242,40,Male,Finance,Developer,16,632001,2,29,3,1
242,243,50,Male,Marketing,Analyst,13,1441939,1,23,3,0
243,244,41,Female,Sales,Manager,13,407060,2,28,5,0
244,245,51,Male,Sales,Analyst,14,834361,1,34,5,0
245,246,43,Female,Sales,Intern,6,1220042,3,0,2,1
246,247,31,Male,Marketing,Executive,19,1146302,3,19,3,0
247,248,47,Male,HR,Developer,10,725129,3,40,4,0
248,249,54,Female,Marketing,Executive,9,356081,3,27,3,1
249,250,49,Male,Marketing,Executive,22,971548,4,43,2,0
250,251,31,Male,IT,Intern,9,1315821,4,34,3,0
251,252,50,Male,Finance,Manager,9,376385,2,45,3,0
252,253,39,Male,Marketing,Developer,1,582390,5,14,4,1
253,254,22,Female,Marketing,Executive,1,1372472,4,26,2,0
254,255,44,Female,Finance,Analyst,13,781694,4,16,3,0
255,256,38,Female,Sales,Manager,21,866154,5,26,5,0
256,257,58,Female,Finance,Developer,21,508031,4,3,1,1
257,258,52,Male,Marketing,Executive,22,735185,5,32,4,1
258,259,46,Female,HR,Executive,19,421888,4,7,4,0
259,260,25,Female,IT,Manager,16,1233773,3,35,2,1
260,261,30,Female,IT,Analyst,23,854161,5,33,5,0
261,262,49,Male,Finance,Executive,13,1259872,3,23,5,0
262,263,51,Female,Finance,Intern,18,1292792,2,48,5,1
263,264,45,Male,Sales,Intern,10,1209652,5,35,2,1
264,265,54,Male,IT,Manager,14,1099275,5,3,2,0
265,266,41,Female,Finance,Developer,3,1084745,1,38,2,1
266,267,30,Male,Marketing,Manager,1,1165737,4,0,3,1
267,268,29,Male,Marketing,Manager,10,836417,5,49,3,0
268,269,45,Female,HR,Developer,7,1243450,1,38,4,0
269,270,35,Female,HR,Developer,4,338313,1,40,4,0
270,271,39,Female,Finance,Developer,20,593871,1,7,1,0
271,272,22,Male,Sales,Analyst,7,491647,3,26,1,0
272,273,33,Male,Sales,Executive,2,770692,1,18,4,0
273,274,50,Male,Sales,Manager,2,329534,5,12,1,0
274,275,58,Male,Sales,Intern,6,689306,2,6,3,1
275,276,47,Other,IT,Developer,2,534580,4,33,4,0
276,277,54,Female,Sales,Developer,2,879208,3,8,2,1
277,278,36,Female,HR,Developer,4,856663,1,36,5,0
278,279,44,Male,HR,Executive,23,888637,1,25,2,0
279,280,50,Female,IT,Intern,6,645787,3,5,1,1
280,281,42,Male,Finance,Manager,19,1225931,3,27,2,0
281,282,40,Male,Marketing,Executive,2,1141470,5,24,4,1
282,283,26,Female,HR,Analyst,4,1099973,5,18,4,0
283,284,44,Other,HR,Intern,14,654000,2,31,1,0
284,285,57,Male,IT,Intern,3,1023762,5,33,4,0
285,286,41,Male,HR,Analyst,16,333070,5,33,2,0
286,287,29,Male,Marketing,Manager,12,455778,3,26,5,0
287,288,30,Female,IT,Intern,2,1336764,3,31,1,0
288,289,35,Female,Sales,Developer,10,739553,4,14,5,0
289,290,27,Other,Sales,Manager,10,1253800,3,12,3,0
290,291,22,Male,Sales,Executive,12,1410355,3,35,5,1
291,292,30,Male,Marketing,Analyst,17,1250683,5,24,4,1
292,293,37,Male,Finance,Developer,10,1151705,5,8,2,0
293,294,37,Female,HR,Developer,1,821827,3,9,5,1
294,295,33,Male,Marketing,Developer,22,532664,3,39,5,0
295,296,26,Female,Finance,Executive,5,781108,4,11,2,0
296,297,50,Female,IT,Developer,12,1494904,1,12,1,1
297,298,48,Female,Marketing,Intern,4,1330686,3,17,2,0
298,299,32,Other,IT,Developer,13,854804,2,35,3,0
299,300,49,Female,Finance,Manager,3,995543,4,32,5,0
300,301,57,Male,Marketing,Intern,1,541732,1,0,2,0
301,302,40,Male,HR,Developer,5,586789,5,46,5,0
302,303,56,Female,Finance,Executive,11,1104012,3,11,1,0
303,304,52,Male,HR,Developer,4,655066,2,19,5,1
304,305,40,Male,IT,Executive,12,1214328,5,24,5,0
305,306,45,Female,HR,Intern,10,325068,3,11,2,0
306,307,23,Female,Marketing,Intern,6,666714,1,28,1,1
307,308,28,Male,Marketing,Intern,2,1010010,3,17,3,0
308,309,52,Other,Sales,Intern,4,357632,3,4,2,0
309,310,38,Male,HR,Executive,11,1071413,2,22,2,1
310,311,48,Male,Sales,Manager,17,459683,4,22,1,0
311,312,57,Male,Finance,Executive,21,418645,5,1,4,1
312,313,31,Other,IT,Executive,2,914228,5,45,5,0
313,314,35,Female,Finance,Developer,4,305457,3,1,2,0
314,315,28,Male,IT,Developer,14,1380446,2,8,1,1
315,316,30,Male,HR,Executive,5,974961,4,23,2,0
316,317,35,Male,Marketing,Analyst,9,1159467,3,47,1,0
317,318,29,Male,HR,Manager,6,1304346,5,16,1,0
318,319,38,Female,IT,Intern,11,717122,3,38,3,0
319,320,44,Male,Sales,Intern,1,980307,1,22,1,0
320,321,37,Male,IT,Intern,4,375873,4,11,1,0
321,322,47,Female,Sales,Developer,22,702377,3,44,4,0
322,323,30,Female,Finance,Developer,9,644023,2,28,5,0
323,324,57,Male,Marketing,Manager,14,665545,5,35,3,1
324,325,28,Male,Finance,Manager,1,594459,1,12,5,0
325,326,39,Female,HR,Executive,11,1239684,2,3,2,0
326,327,29,Female,Sales,Developer,6,1267344,5,42,3,0
327,328,42,Male,Sales,Intern,22,1356993,1,12,3,0
328,329,47,Male,Finance,Executive,9,517483,5,2,1,0
329,330,24,Male,Marketing,Analyst,14,705741,4,11,4,0
330,331,38,Male,Marketing,Analyst,3,889384,3,8,1,0
331,332,45,Male,Finance,Manager,1,915918,5,1,4,1
332,333,46,Female,Marketing,Developer,13,1332029,1,19,3,0
333,334,26,Female,HR,Developer,8,599425,4,36,3,0
334,335,58,Male,IT,Analyst,17,1462927,3,30,4,1
335,336,45,Male,Sales,Manager,16,652222,4,19,1,0
336,337,52,Male,Sales,Manager,20,375118,2,19,1,1
337,338,47,Male,Sales,Developer,18,649399,2,35,3,0
338,339,42,Male,IT,Developer,1,477835,3,7,1,0
339,340,55,Male,HR,Analyst,1,595578,2,10,3,0
340,341,59,Female,Finance,Intern,12,307396,3,45,3,1
341,342,45,Female,Marketing,Manager,11,1154510,2,28,2,0
342,343,49,Male,Marketing,Developer,7,981912,2,35,4,0
343,344,51,Male,IT,Manager,19,706353,2,47,4,0
344,345,55,Female,Sales,Intern,2,635105,3,49,2,1
345,346,44,Male,Marketing,Analyst,20,526416,5,3,2,0
346,347,29,Female,Finance,Intern,21,1260798,5,9,5,1
347,348,31,Female,Marketing,Analyst,6,907201,2,42,3,0
348,349,22,Other,Sales,Manager,18,1486735,5,18,5,0
349,350,41,Female,Finance,Executive,23,414608,4,5,3,1
350,351,58,Male,Sales,Manager,11,842730,2,26,4,0
351,352,39,Male,Sales,Executive,13,630026,4,15,5,1
352,353,42,Female,IT,Manager,10,1422502,5,22,3,0
353,354,25,Male,Sales,Intern,18,1208393,3,13,4,1
354,355,23,Female,Finance,Analyst,4,1202822,1,17,4,0
355,356,42,Male,IT,Manager,9,1089150,3,43,2,1
356,357,58,Male,IT,Developer,3,1176552,3,34,2,0
357,358,26,Male,Finance,Analyst,11,1323185,5,14,5,1
358,359,38,Female,IT,Intern,7,493126,3,10,1,0
359,360,32,Female,Finance,Manager,1,1368894,5,3,1,0
360,361,52,Male,Marketing,Analyst,5,428605,1,8,4,0
361,362,49,Male,IT,Developer,5,1235946,5,27,3,1
362,363,53,Male,Marketing,Analyst,13,1369724,4,1,5,1
363,364,42,Male,IT,Manager,1,310119,5,39,5,0
364,365,28,Female,Sales,Developer,20,863571,4,44,5,1
365,366,31,Female,Finance,Manager,4,475431,3,18,3,1
366,367,49,Female,Sales,Executive,23,1116588,3,8,4,1
367,368,57,Female,Marketing,Analyst,8,1402003,4,0,3,1
368,369,41,Female,Finance,Developer,23,1326323,3,12,5,1
369,370,34,Female,Finance,Manager,18,879827,2,41,3,0
370,371,40,Female,Marketing,Executive,23,959582,1,11,4,0
371,372,32,Female,Finance,Manager,12,784635,5,10,1,0
372,373,56,Male,Finance,Manager,3,1012751,1,44,5,0
373,374,55,Female,IT,Analyst,22,1064439,3,42,1,0
374,375,25,Female,HR,Analyst,13,1014707,1,6,2,0
375,376,34,Female,Sales,Executive,17,596589,2,22,1,1
376,377,58,Female,HR,Analyst,3,784006,2,44,2,1
377,378,23,Female,Finance,Developer,13,1494242,5,7,3,1
378,379,22,Male,HR,Executive,22,300810,3,12,2,1
379,380,46,Female,IT,Analyst,10,835603,3,20,1,1
380,381,58,Female,Marketing,Intern,4,687140,2,41,4,0
381,382,57,Male,Marketing,Developer,1,1085093,4,29,4,1
382,383,27,Female,HR,Manager,14,865685,1,36,1,0
383,384,28,Female,IT,Developer,6,1170002,2,3,1,1
384,385,25,Female,Marketing,Developer,19,341048,1,44,2,1
385,386,56,Male,HR,Developer,4,413260,5,7,1,1
386,387,55,Female,HR,Intern,11,1385141,2,13,1,0
387,388,50,Female,Sales,Developer,20,338542,5,18,1,0
388,389,26,Female,IT,Intern,13,1293652,4,24,1,1
389,390,48,Female,Sales,Intern,10,670025,4,33,5,0
390,391,54,Male,HR,Analyst,17,941105,3,34,5,1
391,392,31,Male,Sales,Intern,7,854703,5,44,4,0
392,393,27,Female,Sales,Intern,13,600428,2,21,2,0
393,394,55,Male,HR,Executive,16,987291,1,35,4,0
394,395,29,Female,Marketing,Intern,7,1469885,1,28,4,0
395,396,52,Female,Finance,Developer,18,758270,5,49,2,0
396,397,30,Male,Marketing,Manager,7,509250,2,38,2,0
397,398,42,Male,IT,Intern,6,357171,3,44,4,0

In [30]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
358    False
359    False
360    False
361    False
362    False
363    False
364    False
365    False
366    False
367    False
368    False
369    False
370    False
371    False
372    False
373    False
374    False
375    False
376    False
377    False
378    False
379    False
380    False
381    False
382    False
383    False
384    False
385    False
386    False
387    False
388    False
389    False
390    False
391    False
392    False
393    False
394    False
395    False
396    False
397    False
398    False
399    False
400    False
401    False
402    False
403    False
404    False
405    False
406    False
407    False
408    False
409    False
410    False
411    False
412    False
413    False
414    False
415    False
416    False
417    False
418    False
419    False
420    False
421    False
422    False
423    False
424    False
425    False
426    False
427    False
428    False
429    False
430    False
431    False
432    False
433    False
434    False
435    False
436    False
437    False
438    False
439    False
440    False
441    False
442    False
443    False
444    False
445    False
446    False
447    False
448    False
449    False
450    False
451    False
452    False
453    False
454    False
455    False
456    False
457    False
458    False
459    False
460    False
461    False
462    False
463    False
464    False
465    False
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
500    False
501    False
502    False
503    False
504    False
505    False
506    False
507    False
508    False
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
517    False
518    False
519    False
520    False
521    False
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529    False
530    False
531    False
532    False
533    False
534    False
535    False
536    False
537    False
538    False
539    False
540    False
541    False
542    False
543    False
544    False
545    False
546    False
547    False
548    False
549    False
550    False
551    False
552    False
553    False
554    False
555    False
556    False
557    False
558    False
559    False
560    False
561    False
562    False
563    False
564    False
565    False
566    False
567    False
568    False
569    False
570    False
571    False
572    False
573    False
574    False
575    False
576    False
577    False
578    False
579    False
580    False
581    False
582    False
583    False
584    False
585    False
586    False
587    False
588    False
589    False
590    False
591    False
592    False
593    False
594    False
595    False
596    False
597    False
598    False
599    False
600    False
601    False
602    False
603    False
604    False
605    False
606    False
607    False
608    False
609    False
610    False
611    False
612    False
613    False
614    False
615    False
616    False
617    False
618    False
619    False
620    False
621    False
622    False
623    False
624    False
625    False
626    False
627    False
628    False
629    False
630    False
631    False
632    False
633    False
634    False
635    False
636    False
637    False
638    False
639    False
640    False
641    False
642    False
643    False
644    False
645    False
646    False
647    False
648    False
649    False
650    False
651    False
652    False
653    False
654    False
655    False
656    False
657    False
658    False
659    False
660    False
661    False
662    False
663    False
664    False
665    False
666    False
667    False
668    False
669    False
670    False
671    False
672    False
673    False
674    False
675    False
676    False
677    False
678    False
679    False
680    False
681    False
682    False
683    False
684    False
685    False
686    False
687    False
688    False
689    False
690    False
691    False
692    False
693    False
694    False
695    False
696    False
697    False
698    False
699    False
700    False
701    False
702    False
703    False
704    False
705    False
706    False
707    False
708    False
709    False
710    False
711    False
712    False
713    False
714    False
715    False
716    False
717    False
718    False
719    False
720    False
721    False
722    False
723    False
724    False
725    False
726    False
727    False
728    False
729    False
730    False
731    False
732    False
733    False
734    False
735    False
736    False
737    False
738    False
739    False
740    False
741    False
742    False
743    False
744    False
745    False
746    False
747    False
748    False
749    False
750    False
751    False
752    False
753    False
754    False
755    False
756    False
757    False
758    False
759    False
760    False
761    False
762    False
763    False
764    False
765    False
766    False
767    False
768    False
769    False
770    False
771    False
772    False
773    False
774    False
775    False
776    False
777    False
778    False
779    False
780    False
781    False
782    False
783    False
784    False
785    False
786    False
787    False
788    False
789    False
790    False
791    False
792    False
793    False
794    False
795    False
796    False
797    False
798    False
799    False
800    False
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
819    False
820    False
821    False
822    False
823    False
824    False
825    False
826    False
827    False
828    False
829    False
830    False
831    False
832    False
833    False
834    False
835    False
836    False
837    False
838    False
839    False
840    False
841    False
842    False
843    False
844    False
845    False
846    False
847    False
848    False
849    False
850    False
851    False
852    False
853    False
854    False
855    False
856    False
857    False
858    False
859    False
860    False
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
891    False
892    False
893    False
894    False
895    False
896    False
897    False
898    False
899    False
900    False
901    False
902    False
903    False
904    False
905    False
906    False
907    False
908    False
909    False
910    False
911    False
912    False
913    False
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
944    False
945    False
946    False
947    False
948    False
949    False
950    False
951    False
952    False
953    False
954    False
955    False
956    False
957    False
958    False
959    False
960    False
961    False
962    False
963    False
964    False
965    False
966    False
967    False
968    False
969    False
970    False
971    False
972    False
973    False
974    False
975    False
976    False
977    False
978    False
979    False
980    False
981    False
982    False
983    False
984    False
985    False
986    False
987    False
988    False
989    False
990    False
991    False
992    False
993    False
994    False
995    False
996    False
997    False
998    False
999    False
dtype: bool

In [31]:
df.duplicated().sum()

0

In [32]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902,5,45,3,1
1,2,25,Male,Marketing,Executive,19,1353292,1,25,4,1
2,3,25,Female,Sales,Manager,13,1238997,2,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290,4,15,2,0
4,5,41,Male,HR,Developer,4,938977,1,40,1,0
5,6,43,Male,IT,Manager,10,833649,4,39,1,1
6,7,58,Male,Finance,Executive,20,750991,4,38,3,0
7,8,45,Male,Sales,Manager,6,1248488,4,4,5,0
8,9,28,Female,Finance,Developer,2,1249577,5,33,2,0
9,10,46,Male,Finance,Analyst,2,939412,4,10,3,0
10,11,46,Female,Finance,Developer,1,498680,3,34,2,1
11,12,34,Female,Finance,Manager,21,867236,2,2,3,0
12,13,23,Male,Sales,Manager,16,1460263,2,47,3,0
13,14,45,Male,HR,Developer,11,858149,1,4,4,0
14,15,46,Male,HR,Developer,13,867956,3,36,3,0
15,16,39,Male,Finance,Developer,14,1131299,4,34,5,0
16,17,59,Male,IT,Manager,4,468282,3,34,4,1
17,18,47,Male,HR,Intern,20,343176,4,18,2,1
18,19,35,Female,Sales,Developer,21,714064,4,44,4,0
19,20,30,Female,Sales,Executive,11,697670,2,5,2,1
20,21,31,Male,HR,Manager,20,1204110,5,27,2,0
21,22,42,Male,Sales,Intern,10,783733,1,19,2,0
22,23,38,Female,Sales,Analyst,6,938284,2,16,3,0
23,24,27,Female,Marketing,Intern,14,969766,4,35,5,0
24,25,37,Female,Sales,Analyst,9,658816,1,41,4,0
25,26,22,Female,HR,Intern,18,1047348,4,38,2,0
26,27,40,Male,HR,Manager,14,971648,2,28,5,1
27,28,57,Male,IT,Executive,4,1423081,4,11,2,0
28,29,46,Male,Finance,Manager,1,1196187,1,47,2,0
29,30,51,Female,HR,Intern,23,554564,4,0,1,0
30,31,41,Female,Sales,Intern,15,879646,2,18,2,0
31,32,41,Male,IT,Analyst,21,1314152,4,37,1,1
32,33,36,Male,Marketing,Developer,15,493779,1,38,1,0
33,34,54,Female,IT,Manager,7,1322989,3,14,2,0
34,35,23,Female,Sales,Analyst,16,1124791,3,11,5,1
35,36,31,Female,HR,Intern,6,1444647,5,37,5,1
36,37,54,Female,IT,Intern,23,965316,5,10,3,1
37,38,53,Female,Sales,Developer,1,1455181,2,23,1,1
38,39,32,Female,Marketing,Manager,8,614647,4,7,5,0
39,40,45,Male,IT,Intern,8,579801,4,23,5,0
40,41,57,Female,Sales,Executive,18,408745,4,24,3,1
41,42,33,Male,Finance,Developer,1,963563,2,17,1,0
42,43,50,Other,HR,Developer,16,316190,2,16,2,0
43,44,56,Female,Sales,Analyst,12,1168570,4,28,1,0
44,45,22,Male,Finance,Analyst,12,571755,1,21,4,0
45,46,22,Female,HR,Analyst,19,414480,2,18,5,0
46,47,58,Male,HR,Intern,12,1123425,5,11,3,0
47,48,27,Female,HR,Developer,7,534617,1,24,1,0
48,49,39,Female,Finance,Manager,23,1293272,3,25,3,0
49,50,37,Female,IT,Executive,8,339198,4,26,4,0
50,51,26,Male,Finance,Intern,21,1413505,5,38,2,0
51,52,53,Female,Finance,Intern,4,770252,5,46,2,0
52,53,23,Male,Sales,Manager,20,485108,5,15,5,1
53,54,23,Female,Sales,Intern,6,435985,5,37,1,0
54,55,57,Female,Marketing,Manager,18,1091432,4,33,4,0
55,56,33,Male,Finance,Manager,1,730400,5,21,1,0
56,57,40,Male,Finance,Developer,12,604798,5,13,1,0
57,58,49,Female,Marketing,Intern,2,779397,1,30,3,1
58,59,22,Male,Finance,Intern,19,600822,2,20,5,0
59,60,36,Male,Finance,Executive,22,912650,3,30,5,1
60,61,57,Female,Marketing,Manager,15,919824,4,27,1,0
61,62,34,Female,Marketing,Executive,21,918454,3,34,1,0
62,63,42,Male,Marketing,Executive,19,394313,3,29,4,0
63,64,33,Female,HR,Executive,10,1231860,2,2,1,0
64,65,26,Female,Sales,Analyst,7,885095,4,11,5,0
65,66,28,Female,Marketing,Developer,5,933537,1,27,3,0
66,67,26,Male,HR,Manager,12,456792,2,34,4,0
67,68,25,Female,Sales,Intern,18,472461,5,1,3,0
68,69,34,Male,Marketing,Analyst,1,1102444,5,9,1,0
69,70,58,Male,Finance,Analyst,12,978085,3,22,4,0
70,71,36,Other,Finance,Analyst,19,1038859,1,23,3,0
71,72,37,Male,Sales,Intern,9,1086967,3,24,4,1
72,73,42,Male,IT,Analyst,22,1225093,5,3,2,0
73,74,57,Female,Sales,Analyst,20,690511,4,33,2,1
74,75,45,Male,HR,Intern,3,1088400,2,24,5,0
75,76,37,Male,Finance,Developer,19,433927,1,27,4,1
76,77,35,Female,Finance,Analyst,7,961096,2,12,4,1
77,78,43,Female,Marketing,Manager,15,782086,2,39,5,0
78,79,27,Other,HR,Developer,12,1389200,3,26,2,0
79,80,57,Female,IT,Intern,2,1016212,5,37,4,1
80,81,22,Other,HR,Developer,21,506572,1,31,5,0
81,82,53,Male,HR,Developer,14,624661,2,38,5,0
82,83,27,Male,HR,Executive,14,739038,1,28,4,0
83,84,52,Male,HR,Intern,2,929795,1,36,2,0
84,85,22,Male,IT,Developer,11,1024500,5,19,3,1
85,86,58,Male,HR,Intern,20,1182217,2,5,2,1
86,87,56,Male,IT,Analyst,14,1466733,1,47,4,0
87,88,51,Male,Sales,Intern,20,1348687,1,7,4,1
88,89,25,Female,HR,Developer,15,1063439,2,15,4,1
89,90,56,Female,Marketing,Intern,1,604275,2,34,2,0
90,91,35,Male,IT,Executive,12,368893,2,13,3,0
91,92,43,Female,IT,Executive,8,366294,3,24,3,0
92,93,31,Female,HR,Executive,4,1009956,2,47,5,0
93,94,22,Male,Marketing,Intern,15,1181005,5,43,5,0
94,95,32,Male,Marketing,Developer,1,563852,1,19,1,0
95,96,45,Female,HR,Analyst,9,465327,3,48,1,0
96,97,24,Male,Marketing,Manager,4,586716,2,11,1,1
97,98,56,Female,IT,Analyst,12,783076,4,34,1,1
98,99,57,Female,HR,Executive,21,974725,3,24,3,0
99,100,52,Female,HR,Developer,2,1326100,3,21,4,0
100,101,25,Female,HR,Intern,7,932337,3,49,3,0
101,102,40,Male,Sales,Intern,15,463205,3,22,3,0
102,103,57,Female,HR,Developer,5,578370,1,33,5,0
103,104,42,Male,Finance,Developer,11,492387,1,39,3,0
104,105,39,Male,Finance,Executive,4,1360352,3,43,1,0
105,106,49,Male,IT,Executive,16,1080569,4,32,5,1
106,107,36,Female,Sales,Developer,23,1334580,2,18,1,0
107,108,23,Female,Sales,Executive,7,827965,3,16,5,0
108,109,58,Male,Marketing,Manager,12,853409,3,5,5,0
109,110,32,Other,HR,Intern,21,1340644,2,31,2,1
110,111,44,Female,Finance,Executive,3,974013,1,20,5,0
111,112,33,Female,Sales,Executive,4,822040,3,27,2,0
112,113,24,Female,Finance,Executive,18,1233761,3,42,4,0
113,114,38,Female,Finance,Developer,11,728304,3,21,1,0
114,115,54,Male,HR,Manager,1,540206,3,6,3,0
115,116,22,Male,Finance,Executive,7,1122634,2,23,4,0
116,117,41,Female,IT,Manager,2,759441,1,48,3,0
117,118,35,Female,IT,Manager,22,1119224,4,39,1,0
118,119,52,Male,Sales,Developer,15,364325,2,31,3,0
119,120,46,Other,Sales,Executive,21,956904,4,8,5,1
120,121,24,Female,Marketing,Manager,23,936193,4,42,4,0
121,122,25,Male,Finance,Executive,4,869413,2,35,2,0
122,123,52,Female,Sales,Executive,18,596544,1,27,3,1
123,124,56,Male,HR,Analyst,8,812256,1,35,4,0
124,125,35,Female,Sales,Intern,15,911115,1,1,2,0
125,126,30,Female,IT,Executive,12,1097043,2,38,1,0
126,127,41,Female,Finance,Developer,14,329070,2,34,1,0
127,128,53,Male,IT,Intern,1,1225136,5,28,4,1
128,129,30,Female,Sales,Developer,1,1156373,2,36,2,0
129,130,48,Other,Sales,Developer,19,1164210,5,22,4,1
130,131,24,Male,IT,Developer,23,1115965,4,9,4,0
131,132,25,Female,Marketing,Analyst,18,775877,2,31,2,1
132,133,36,Female,Marketing,Intern,10,963683,5,46,5,0
133,134,54,Male,Sales,Developer,6,1101770,1,25,3,0
134,135,26,Male,Marketing,Analyst,13,1329417,4,2,3,0
135,136,25,Female,IT,Intern,18,426375,2,5,3,0
136,137,33,Other,Finance,Developer,4,1176640,3,31,4,1
137,138,44,Female,Sales,Developer,4,546176,4,29,3,0
138,139,35,Male,HR,Executive,3,823420,4,40,4,0
139,140,33,Male,Marketing,Intern,21,885183,5,24,4,0
140,141,38,Female,Marketing,Manager,6,1204034,2,48,2,0
141,142,46,Female,HR,Developer,21,569669,5,30,1,0
142,143,51,Male,HR,Developer,7,425265,4,20,2,1
143,144,43,Other,IT,Developer,9,1382866,1,13,5,0
144,145,47,Female,IT,Executive,1,388651,2,34,3,0
145,146,38,Female,Marketing,Executive,13,532341,2,25,2,0
146,147,41,Male,Finance,Executive,7,1166435,2,44,2,0
147,148,55,Male,IT,Intern,8,552115,1,5,2,0
148,149,54,Female,IT,Analyst,10,1415848,4,32,5,0
149,150,58,Female,Sales,Intern,7,789961,3,41,5,0
150,151,28,Female,Sales,Analyst,6,1499566,4,4,3,0
151,152,43,Male,IT,Manager,5,819075,1,35,1,0
152,153,53,Male,Finance,Intern,8,1081777,5,23,3,0
153,154,35,Female,Marketing,Developer,20,1299530,5,42,1,0
154,155,29,Male,HR,Manager,16,882097,3,2,1,0
155,156,46,Female,IT,Developer,23,612544,5,18,5,0
156,157,37,Male,Finance,Analyst,4,715336,1,10,5,1
157,158,40,Other,Finance,Executive,8,602832,3,48,2,0
158,159,37,Male,Finance,Analyst,21,945316,1,48,3,1
159,160,33,Male,IT,Intern,9,688393,2,27,1,0
160,161,51,Male,IT,Manager,19,1370890,5,28,1,1
161,162,23,Female,Finance,Manager,23,335003,2,22,1,1
162,163,53,Male,Finance,Manager,23,569649,4,37,2,0
163,164,46,Other,IT,Analyst,22,1193133,2,33,5,0
164,165,46,Male,Marketing,Intern,15,823871,5,9,5,0
165,166,25,Male,IT,Executive,8,1172291,4,46,2,0
166,167,40,Female,Sales,Manager,3,1380188,5,20,3,0
167,168,25,Male,Finance,Executive,3,513933,5,43,3,0
168,169,34,Male,Marketing,Manager,17,316025,5,27,2,0
169,170,57,Female,HR,Manager,14,1123603,1,48,5,0
170,171,44,Female,IT,Analyst,14,883580,5,35,3,0
171,172,27,Female,Finance,Developer,2,761138,4,5,1,1
172,173,45,Male,IT,Manager,14,1080396,4,27,1,1
173,174,54,Male,HR,Developer,11,331455,3,10,5,1
174,175,33,Female,IT,Analyst,22,563063,5,37,2,0
175,176,42,Female,Marketing,Manager,14,457581,1,37,2,0
176,177,32,Female,HR,Intern,22,1483565,5,33,3,0
177,178,59,Male,Sales,Manager,7,313837,4,48,5,0
178,179,50,Female,Sales,Manager,19,851939,2,23,5,1
179,180,24,Male,Finance,Intern,8,585704,5,35,3,1
180,181,49,Male,Sales,Intern,14,973779,1,49,5,0
181,182,41,Male,IT,Manager,21,1433437,4,36,5,0
182,183,47,Male,Marketing,Executive,4,1074918,5,8,3,0
183,184,45,Male,Sales,Analyst,11,609215,3,11,5,0
184,185,42,Female,Finance,Executive,4,1439349,2,13,3,0
185,186,51,Female,IT,Manager,6,1365229,4,13,4,1
186,187,25,Male,Finance,Developer,6,1339687,3,46,2,0
187,188,57,Male,Finance,Intern,23,940301,4,21,2,0
188,189,31,Male,Marketing,Intern,2,1414652,2,31,5,1
189,190,31,Male,Marketing,Developer,19,1182002,3,16,1,1
190,191,45,Female,Finance,Analyst,1,316285,3,3,1,0
191,192,25,Female,Finance,Analyst,13,653597,2,45,2,0
192,193,48,Female,Sales,Manager,14,922898,2,24,1,0
193,194,25,Male,Sales,Manager,3,391663,2,43,3,1
194,195,53,Female,HR,Intern,22,708385,4,37,3,1
195,196,31,Female,Marketing,Developer,19,1112141,4,21,4,0
196,197,32,Female,Sales,Developer,17,1240825,1,21,1,0
197,198,49,Male,Finance,Executive,4,1206770,3,11,2,0
198,199,29,Male,Sales,Analyst,13,446421,3,42,4,1
199,200,43,Male,HR,Analyst,9,438699,5,47,5,0
200,201,55,Male,Sales,Manager,4,1036300,3,48,3,1
201,202,56,Male,Finance,Manager,10,761478,1,13,2,1
202,203,56,Female,Sales,Analyst,13,1100768,1,32,2,1
203,204,46,Female,Sales,Executive,18,918309,2,7,1,0
204,205,55,Female,Marketing,Manager,12,485981,3,11,2,0
205,206,27,Male,Marketing,Manager,16,379767,1,39,5,0
206,207,58,Female,HR,Executive,1,659238,2,40,1,0
207,208,22,Male,HR,Intern,14,1377078,1,2,1,1
208,209,33,Other,Sales,Analyst,23,823223,3,46,4,0
209,210,56,Female,Marketing,Developer,21,336673,3,10,1,0
210,211,27,Male,Marketing,Developer,7,1289075,2,49,4,1
211,212,38,Male,Sales,Developer,5,1109339,3,23,5,0
212,213,30,Female,Marketing,Developer,2,481433,2,31,2,1
213,214,23,Female,IT,Developer,4,1017367,3,38,5,1
214,215,39,Male,Finance,Intern,10,843505,5,32,1,0
215,216,57,Male,IT,Analyst,23,1178518,2,47,2,1
216,217,49,Female,IT,Manager,15,550984,5,30,2,0
217,218,58,Female,IT,Developer,19,704736,3,0,3,1
218,219,47,Female,Marketing,Executive,15,406020,4,12,5,0
219,220,25,Male,Sales,Developer,19,1146588,3,21,4,0
220,221,57,Male,HR,Intern,10,1463583,4,11,5,0
221,222,52,Male,Finance,Analyst,20,739001,3,28,5,0
222,223,51,Male,Finance,Executive,3,1043145,2,10,2,0
223,224,55,Male,IT,Developer,11,1279204,1,23,5,0
224,225,40,Female,HR,Intern,18,751003,2,13,5,0
225,226,39,Male,Sales,Developer,2,991239,4,0,5,0
226,227,51,Male,HR,Developer,22,724656,3,13,3,0
227,228,42,Male,HR,Executive,23,1273266,3,16,2,0
228,229,24,Female,Finance,Intern,18,873166,3,28,4,1
229,230,27,Male,Marketing,Analyst,15,720590,1,21,1,0
230,231,59,Female,IT,Intern,23,1412419,1,12,2,0
231,232,34,Male,Marketing,Analyst,16,851035,2,37,3,0
232,233,24,Female,Finance,Analyst,19,653566,2,17,4,0
233,234,49,Male,HR,Analyst,19,1185763,4,37,1,0
234,235,43,Male,IT,Analyst,12,929024,1,33,2,0
235,236,33,Male,Sales,Intern,23,325749,5,46,1,0
236,237,44,Male,Sales,Executive,6,1008521,2,5,3,1
237,238,52,Male,HR,Analyst,12,720730,5,9,5,0
238,239,39,Male,Marketing,Manager,7,536654,2,23,1,0
239,240,28,Male,Marketing,Analyst,10,850241,5,20,2,0
240,241,29,Male,IT,Manager,12,1052274,5,27,3,0
241,242,40,Male,Finance,Developer,16,632001,2,29,3,1
242,243,50,Male,Marketing,Analyst,13,1441939,1,23,3,0
243,244,41,Female,Sales,Manager,13,407060,2,28,5,0
244,245,51,Male,Sales,Analyst,14,834361,1,34,5,0
245,246,43,Female,Sales,Intern,6,1220042,3,0,2,1
246,247,31,Male,Marketing,Executive,19,1146302,3,19,3,0
247,248,47,Male,HR,Developer,10,725129,3,40,4,0
248,249,54,Female,Marketing,Executive,9,356081,3,27,3,1
249,250,49,Male,Marketing,Executive,22,971548,4,43,2,0
250,251,31,Male,IT,Intern,9,1315821,4,34,3,0
251,252,50,Male,Finance,Manager,9,376385,2,45,3,0
252,253,39,Male,Marketing,Developer,1,582390,5,14,4,1
253,254,22,Female,Marketing,Executive,1,1372472,4,26,2,0
254,255,44,Female,Finance,Analyst,13,781694,4,16,3,0
255,256,38,Female,Sales,Manager,21,866154,5,26,5,0
256,257,58,Female,Finance,Developer,21,508031,4,3,1,1
257,258,52,Male,Marketing,Executive,22,735185,5,32,4,1
258,259,46,Female,HR,Executive,19,421888,4,7,4,0
259,260,25,Female,IT,Manager,16,1233773,3,35,2,1
260,261,30,Female,IT,Analyst,23,854161,5,33,5,0
261,262,49,Male,Finance,Executive,13,1259872,3,23,5,0
262,263,51,Female,Finance,Intern,18,1292792,2,48,5,1
263,264,45,Male,Sales,Intern,10,1209652,5,35,2,1
264,265,54,Male,IT,Manager,14,1099275,5,3,2,0
265,266,41,Female,Finance,Developer,3,1084745,1,38,2,1
266,267,30,Male,Marketing,Manager,1,1165737,4,0,3,1
267,268,29,Male,Marketing,Manager,10,836417,5,49,3,0
268,269,45,Female,HR,Developer,7,1243450,1,38,4,0
269,270,35,Female,HR,Developer,4,338313,1,40,4,0
270,271,39,Female,Finance,Developer,20,593871,1,7,1,0
271,272,22,Male,Sales,Analyst,7,491647,3,26,1,0
272,273,33,Male,Sales,Executive,2,770692,1,18,4,0
273,274,50,Male,Sales,Manager,2,329534,5,12,1,0
274,275,58,Male,Sales,Intern,6,689306,2,6,3,1
275,276,47,Other,IT,Developer,2,534580,4,33,4,0
276,277,54,Female,Sales,Developer,2,879208,3,8,2,1
277,278,36,Female,HR,Developer,4,856663,1,36,5,0
278,279,44,Male,HR,Executive,23,888637,1,25,2,0
279,280,50,Female,IT,Intern,6,645787,3,5,1,1
280,281,42,Male,Finance,Manager,19,1225931,3,27,2,0
281,282,40,Male,Marketing,Executive,2,1141470,5,24,4,1
282,283,26,Female,HR,Analyst,4,1099973,5,18,4,0
283,284,44,Other,HR,Intern,14,654000,2,31,1,0
284,285,57,Male,IT,Intern,3,1023762,5,33,4,0
285,286,41,Male,HR,Analyst,16,333070,5,33,2,0
286,287,29,Male,Marketing,Manager,12,455778,3,26,5,0
287,288,30,Female,IT,Intern,2,1336764,3,31,1,0
288,289,35,Female,Sales,Developer,10,739553,4,14,5,0
289,290,27,Other,Sales,Manager,10,1253800,3,12,3,0
290,291,22,Male,Sales,Executive,12,1410355,3,35,5,1
291,292,30,Male,Marketing,Analyst,17,1250683,5,24,4,1
292,293,37,Male,Finance,Developer,10,1151705,5,8,2,0
293,294,37,Female,HR,Developer,1,821827,3,9,5,1
294,295,33,Male,Marketing,Developer,22,532664,3,39,5,0
295,296,26,Female,Finance,Executive,5,781108,4,11,2,0
296,297,50,Female,IT,Developer,12,1494904,1,12,1,1
297,298,48,Female,Marketing,Intern,4,1330686,3,17,2,0
298,299,32,Other,IT,Developer,13,854804,2,35,3,0
299,300,49,Female,Finance,Manager,3,995543,4,32,5,0
300,301,57,Male,Marketing,Intern,1,541732,1,0,2,0
301,302,40,Male,HR,Developer,5,586789,5,46,5,0
302,303,56,Female,Finance,Executive,11,1104012,3,11,1,0
303,304,52,Male,HR,Developer,4,655066,2,19,5,1
304,305,40,Male,IT,Executive,12,1214328,5,24,5,0
305,306,45,Female,HR,Intern,10,325068,3,11,2,0
306,307,23,Female,Marketing,Intern,6,666714,1,28,1,1
307,308,28,Male,Marketing,Intern,2,1010010,3,17,3,0
308,309,52,Other,Sales,Intern,4,357632,3,4,2,0
309,310,38,Male,HR,Executive,11,1071413,2,22,2,1
310,311,48,Male,Sales,Manager,17,459683,4,22,1,0
311,312,57,Male,Finance,Executive,21,418645,5,1,4,1
312,313,31,Other,IT,Executive,2,914228,5,45,5,0
313,314,35,Female,Finance,Developer,4,305457,3,1,2,0
314,315,28,Male,IT,Developer,14,1380446,2,8,1,1
315,316,30,Male,HR,Executive,5,974961,4,23,2,0
316,317,35,Male,Marketing,Analyst,9,1159467,3,47,1,0
317,318,29,Male,HR,Manager,6,1304346,5,16,1,0
318,319,38,Female,IT,Intern,11,717122,3,38,3,0
319,320,44,Male,Sales,Intern,1,980307,1,22,1,0
320,321,37,Male,IT,Intern,4,375873,4,11,1,0
321,322,47,Female,Sales,Developer,22,702377,3,44,4,0
322,323,30,Female,Finance,Developer,9,644023,2,28,5,0
323,324,57,Male,Marketing,Manager,14,665545,5,35,3,1
324,325,28,Male,Finance,Manager,1,594459,1,12,5,0
325,326,39,Female,HR,Executive,11,1239684,2,3,2,0
326,327,29,Female,Sales,Developer,6,1267344,5,42,3,0
327,328,42,Male,Sales,Intern,22,1356993,1,12,3,0
328,329,47,Male,Finance,Executive,9,517483,5,2,1,0
329,330,24,Male,Marketing,Analyst,14,705741,4,11,4,0
330,331,38,Male,Marketing,Analyst,3,889384,3,8,1,0
331,332,45,Male,Finance,Manager,1,915918,5,1,4,1
332,333,46,Female,Marketing,Developer,13,1332029,1,19,3,0
333,334,26,Female,HR,Developer,8,599425,4,36,3,0
334,335,58,Male,IT,Analyst,17,1462927,3,30,4,1
335,336,45,Male,Sales,Manager,16,652222,4,19,1,0
336,337,52,Male,Sales,Manager,20,375118,2,19,1,1
337,338,47,Male,Sales,Developer,18,649399,2,35,3,0
338,339,42,Male,IT,Developer,1,477835,3,7,1,0
339,340,55,Male,HR,Analyst,1,595578,2,10,3,0
340,341,59,Female,Finance,Intern,12,307396,3,45,3,1
341,342,45,Female,Marketing,Manager,11,1154510,2,28,2,0
342,343,49,Male,Marketing,Developer,7,981912,2,35,4,0
343,344,51,Male,IT,Manager,19,706353,2,47,4,0
344,345,55,Female,Sales,Intern,2,635105,3,49,2,1
345,346,44,Male,Marketing,Analyst,20,526416,5,3,2,0
346,347,29,Female,Finance,Intern,21,1260798,5,9,5,1
347,348,31,Female,Marketing,Analyst,6,907201,2,42,3,0
348,349,22,Other,Sales,Manager,18,1486735,5,18,5,0
349,350,41,Female,Finance,Executive,23,414608,4,5,3,1
350,351,58,Male,Sales,Manager,11,842730,2,26,4,0
351,352,39,Male,Sales,Executive,13,630026,4,15,5,1
352,353,42,Female,IT,Manager,10,1422502,5,22,3,0
353,354,25,Male,Sales,Intern,18,1208393,3,13,4,1
354,355,23,Female,Finance,Analyst,4,1202822,1,17,4,0
355,356,42,Male,IT,Manager,9,1089150,3,43,2,1
356,357,58,Male,IT,Developer,3,1176552,3,34,2,0
357,358,26,Male,Finance,Analyst,11,1323185,5,14,5,1
358,359,38,Female,IT,Intern,7,493126,3,10,1,0
359,360,32,Female,Finance,Manager,1,1368894,5,3,1,0
360,361,52,Male,Marketing,Analyst,5,428605,1,8,4,0
361,362,49,Male,IT,Developer,5,1235946,5,27,3,1
362,363,53,Male,Marketing,Analyst,13,1369724,4,1,5,1
363,364,42,Male,IT,Manager,1,310119,5,39,5,0
364,365,28,Female,Sales,Developer,20,863571,4,44,5,1
365,366,31,Female,Finance,Manager,4,475431,3,18,3,1
366,367,49,Female,Sales,Executive,23,1116588,3,8,4,1
367,368,57,Female,Marketing,Analyst,8,1402003,4,0,3,1
368,369,41,Female,Finance,Developer,23,1326323,3,12,5,1
369,370,34,Female,Finance,Manager,18,879827,2,41,3,0
370,371,40,Female,Marketing,Executive,23,959582,1,11,4,0
371,372,32,Female,Finance,Manager,12,784635,5,10,1,0
372,373,56,Male,Finance,Manager,3,1012751,1,44,5,0
373,374,55,Female,IT,Analyst,22,1064439,3,42,1,0
374,375,25,Female,HR,Analyst,13,1014707,1,6,2,0
375,376,34,Female,Sales,Executive,17,596589,2,22,1,1
376,377,58,Female,HR,Analyst,3,784006,2,44,2,1
377,378,23,Female,Finance,Developer,13,1494242,5,7,3,1
378,379,22,Male,HR,Executive,22,300810,3,12,2,1
379,380,46,Female,IT,Analyst,10,835603,3,20,1,1
380,381,58,Female,Marketing,Intern,4,687140,2,41,4,0
381,382,57,Male,Marketing,Developer,1,1085093,4,29,4,1
382,383,27,Female,HR,Manager,14,865685,1,36,1,0
383,384,28,Female,IT,Developer,6,1170002,2,3,1,1
384,385,25,Female,Marketing,Developer,19,341048,1,44,2,1
385,386,56,Male,HR,Developer,4,413260,5,7,1,1
386,387,55,Female,HR,Intern,11,1385141,2,13,1,0
387,388,50,Female,Sales,Developer,20,338542,5,18,1,0
388,389,26,Female,IT,Intern,13,1293652,4,24,1,1
389,390,48,Female,Sales,Intern,10,670025,4,33,5,0
390,391,54,Male,HR,Analyst,17,941105,3,34,5,1
391,392,31,Male,Sales,Intern,7,854703,5,44,4,0
392,393,27,Female,Sales,Intern,13,600428,2,21,2,0
393,394,55,Male,HR,Executive,16,987291,1,35,4,0
394,395,29,Female,Marketing,Intern,7,1469885,1,28,4,0
395,396,52,Female,Finance,Developer,18,758270,5,49,2,0
396,397,30,Male,Marketing,Manager,7,509250,2,38,2,0
397,398,42,Male,IT,Intern,6,357171,3,44,4,0

In [34]:
df = introduce_missing_values(df, ['salary', 'performance_rating'], prob=0.05)

In [35]:
df

,employee_id,age,gender,department,role,tenure_months,salary,performance_rating,training_hours,engagement_score,left_within_1year
0,1,22,Female,Sales,Developer,6,960902.0,5.0,45,3,1
1,2,25,Male,Marketing,Executive,19,NaN,NaN,25,4,1
2,3,25,Female,Sales,Manager,13,1238997.0,2.0,10,5,1
3,4,31,Male,Finance,Analyst,15,1134290.0,4.0,15,2,0
4,5,41,Male,HR,Developer,4,938977.0,1.0,40,1,0
5,6,43,Male,IT,Manager,10,833649.0,NaN,39,1,1
6,7,58,Male,Finance,Executive,20,NaN,4.0,38,3,0
7,8,45,Male,Sales,Manager,6,1248488.0,4.0,4,5,0
8,9,28,Female,Finance,Developer,2,1249577.0,5.0,33,2,0
9,10,46,Male,Finance,Analyst,2,939412.0,4.0,10,3,0
10,11,46,Female,Finance,Developer,1,498680.0,3.0,34,2,1
11,12,34,Female,Finance,Manager,21,867236.0,2.0,2,3,0
12,13,23,Male,Sales,Manager,16,1460263.0,2.0,47,3,0
13,14,45,Male,HR,Developer,11,858149.0,1.0,4,4,0
14,15,46,Male,HR,Developer,13,867956.0,3.0,36,3,0
15,16,39,Male,Finance,Developer,14,1131299.0,4.0,34,5,0
16,17,59,Male,IT,Manager,4,468282.0,3.0,34,4,1
17,18,47,Male,HR,Intern,20,343176.0,4.0,18,2,1
18,19,35,Female,Sales,Developer,21,714064.0,4.0,44,4,0
19,20,30,Female,Sales,Executive,11,697670.0,2.0,5,2,1
20,21,31,Male,HR,Manager,20,1204110.0,5.0,27,2,0
21,22,42,Male,Sales,Intern,10,NaN,1.0,19,2,0
22,23,38,Female,Sales,Analyst,6,938284.0,2.0,16,3,0
23,24,27,Female,Marketing,Intern,14,969766.0,4.0,35,5,0
24,25,37,Female,Sales,Analyst,9,NaN,1.0,41,4,0
25,26,22,Female,HR,Intern,18,1047348.0,4.0,38,2,0
26,27,40,Male,HR,Manager,14,971648.0,2.0,28,5,1
27,28,57,Male,IT,Executive,4,1423081.0,4.0,11,2,0
28,29,46,Male,Finance,Manager,1,1196187.0,1.0,47,2,0
29,30,51,Female,HR,Intern,23,554564.0,4.0,0,1,0
30,31,41,Female,Sales,Intern,15,879646.0,2.0,18,2,0
31,32,41,Male,IT,Analyst,21,1314152.0,NaN,37,1,1
32,33,36,Male,Marketing,Developer,15,493779.0,1.0,38,1,0
33,34,54,Female,IT,Manager,7,1322989.0,3.0,14,2,0
34,35,23,Female,Sales,Analyst,16,1124791.0,3.0,11,5,1
35,36,31,Female,HR,Intern,6,1444647.0,5.0,37,5,1
36,37,54,Female,IT,Intern,23,965316.0,5.0,10,3,1
37,38,53,Female,Sales,Developer,1,1455181.0,2.0,23,1,1
38,39,32,Female,Marketing,Manager,8,614647.0,4.0,7,5,0
39,40,45,Male,IT,Intern,8,579801.0,4.0,23,5,0
40,41,57,Female,Sales,Executive,18,408745.0,4.0,24,3,1
41,42,33,Male,Finance,Developer,1,963563.0,2.0,17,1,0
42,43,50,Other,HR,Developer,16,316190.0,2.0,16,2,0
43,44,56,Female,Sales,Analyst,12,1168570.0,4.0,28,1,0
44,45,22,Male,Finance,Analyst,12,571755.0,1.0,21,4,0
45,46,22,Female,HR,Analyst,19,414480.0,2.0,18,5,0
46,47,58,Male,HR,Intern,12,1123425.0,5.0,11,3,0
47,48,27,Female,HR,Developer,7,534617.0,1.0,24,1,0
48,49,39,Female,Finance,Manager,23,1293272.0,3.0,25,3,0
49,50,37,Female,IT,Executive,8,339198.0,4.0,26,4,0
50,51,26,Male,Finance,Intern,21,1413505.0,5.0,38,2,0
51,52,53,Female,Finance,Intern,4,770252.0,5.0,46,2,0
52,53,23,Male,Sales,Manager,20,485108.0,5.0,15,5,1
53,54,23,Female,Sales,Intern,6,435985.0,5.0,37,1,0
54,55,57,Female,Marketing,Manager,18,1091432.0,4.0,33,4,0
55,56,33,Male,Finance,Manager,1,730400.0,5.0,21,1,0
56,57,40,Male,Finance,Developer,12,604798.0,5.0,13,1,0
57,58,49,Female,Marketing,Intern,2,779397.0,1.0,30,3,1
58,59,22,Male,Finance,Intern,19,600822.0,NaN,20,5,0
59,60,36,Male,Finance,Executive,22,NaN,3.0,30,5,1
60,61,57,Female,Marketing,Manager,15,919824.0,4.0,27,1,0
61,62,34,Female,Marketing,Executive,21,918454.0,3.0,34,1,0
62,63,42,Male,Marketing,Executive,19,394313.0,3.0,29,4,0
63,64,33,Female,HR,Executive,10,1231860.0,2.0,2,1,0
64,65,26,Female,Sales,Analyst,7,885095.0,4.0,11,5,0
65,66,28,Female,Marketing,Developer,5,933537.0,1.0,27,3,0
66,67,26,Male,HR,Manager,12,456792.0,2.0,34,4,0
67,68,25,Female,Sales,Intern,18,472461.0,5.0,1,3,0
68,69,34,Male,Marketing,Analyst,1,1102444.0,5.0,9,1,0
69,70,58,Male,Finance,Analyst,12,978085.0,3.0,22,4,0
70,71,36,Other,Finance,Analyst,19,1038859.0,1.0,23,3,0
71,72,37,Male,Sales,Intern,9,1086967.0,3.0,24,4,1
72,73,42,Male,IT,Analyst,22,1225093.0,5.0,3,2,0
73,74,57,Female,Sales,Analyst,20,690511.0,4.0,33,2,1
74,75,45,Male,HR,Intern,3,NaN,2.0,24,5,0
75,76,37,Male,Finance,Developer,19,433927.0,1.0,27,4,1
76,77,35,Female,Finance,Analyst,7,961096.0,2.0,12,4,1
77,78,43,Female,Marketing,Manager,15,782086.0,2.0,39,5,0
78,79,27,Other,HR,Developer,12,1389200.0,3.0,26,2,0
79,80,57,Female,IT,Intern,2,1016212.0,5.0,37,4,1
80,81,22,Other,HR,Developer,21,506572.0,1.0,31,5,0
81,82,53,Male,HR,Developer,14,624661.0,2.0,38,5,0
82,83,27,Male,HR,Executive,14,739038.0,1.0,28,4,0
83,84,52,Male,HR,Intern,2,929795.0,1.0,36,2,0
84,85,22,Male,IT,Developer,11,1024500.0,5.0,19,3,1
85,86,58,Male,HR,Intern,20,1182217.0,2.0,5,2,1
86,87,56,Male,IT,Analyst,14,1466733.0,1.0,47,4,0
87,88,51,Male,Sales,Intern,20,1348687.0,1.0,7,4,1
88,89,25,Female,HR,Developer,15,1063439.0,2.0,15,4,1
89,90,56,Female,Marketing,Intern,1,NaN,2.0,34,2,0
90,91,35,Male,IT,Executive,12,368893.0,2.0,13,3,0
91,92,43,Female,IT,Executive,8,366294.0,3.0,24,3,0
92,93,31,Female,HR,Executive,4,1009956.0,2.0,47,5,0
93,94,22,Male,Marketing,Intern,15,1181005.0,5.0,43,5,0
94,95,32,Male,Marketing,Developer,1,563852.0,1.0,19,1,0
95,96,45,Female,HR,Analyst,9,465327.0,3.0,48,1,0
96,97,24,Male,Marketing,Manager,4,586716.0,2.0,11,1,1
97,98,56,Female,IT,Analyst,12,783076.0,4.0,34,1,1
98,99,57,Female,HR,Executive,21,974725.0,3.0,24,3,0
99,100,52,Female,HR,Developer,2,1326100.0,NaN,21,4,0
100,101,25,Female,HR,Intern,7,932337.0,3.0,49,3,0
101,102,40,Male,Sales,Intern,15,463205.0,3.0,22,3,0
102,103,57,Female,HR,Developer,5,578370.0,1.0,33,5,0
103,104,42,Male,Finance,Developer,11,492387.0,1.0,39,3,0
104,105,39,Male,Finance,Executive,4,NaN,3.0,43,1,0
105,106,49,Male,IT,Executive,16,1080569.0,4.0,32,5,1
106,107,36,Female,Sales,Developer,23,1334580.0,2.0,18,1,0
107,108,23,Female,Sales,Executive,7,827965.0,3.0,16,5,0
108,109,58,Male,Marketing,Manager,12,853409.0,3.0,5,5,0
109,110,32,Other,HR,Intern,21,1340644.0,2.0,31,2,1
110,111,44,Female,Finance,Executive,3,974013.0,1.0,20,5,0
111,112,33,Female,Sales,Executive,4,822040.0,3.0,27,2,0
112,113,24,Female,Finance,Executive,18,1233761.0,3.0,42,4,0
113,114,38,Female,Finance,Developer,11,728304.0,3.0,21,1,0
114,115,54,Male,HR,Manager,1,540206.0,3.0,6,3,0
115,116,22,Male,Finance,Executive,7,1122634.0,2.0,23,4,0
116,117,41,Female,IT,Manager,2,759441.0,1.0,48,3,0
117,118,35,Female,IT,Manager,22,1119224.0,4.0,39,1,0
118,119,52,Male,Sales,Developer,15,364325.0,2.0,31,3,0
119,120,46,Other,Sales,Executive,21,956904.0,4.0,8,5,1
120,121,24,Female,Marketing,Manager,23,936193.0,4.0,42,4,0
121,122,25,Male,Finance,Executive,4,869413.0,2.0,35,2,0
122,123,52,Female,Sales,Executive,18,596544.0,1.0,27,3,1
123,124,56,Male,HR,Analyst,8,812256.0,1.0,35,4,0
124,125,35,Female,Sales,Intern,15,911115.0,1.0,1,2,0
125,126,30,Female,IT,Executive,12,1097043.0,NaN,38,1,0
126,127,41,Female,Finance,Developer,14,329070.0,NaN,34,1,0
127,128,53,Male,IT,Intern,1,1225136.0,5.0,28,4,1
128,129,30,Female,Sales,Developer,1,1156373.0,2.0,36,2,0
129,130,48,Other,Sales,Developer,19,1164210.0,5.0,22,4,1
130,131,24,Male,IT,Developer,23,1115965.0,4.0,9,4,0
131,132,25,Female,Marketing,Analyst,18,775877.0,2.0,31,2,1
132,133,36,Female,Marketing,Intern,10,963683.0,5.0,46,5,0
133,134,54,Male,Sales,Developer,6,1101770.0,1.0,25,3,0
134,135,26,Male,Marketing,Analyst,13,1329417.0,4.0,2,3,0
135,136,25,Female,IT,Intern,18,426375.0,2.0,5,3,0
136,137,33,Other,Finance,Developer,4,1176640.0,3.0,31,4,1
137,138,44,Female,Sales,Developer,4,546176.0,NaN,29,3,0
138,139,35,Male,HR,Executive,3,823420.0,NaN,40,4,0
139,140,33,Male,Marketing,Intern,21,NaN,5.0,24,4,0
140,141,38,Female,Marketing,Manager,6,1204034.0,2.0,48,2,0
141,142,46,Female,HR,Developer,21,569669.0,5.0,30,1,0
142,143,51,Male,HR,Developer,7,425265.0,4.0,20,2,1
143,144,43,Other,IT,Developer,9,1382866.0,1.0,13,5,0
144,145,47,Female,IT,Executive,1,388651.0,2.0,34,3,0
145,146,38,Female,Marketing,Executive,13,532341.0,2.0,25,2,0
146,147,41,Male,Finance,Executive,7,1166435.0,2.0,44,2,0
147,148,55,Male,IT,Intern,8,552115.0,1.0,5,2,0
148,149,54,Female,IT,Analyst,10,1415848.0,4.0,32,5,0
149,150,58,Female,Sales,Intern,7,789961.0,3.0,41,5,0
150,151,28,Female,Sales,Analyst,6,1499566.0,4.0,4,3,0
151,152,43,Male,IT,Manager,5,819075.0,1.0,35,1,0
152,153,53,Male,Finance,Intern,8,1081777.0,5.0,23,3,0
153,154,35,Female,Marketing,Developer,20,1299530.0,5.0,42,1,0
154,155,29,Male,HR,Manager,16,882097.0,3.0,2,1,0
155,156,46,Female,IT,Developer,23,612544.0,5.0,18,5,0
156,157,37,Male,Finance,Analyst,4,NaN,1.0,10,5,1
157,158,40,Other,Finance,Executive,8,602832.0,3.0,48,2,0
158,159,37,Male,Finance,Analyst,21,945316.0,1.0,48,3,1
159,160,33,Male,IT,Intern,9,688393.0,2.0,27,1,0
160,161,51,Male,IT,Manager,19,1370890.0,5.0,28,1,1
161,162,23,Female,Finance,Manager,23,335003.0,2.0,22,1,1
162,163,53,Male,Finance,Manager,23,569649.0,4.0,37,2,0
163,164,46,Other,IT,Analyst,22,1193133.0,2.0,33,5,0
164,165,46,Male,Marketing,Intern,15,823871.0,5.0,9,5,0
165,166,25,Male,IT,Executive,8,1172291.0,4.0,46,2,0
166,167,40,Female,Sales,Manager,3,1380188.0,5.0,20,3,0
167,168,25,Male,Finance,Executive,3,513933.0,5.0,43,3,0
168,169,34,Male,Marketing,Manager,17,316025.0,5.0,27,2,0
169,170,57,Female,HR,Manager,14,1123603.0,1.0,48,5,0
170,171,44,Female,IT,Analyst,14,883580.0,5.0,35,3,0
171,172,27,Female,Finance,Developer,2,NaN,4.0,5,1,1
172,173,45,Male,IT,Manager,14,1080396.0,4.0,27,1,1
173,174,54,Male,HR,Developer,11,331455.0,3.0,10,5,1
174,175,33,Female,IT,Analyst,22,NaN,5.0,37,2,0
175,176,42,Female,Marketing,Manager,14,457581.0,1.0,37,2,0
176,177,32,Female,HR,Intern,22,1483565.0,5.0,33,3,0
177,178,59,Male,Sales,Manager,7,313837.0,4.0,48,5,0
178,179,50,Female,Sales,Manager,19,851939.0,2.0,23,5,1
179,180,24,Male,Finance,Intern,8,585704.0,5.0,35,3,1
180,181,49,Male,Sales,Intern,14,973779.0,1.0,49,5,0
181,182,41,Male,IT,Manager,21,1433437.0,4.0,36,5,0
182,183,47,Male,Marketing,Executive,4,1074918.0,5.0,8,3,0
183,184,45,Male,Sales,Analyst,11,609215.0,3.0,11,5,0
184,185,42,Female,Finance,Executive,4,1439349.0,2.0,13,3,0
185,186,51,Female,IT,Manager,6,1365229.0,4.0,13,4,1
186,187,25,Male,Finance,Developer,6,1339687.0,3.0,46,2,0
187,188,57,Male,Finance,Intern,23,940301.0,4.0,21,2,0
188,189,31,Male,Marketing,Intern,2,1414652.0,NaN,31,5,1
189,190,31,Male,Marketing,Developer,19,1182002.0,3.0,16,1,1
190,191,45,Female,Finance,Analyst,1,316285.0,3.0,3,1,0
191,192,25,Female,Finance,Analyst,13,653597.0,2.0,45,2,0
192,193,48,Female,Sales,Manager,14,922898.0,2.0,24,1,0
193,194,25,Male,Sales,Manager,3,391663.0,NaN,43,3,1
194,195,53,Female,HR,Intern,22,NaN,4.0,37,3,1
195,196,31,Female,Marketing,Developer,19,1112141.0,4.0,21,4,0
196,197,32,Female,Sales,Developer,17,1240825.0,1.0,21,1,0
197,198,49,Male,Finance,Executive,4,1206770.0,3.0,11,2,0
198,199,29,Male,Sales,Analyst,13,446421.0,3.0,42,4,1
199,200,43,Male,HR,Analyst,9,NaN,5.0,47,5,0
200,201,55,Male,Sales,Manager,4,1036300.0,3.0,48,3,1
201,202,56,Male,Finance,Manager,10,761478.0,1.0,13,2,1
202,203,56,Female,Sales,Analyst,13,1100768.0,1.0,32,2,1
203,204,46,Female,Sales,Executive,18,918309.0,2.0,7,1,0
204,205,55,Female,Marketing,Manager,12,485981.0,3.0,11,2,0
205,206,27,Male,Marketing,Manager,16,379767.0,1.0,39,5,0
206,207,58,Female,HR,Executive,1,659238.0,2.0,40,1,0
207,208,22,Male,HR,Intern,14,NaN,1.0,2,1,1
208,209,33,Other,Sales,Analyst,23,823223.0,3.0,46,4,0
209,210,56,Female,Marketing,Developer,21,NaN,3.0,10,1,0
210,211,27,Male,Marketing,Developer,7,1289075.0,2.0,49,4,1
211,212,38,Male,Sales,Developer,5,1109339.0,3.0,23,5,0
212,213,30,Female,Marketing,Developer,2,481433.0,2.0,31,2,1
213,214,23,Female,IT,Developer,4,1017367.0,3.0,38,5,1
214,215,39,Male,Finance,Intern,10,843505.0,5.0,32,1,0
215,216,57,Male,IT,Analyst,23,1178518.0,2.0,47,2,1
216,217,49,Female,IT,Manager,15,550984.0,5.0,30,2,0
217,218,58,Female,IT,Developer,19,704736.0,3.0,0,3,1
218,219,47,Female,Marketing,Executive,15,406020.0,4.0,12,5,0
219,220,25,Male,Sales,Developer,19,1146588.0,3.0,21,4,0
220,221,57,Male,HR,Intern,10,NaN,4.0,11,5,0
221,222,52,Male,Finance,Analyst,20,739001.0,3.0,28,5,0
222,223,51,Male,Finance,Executive,3,1043145.0,2.0,10,2,0
223,224,55,Male,IT,Developer,11,1279204.0,1.0,23,5,0
224,225,40,Female,HR,Intern,18,751003.0,2.0,13,5,0
225,226,39,Male,Sales,Developer,2,991239.0,4.0,0,5,0
226,227,51,Male,HR,Developer,22,724656.0,3.0,13,3,0
227,228,42,Male,HR,Executive,23,1273266.0,3.0,16,2,0
228,229,24,Female,Finance,Intern,18,873166.0,3.0,28,4,1
229,230,27,Male,Marketing,Analyst,15,720590.0,1.0,21,1,0
230,231,59,Female,IT,Intern,23,1412419.0,1.0,12,2,0
231,232,34,Male,Marketing,Analyst,16,NaN,2.0,37,3,0
232,233,24,Female,Finance,Analyst,19,653566.0,2.0,17,4,0
233,234,49,Male,HR,Analyst,19,1185763.0,4.0,37,1,0
234,235,43,Male,IT,Analyst,12,929024.0,1.0,33,2,0
235,236,33,Male,Sales,Intern,23,325749.0,5.0,46,1,0
236,237,44,Male,Sales,Executive,6,1008521.0,2.0,5,3,1
237,238,52,Male,HR,Analyst,12,720730.0,5.0,9,5,0
238,239,39,Male,Marketing,Manager,7,536654.0,2.0,23,1,0
239,240,28,Male,Marketing,Analyst,10,850241.0,5.0,20,2,0
240,241,29,Male,IT,Manager,12,1052274.0,5.0,27,3,0
241,242,40,Male,Finance,Developer,16,632001.0,2.0,29,3,1
242,243,50,Male,Marketing,Analyst,13,1441939.0,1.0,23,3,0
243,244,41,Female,Sales,Manager,13,407060.0,2.0,28,5,0
244,245,51,Male,Sales,Analyst,14,834361.0,1.0,34,5,0
245,246,43,Female,Sales,Intern,6,1220042.0,3.0,0,2,1
246,247,31,Male,Marketing,Executive,19,1146302.0,3.0,19,3,0
247,248,47,Male,HR,Developer,10,725129.0,3.0,40,4,0
248,249,54,Female,Marketing,Executive,9,356081.0,3.0,27,3,1
249,250,49,Male,Marketing,Executive,22,971548.0,4.0,43,2,0
250,251,31,Male,IT,Intern,9,1315821.0,4.0,34,3,0
251,252,50,Male,Finance,Manager,9,376385.0,2.0,45,3,0
252,253,39,Male,Marketing,Developer,1,582390.0,5.0,14,4,1
253,254,22,Female,Marketing,Executive,1,1372472.0,4.0,26,2,0
254,255,44,Female,Finance,Analyst,13,781694.0,4.0,16,3,0
255,256,38,Female,Sales,Manager,21,866154.0,5.0,26,5,0
256,257,58,Female,Finance,Developer,21,508031.0,4.0,3,1,1
257,258,52,Male,Marketing,Executive,22,735185.0,5.0,32,4,1
258,259,46,Female,HR,Executive,19,421888.0,4.0,7,4,0
259,260,25,Female,IT,Manager,16,1233773.0,3.0,35,2,1
260,261,30,Female,IT,Analyst,23,854161.0,5.0,33,5,0
261,262,49,Male,Finance,Executive,13,1259872.0,3.0,23,5,0
262,263,51,Female,Finance,Intern,18,1292792.0,2.0,48,5,1
263,264,45,Male,Sales,Intern,10,1209652.0,NaN,35,2,1
264,265,54,Male,IT,Manager,14,1099275.0,5.0,3,2,0
265,266,41,Female,Finance,Developer,3,1084745.0,1.0,38,2,1
266,267,30,Male,Marketing,Manager,1,1165737.0,4.0,0,3,1
267,268,29,Male,Marketing,Manager,10,836417.0,5.0,49,3,0
268,269,45,Female,HR,Developer,7,1243450.0,NaN,38,4,0
269,270,35,Female,HR,Developer,4,338313.0,1.0,40,4,0
270,271,39,Female,Finance,Developer,20,593871.0,1.0,7,1,0
271,272,22,Male,Sales,Analyst,7,NaN,3.0,26,1,0
272,273,33,Male,Sales,Executive,2,770692.0,1.0,18,4,0
273,274,50,Male,Sales,Manager,2,329534.0,5.0,12,1,0
274,275,58,Male,Sales,Intern,6,689306.0,2.0,6,3,1
275,276,47,Other,IT,Developer,2,534580.0,4.0,33,4,0
276,277,54,Female,Sales,Developer,2,879208.0,3.0,8,2,1
277,278,36,Female,HR,Developer,4,856663.0,1.0,36,5,0
278,279,44,Male,HR,Executive,23,888637.0,1.0,25,2,0
279,280,50,Female,IT,Intern,6,645787.0,3.0,5,1,1
280,281,42,Male,Finance,Manager,19,1225931.0,3.0,27,2,0
281,282,40,Male,Marketing,Executive,2,1141470.0,5.0,24,4,1
282,283,26,Female,HR,Analyst,4,1099973.0,5.0,18,4,0
283,284,44,Other,HR,Intern,14,654000.0,2.0,31,1,0
284,285,57,Male,IT,Intern,3,1023762.0,5.0,33,4,0
285,286,41,Male,HR,Analyst,16,333070.0,5.0,33,2,0
286,287,29,Male,Marketing,Manager,12,455778.0,3.0,26,5,0
287,288,30,Female,IT,Intern,2,NaN,3.0,31,1,0
288,289,35,Female,Sales,Developer,10,739553.0,4.0,14,5,0
289,290,27,Other,Sales,Manager,10,1253800.0,3.0,12,3,0
290,291,22,Male,Sales,Executive,12,1410355.0,3.0,35,5,1
291,292,30,Male,Marketing,Analyst,17,1250683.0,5.0,24,4,1
292,293,37,Male,Finance,Developer,10,1151705.0,5.0,8,2,0
293,294,37,Female,HR,Developer,1,821827.0,3.0,9,5,1
294,295,33,Male,Marketing,Developer,22,532664.0,3.0,39,5,0
295,296,26,Female,Finance,Executive,5,NaN,4.0,11,2,0
296,297,50,Female,IT,Developer,12,1494904.0,1.0,12,1,1
297,298,48,Female,Marketing,Intern,4,1330686.0,3.0,17,2,0
298,299,32,Other,IT,Developer,13,854804.0,2.0,35,3,0
299,300,49,Female,Finance,Manager,3,995543.0,4.0,32,5,0
300,301,57,Male,Marketing,Intern,1,541732.0,1.0,0,2,0
301,302,40,Male,HR,Developer,5,586789.0,5.0,46,5,0
302,303,56,Female,Finance,Executive,11,1104012.0,3.0,11,1,0
303,304,52,Male,HR,Developer,4,655066.0,2.0,19,5,1
304,305,40,Male,IT,Executive,12,1214328.0,5.0,24,5,0
305,306,45,Female,HR,Intern,10,325068.0,3.0,11,2,0
306,307,23,Female,Marketing,Intern,6,666714.0,1.0,28,1,1
307,308,28,Male,Marketing,Intern,2,1010010.0,3.0,17,3,0
308,309,52,Other,Sales,Intern,4,357632.0,3.0,4,2,0
309,310,38,Male,HR,Executive,11,1071413.0,2.0,22,2,1
310,311,48,Male,Sales,Manager,17,459683.0,4.0,22,1,0
311,312,57,Male,Finance,Executive,21,NaN,NaN,1,4,1
312,313,31,Other,IT,Executive,2,914228.0,5.0,45,5,0
313,314,35,Female,Finance,Developer,4,305457.0,NaN,1,2,0
314,315,28,Male,IT,Developer,14,1380446.0,2.0,8,1,1
315,316,30,Male,HR,Executive,5,974961.0,4.0,23,2,0
316,317,35,Male,Marketing,Analyst,9,1159467.0,3.0,47,1,0
317,318,29,Male,HR,Manager,6,1304346.0,NaN,16,1,0
318,319,38,Female,IT,Intern,11,717122.0,3.0,38,3,0
319,320,44,Male,Sales,Intern,1,980307.0,1.0,22,1,0
320,321,37,Male,IT,Intern,4,375873.0,4.0,11,1,0
321,322,47,Female,Sales,Developer,22,702377.0,3.0,44,4,0
322,323,30,Female,Finance,Developer,9,644023.0,2.0,28,5,0
323,324,57,Male,Marketing,Manager,14,665545.0,5.0,35,3,1
324,325,28,Male,Finance,Manager,1,594459.0,1.0,12,5,0
325,326,39,Female,HR,Executive,11,1239684.0,2.0,3,2,0
326,327,29,Female,Sales,Developer,6,1267344.0,5.0,42,3,0
327,328,42,Male,Sales,Intern,22,1356993.0,1.0,12,3,0
328,329,47,Male,Finance,Executive,9,517483.0,5.0,2,1,0
329,330,24,Male,Marketing,Analyst,14,705741.0,4.0,11,4,0
330,331,38,Male,Marketing,Analyst,3,889384.0,3.0,8,1,0
331,332,45,Male,Finance,Manager,1,915918.0,5.0,1,4,1
332,333,46,Female,Marketing,Developer,13,1332029.0,1.0,19,3,0
333,334,26,Female,HR,Developer,8,599425.0,4.0,36,3,0
334,335,58,Male,IT,Analyst,17,1462927.0,3.0,30,4,1
335,336,45,Male,Sales,Manager,16,652222.0,4.0,19,1,0
336,337,52,Male,Sales,Manager,20,375118.0,2.0,19,1,1
337,338,47,Male,Sales,Developer,18,649399.0,2.0,35,3,0
338,339,42,Male,IT,Developer,1,NaN,3.0,7,1,0
339,340,55,Male,HR,Analyst,1,595578.0,NaN,10,3,0
340,341,59,Female,Finance,Intern,12,307396.0,3.0,45,3,1
341,342,45,Female,Marketing,Manager,11,1154510.0,NaN,28,2,0
342,343,49,Male,Marketing,Developer,7,981912.0,2.0,35,4,0
343,344,51,Male,IT,Manager,19,706353.0,2.0,47,4,0
344,345,55,Female,Sales,Intern,2,635105.0,3.0,49,2,1
345,346,44,Male,Marketing,Analyst,20,526416.0,5.0,3,2,0
346,347,29,Female,Finance,Intern,21,1260798.0,5.0,9,5,1
347,348,31,Female,Marketing,Analyst,6,907201.0,2.0,42,3,0
348,349,22,Other,Sales,Manager,18,1486735.0,5.0,18,5,0
349,350,41,Female,Finance,Executive,23,414608.0,4.0,5,3,1
350,351,58,Male,Sales,Manager,11,842730.0,2.0,26,4,0
351,352,39,Male,Sales,Executive,13,630026.0,4.0,15,5,1
352,353,42,Female,IT,Manager,10,1422502.0,5.0,22,3,0
353,354,25,Male,Sales,Intern,18,1208393.0,3.0,13,4,1
354,355,23,Female,Finance,Analyst,4,1202822.0,1.0,17,4,0
355,356,42,Male,IT,Manager,9,1089150.0,3.0,43,2,1
356,357,58,Male,IT,Developer,3,1176552.0,3.0,34,2,0
357,358,26,Male,Finance,Analyst,11,1323185.0,5.0,14,5,1
358,359,38,Female,IT,Intern,7,493126.0,3.0,10,1,0
359,360,32,Female,Finance,Manager,1,1368894.0,5.0,3,1,0
360,361,52,Male,Marketing,Analyst,5,428605.0,1.0,8,4,0
361,362,49,Male,IT,Developer,5,1235946.0,5.0,27,3,1
362,363,53,Male,Marketing,Analyst,13,1369724.0,4.0,1,5,1
363,364,42,Male,IT,Manager,1,310119.0,5.0,39,5,0
364,365,28,Female,Sales,Developer,20,863571.0,4.0,44,5,1
365,366,31,Female,Finance,Manager,4,475431.0,3.0,18,3,1
366,367,49,Female,Sales,Executive,23,1116588.0,3.0,8,4,1
367,368,57,Female,Marketing,Analyst,8,1402003.0,4.0,0,3,1
368,369,41,Female,Finance,Developer,23,1326323.0,3.0,12,5,1
369,370,34,Female,Finance,Manager,18,879827.0,2.0,41,3,0
370,371,40,Female,Marketing,Executive,23,959582.0,NaN,11,4,0