In [1]:
import sqlite3 as sql

In [2]:
connection=sql.connect('demo.db')

In [3]:
cursor=connection.cursor()

In [4]:
cursor.execute('''
create table student(
    id integer PRIMARY KEY,
    name text not null,
    age integer
);''')

In [6]:
connection.commit()

In [7]:
cursor.execute("insert into student(id,name,age) values(1,'Deepanshu',23)")

In [14]:
cursor.execute("select * from student")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'Deepanshu', 23)

In [16]:
import pandas as pd
df=pd.DataFrame(results)
df

   0          1   2
0  1  Deepanshu  23

In [17]:
connection.close()