### Sythentic Data Creation

In [1]:
import pandas as pd

In [3]:
# Create a Simple, Clean Synthetic Dataset
data = {
    "Student_ID": [101,102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [20, 21, 19, 22, 20],
    "Marks": [85, 90, 78, 88, 92],
    "Department": ["AIML", "AIML", "AIML", "CSE", "CSE"]
}
df = pd.DataFrame(data)
df

   Student_ID     Name  Age  Marks Department
0         101    Alice   20     85       AIML
1         102      Bob   21     90       AIML
2         103  Charlie   19     78       AIML
3         104    David   22     88        CSE
4         105      Eva   20     92        CSE

In [ ]:
# Create a Simple, Clean Synthetic Dataset