<div style ="background-color: #002147; padding: 20px; text-align: center; color: white; font-size:32px font-family:'Arial'">Data Acquisition: Understanding Data Sources, using SQL
</div>

<div sytle="background-color:#002147;padding:20px;text-align:centre:white;font-size:32px;acquisition:understanding data sources,using SQL></div>

<div style="background-color:#002147;padding:20px;text-align:center;color:white;font-family:'Arial';font-size:32px;">Acquisition: Understanding Data Sources, Using SQL</div>

In [3]:
#question: can we create csv file using python?
import csv # for csv files

header =['Name','age','city']

rows=[
    ['Amit',32,'Ambala'],
    ['Dev',31,'Patna'],
    ['Sonal',28,'Dehradun']
    ]

In [4]:
print(header)

['Name', 'age', 'city']

In [5]:
print(rows)

[['Amit', 32, 'Ambala'], ['Dev', 31, 'Patna'], ['Sonal', 28, 'Dehradun']]

In [6]:
#create a csv file
with open('friends.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

print("CSV Created")

CSV Created

In [7]:

#question: can we create csv file using python?
import csv # for csv files

header =['Sr. No.','Student Name','Father Name','Roll No','Univeristy roll no', 'Emailid','Class','Marks','Average','Total']

rows=[
    [1,'Mahesh','Ramesh',232201,2134567890,'mahesh@ambalcollege.ac.in','AIML',35,90,200],
    [2,'Mahesh','Ramesh',232201,2134567890,'mahesh@ambalcollege.ac.in','AIML',35,90,200],
    [3,'Mahesh','Ramesh',232201,2134567890,'mahesh@ambalcollege.ac.in','AIML',35,90,200],
    [4,'Mahesh','Ramesh',232201,2134567890,'mahesh@ambalcollege.ac.in','AIML',35,90,200],
    [5,'Mahesh','Ramesh',232201,2134567890,'mahesh@ambalcollege.ac.in','AIML',35,90,200],
    
    ]
with open('friends2.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(header)
    writer.writerows(rows)

print("CSV Created")

CSV Created

In [8]:
import json

In [ ]:
import json
data=[{"Name":"Amit","age":30,"city":"ambala"}
      {}
      
      
      ]

#python data structure 1. list 2.tuple 3. dictionary

In [9]:
student=["sourbh","abhishek","deepanshu"]

In [ ]:
print(student)

['sourbh', 'abhishek', 'deepanshu']

In [12]:
for n in student:
    print(n)

sourbh
abhishek
deepanshu

In [13]:
student

['sourbh', 'abhishek', 'deepanshu']

In [15]:
student[2]="bhavesh"

In [16]:
student

['sourbh', 'abhishek', 'bhavesh']

In [17]:
student1={"sourbh","abhishek","deepanshu"}

In [18]:
print(student1)

{'deepanshu', 'abhishek', 'sourbh'}

In [19]:
student1[2]="hari"

TypeError: 'set' object does not support item assignment

In [ ]:
student2={"roll_no":1,"name":"dev"}

In [21]:
import json
data=[{"Name":"Anjali","age":30,"city":"hardoi"},{"Name":"Shivani","age":30,"city":"Delhi"},{"Name":"Samridhi Tanwar","age":9,"city":"shahbad"},{"Name":"Aviraj","age":5,"city":"Chandigarh"}]

In [22]:
with open('student.json',mode='w') as file :
    json.dump(data, file ,indent=4)

In [23]:
import sqlite3 as sql

In [24]:
connection=sql.connect('demo.db')

In [25]:
cursor=connection.cursor()

In [30]:
cursor.execute('''create table student(
    id integer PRIMARY KEY, 
    name text not null,
    age integer


);''')

In [29]:
connection.commit()

In [ ]:
cursor.execute('insert into student(id,name,age) values (1,"dev",32)')
#cursor.execute("")

In [35]:
cursor.execute("select * from student")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'dev', 32)

In [36]:
import pandas as pd
df=pd.DataFrame(results)
df

   0    1   2
0  1  dev  32

In [57]:
connection.close()

In [58]:
connection=sql.connect('demo.db')

In [59]:
cursor=connection.cursor()

In [60]:
cursor.execute('insert into student(id,name,age) values (1,"dev",32)')
cursor.execute('insert into student(id,name,age) values (2,"sourabh",41)')
cursor.execute('insert into student(id,name,age) values (3,"ramesh",41)')

OperationalError: database is locked

In [45]:
cursor.execute("select * from student")
results=cursor.fetchall()
for row in results:
    print(row)

(1, 'dev', 32)
(2, 'sourabh', 41)
(3, 'ramesh', 41)

In [46]:
import pandas as pd
df=pd.DataFrame(results)
df

   0        1   2
0  1      dev  32
1  2  sourabh  41
2  3   ramesh  41