##PYTHON BASICS

##what is python?
high level
programming language
interpreted
Dynamically typed
object_oriented

what is high level language whichis understood by user. 


syntax framing 

semantic means meaning or  logically correct


programming paradigm

pogramming is wrting programs

the diff ways you can write programs is called programming paradigm

structure
function
procedural

oops- class-properities, functionalities

generic represnetaion of object is called class


python support multi programming paradigm

In [3]:
num1=10
type(num1)

int

In [4]:
print(num1.__class__)

<class 'int'>

In [5]:
print("hello world")

hello world

In [6]:
"hello world"

'hello world'

In [ ]:
print(20+30)  #print()

50

In [8]:
20+30

50

In [ ]:
#whether this is possoible in C PROGRAMMING LANGUAGE

In [9]:
pr=print("hello world")
print(pr)

hello world
None

In [10]:
type(pr)

NoneType

In [11]:
sum=print(10+20)

30

In [12]:
type(sum)

NoneType

In [13]:
10-20

-10

In [14]:
10+20

30

In [15]:
_+20

50

In [16]:
_+20

70

In [17]:
_-20

50

In [18]:
_*2

100

In [19]:
#print other assignmenet oprators and above

In [20]:
print("A","B",sep="!",end="!\n")

A!B!

In [21]:
print("A","B",sep=",",end="!\n")

A,B!

In [22]:
num3=40
num4=50
print("num3:",num3, "num4",num4)

num3: 40 num4 50

In [23]:
print(num3,num4)

40 50

In [24]:
#print + string formatting

price=200
tax=18
print("the total amount is:",price+tax)

the total amount is: 218

In [27]:
#print + string formatting

price=200
tax=18
print(f"the total amount is {price+tax}")

the total amount is 218

In [30]:
pi=3.1415
print(f"{pi:2f}")

3.141500

In [35]:
pi=3.1415
print(f"{pi:.03f}")

3.142

In [37]:
pi=3
print(f"{pi:03d}")

003

In [38]:
name="Devashish"
print(f"{name:>20}")

           Devashish

In [39]:
name="Devashish"
print(f"{name:>10}")

 Devashish

In [40]:
name="Devashish"
print(f"{name:<10}")

Devashish

In [42]:
name="Devashish"
print(f"{name:^20}")

     Devashish

In [44]:
class student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

    def display(self):
        print(f"Name:{self.name},marks:{self.marks}")

In [50]:
stud1=student(43,90)

stud1.display()

Name:43,marks:90

In [48]:
class Student:
    def __init__(self,name: str,marks:int):
        self.name=name
        self.marks=marks

    def display(self)->str:
        #print(f"Name:{self.name},marks:{self.marks}")
        return f"Name:{self.name},Marks:{self.marks}"

In [51]:
stud2=student(45,95)
print(stud2.display())

Name:45,marks:95
None

In [52]:
type(stud2)

__main__.student

In [61]:
class Student:
    def __init__(self,name: str,marks:int):
        if not isinstance(name,str):
            raise TypeError("name must be string")
        if not isinstance(marks,int):
            raise TypeError("makrs should be integer")
        self.name=name
        self.marks=marks

    def display(self)->str:
        #print(f"Name:{self.name},marks:{self.marks}")
        return f"Name:{self.name},Marks:{self.marks}"

In [64]:
stud2 =Student("SOURABH",98)
print(stud2.display())

Name:SOURABH,Marks:98

In [65]:
num5=10
type(num5)

int

In [66]:
num5=str(num1)
type(num5)

str

In [67]:
class student:
    def __init__(self,name,marks):
        self.name=str(name)
        self.marks=int(marks)

    def display(self):
        print(f"Name:{self.name},marks:{self.marks}")

In [68]:
student1=student("name",45)
student.display()

TypeError: display() missing 1 required positional argument: 'self'

In [69]:
student1=student("name",45)
student1.display()

Name:name,marks:45

In [ ]:
#Assert keyword in python = Debugging Perspective

#sntax assert condition ! assert conditon , "error message"

In [71]:
marks1=-60
assert marks1>0

AssertionError:

In [72]:
marks1=-60
assert marks1>0, "marks is less than 0"

AssertionError: marks is less than 0