In [14]:
# Data Augmentation
import numpy as np
import pandas as pd

In [17]:
np.random.seed(42)
n=500
df = pd.DataFrame ({
    "Age": np.random.randint(20,26,n),
    "CGPA" : np.round(np.random.uniform(6.0,9.5,n), 2),
    "Internship_Count": np.random.randint(0,4,n),
    "Technical_Score" : np.random.randint(50,100, n),
    "Attendence_Percentage": np.random.randint (60,100,n)
    
})
df

     Age  CGPA  Internship_Count  Technical_Score  Attendence_Percentage
0     23  6.61                 2               94                     74
1     24  7.52                 0               95                     65
2     22  7.39                 3               59                     79
3     24  8.16                 0               92                     73
4     24  8.22                 0               83                     61
..   ...   ...               ...              ...                    ...
495   23  7.27                 3               98                     83
496   21  8.03                 3               98                     78
497   21  8.21                 0               93                     64
498   24  6.05                 2               77                     91
499   23  8.32                 1               96                     60

[500 rows x 5 columns]

In [21]:
bootstrap = df.sample(n=200, replace=True, random_state=42)
df_aug = pd.concat([df, bootstrap], ignore_index=True)
df_aug

     Age  CGPA  Internship_Count  Technical_Score  Attendence_Percentage
0     23  6.61                 2               94                     74
1     24  7.52                 0               95                     65
2     22  7.39                 3               59                     79
3     24  8.16                 0               92                     73
4     24  8.22                 0               83                     61
..   ...   ...               ...              ...                    ...
695   23  8.88                 3               94                     74
696   21  6.57                 2               77                     72
697   24  6.05                 1               52                     72
698   20  7.21                 1               92                     99
699   20  9.17                 1               73                     70

[700 rows x 5 columns]

In [ ]:
noise= df.sample(n=150,random_state= 42).copy
noise['CGPA'] = noise['CGPA'] + np.random.normal(0,0.2,150)
noise['Technical_Score'] = noise['Technical_Score'] + np.random.normal(0,5,150)
noise['Attendence_Percentage'] = noise['Attendence_Percentage'] + np.random.normal(0,3,150)

#

TypeError: 'method' object is not subscriptable