In [ ]:
import pandas as pd #
import numpy as np

In [ ]:
data = {
    
    "Student_ID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [20, 21, 19, 22, 20],
    "Marks": [85, 90, 78, 88, 92],
    "Department": ["AIML", "AIML", "AIML", "CSE", "CSE"],
    "Address":["Ambala","Pune","Chennai","Banglore","Hydrabad"],
    "Roll_No":[201, 202, 203, 204, 205],

    
}
df=pd.DataFrame(data)
df

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2539474740.py, line 8)