In [61]:
num1=10
type(num1)

int

In [62]:
print (num1.__class__)

<class 'int'>

In [63]:
print("hello world")#with print statement it convert object into string  whether its possible in another program
"hello" # without print statement

hello world

'hello'

In [64]:
print (20+30) #it convert object into string

50

In [65]:
pr=print ("hello")
print (pr)

hello
None

In [66]:
sum1 =print(20 +3) #
#when you display the print statement  and store in variable sum1 ,
#  it will display nome becuase it will take only print  statement that type none

print (sum1)

23
None

In [67]:
sum1=10+20 #this statement tell the data type of sum1 that is of int
type(sum1)

int

In [68]:
10+20

30

In [69]:
_+20#  significance if ypu want to add the value in the given output then you have to use underscore

50

In [70]:
10+30

40

In [71]:
_+30 #  if you want to addthe output 40  with 30 value then output 70

70

In [72]:
print ("A", "B",sep=",", end="!\n")

A,B!

In [73]:
num1=32
num2=40
print ("num1:",num1,"num2:",num2) # if you display the value of  num1 and num2 in variable
print(num1,num2)

num1: 32 num2: 40
32 40

In [74]:
# print + String Formatting
price =200
tax=18
print (f"The total amount is{price+tax}") #f is used for formatting string

The total amount is218

In [75]:
price =200
tax=18
print ("The total amount is:", price+tax) #f is used for formatting string

The total amount is: 218

In [76]:
pi=3.1415
print (f"{pi:.3f}")

3.142

In [77]:
pi=3
print (f"{pi:04d}")#total size is 4 inculuding 3 zeros

0003

In [78]:
name="Priyanka"
print (f"{name:>20}")
print (f"{"Priyanka":^20}") #you can add string directly in double quotes
print (f"{name:<20}")

            Priyanka
      Priyanka
Priyanka

In [ ]:
class student:
    def __init__(self,name,marks): #magic mthod is init
        self.name=name   #inbulit functions constructor call ing implicity
        self.marks=marks
    def display(self):
        print (f"Name:{self.name}, Marks:{self.marks}")

In [103]:
stud1= student("Priyanka",93)
print(stud1.display())

AttributeError: 'student' object has no attribute 'display'

In [92]:
class Student:
    def __init__(self,name:str,marks :int): #magic mthod is init
        self.name=name   #inbulit functions constructor call ing implicity
        self.marks=marks
        def display(self)->str:
             print (f"Name:{self.name}, Marks:{self.marks}")
             return (f"Name:{self.name}, Marks:{self.marks}")
        stude2= Student("43",93)
        print (stud2.display())

In [97]:
class Student:
    def __init__(self,name:str,marks :int):
        if not isinstance(name,str):
            raise TypeError("name must be string" )
        if not isinstance(marks,int):
            raise TypeError("marks must be integer")
        self.name=name   #inbulit functions constructor call ing implicity
        self.marks=marks
        def display(self)->str:
             print (f"Name:{self.name}, Marks:{self.marks}")
             return (f"Name:{self.name}, Marks:{self.marks}")
        stude2= Student("43",93)
        print (stud2.display())

In [101]:
num1=10
type(num1)
num1

10

In [100]:
num1=str(num1)
num1

'10'