In [ ]:
import sqlite3 as sql
connection =sql.connect('demo.db')
cursor=connection.cursor() #db tracing

In [25]:

connection.commit()

In [49]:
connection.commit()

In [53]:
cursor.execute("Insert into Student2 (id,name,age)values (2,'PRIYANKA',23)")
connection.execute("")

OperationalError: no such table: Student2

In [ ]:
import pandas as pd #

In [ ]:
import pandas as pd#