In [ ]:
import numpy as np
import pandas as pd

np.random.seed(42)

n = 500

df = pd.DataFrame({
    "Customer_ID": np.arange(1001, 1001 + n),
    "Customer_Name": [f"Customer_{i}" for i in range(1, n+1)],
    "Account_Number": [
        str(1000000000 + i) for i in np.random.permutation(n)
    ],

    "Account_Type": np.random.choice(["Savings", "Current"], n, p=[0.7, 0.3]),

    "Opening_Balance": np.where(
        np.random.choice(["Savings", "Current"], n, p=[0.7, 0.3]) == "Savings",
        np.random.randint(1000, 50000, n),
        np.random.randint(5000, 100000, n)
    ),

    "Deposit_Amount": np.random.randint(500, 50000, n),
    "Withdrawal_Amount": np.random.randint(0, 40000, n)
})

df.head()

,Customer_ID,Customer_Name,Account_Number,Account_Type,Opening_Balance,Deposit_Amount,Withdrawal_Amount
0,1001,Customer_1,1000000361,Current,49689,21144,17154
1,1002,Customer_2,1000000073,Savings,16282,19245,19539
2,1003,Customer_3,1000000374,Savings,5703,28728,11777
3,1004,Customer_4,1000000155,Savings,36055,35021,34396
4,1005,Customer_5,1000000104,Savings,26849,32203,30373

In [25]:
#Task 1 Capture Customer & Account Details (Input Validation)

def validate_customer_details(customer_id, customer_name, account_number, account_type, accounts):
    if not customer_name.isalpha():
        raise ValueError("Customer name must contain only alphabets")

    if not account_number.isdigit():
        raise ValueError("Account number must be numeric")

    if account_number in accounts:
        raise ValueError("Account number must be unique")

    if account_type not in ["Savings", "Current"]:
        raise ValueError("Invalid account type")

    return True

In [26]:
#Task 2 Initialize Account Balance
def validate_opening_balance(account_type, opening_balance):
    min_balance = 1000 if account_type == "Savings" else 5000
    if opening_balance < min_balance:
        raise ValueError(f"Minimum balance required: ₹{min_balance}")
    return opening_balance

In [27]:
# Task 3 Deposit Transaction
def deposit(balance, amount):
    if amount <= 0:
        raise ValueError("Deposit amount must be greater than 0")
    return balance + amount

In [28]:
# Task 4 Withdrawal Transaction


def withdraw(balance, amount, account_type):
    min_balance = 1000 if account_type == "Savings" else 5000

    if amount <= 0:
        raise ValueError("Withdrawal amount must be greater than 0")

    if balance - amount < min_balance:
        raise ValueError("Insufficient balance after withdrawal")

    return balance - amount

In [29]:
# Task 5 Balance Inquiry

def balance_inquiry(account_number, balance):
    print(f"Account Number: {account_number}")
    print(f"Current Balance: ₹{balance}")

In [30]:
# Task 6 Transaction Recording

from datetime import date

def record_transaction(transactions, txn_type, amount, balance):
    transactions.append({
        "type": txn_type,
        "amount": amount,
        "date": date.today(),
        "balance": balance
    })

In [31]:
# Task 7 Daily Transaction Limit Check

def daily_withdrawal_limit(transactions, amount):
    today = date.today()
    total_today = sum(t["amount"] for t in transactions 
                      if t["type"] == "Withdrawal" and t["date"] == today)

    if total_today + amount > 50000:
        raise ValueError("Daily withdrawal limit exceeded")

In [32]:
# Task 8 Interest Calculation (Savings Account)

def calculate_monthly_interest(balance):
    return (balance * 0.04) / 12

In [33]:
# Task 9 Procedural Account Summary
def account_summary(name, acc_no, acc_type, balance):
    print("---- Account Summary ----")
    print("Customer Name:", name)
    print("Account Number:", acc_no)
    print("Account Type:", acc_type)
    print("Current Balance: ₹", balance)

In [ ]:
# Task 10 Multi-Account Management
accounts = {}

In [35]:
# Task 11 BankAccount Class Design (OOP)
from datetime import date

class BankAccount:
    def __init__(self, customer_id, customer_name, account_number, account_type, balance):
        self.customer_id = customer_id
        self.customer_name = customer_name
        self.account_number = account_number
        self.account_type = account_type
        self.balance = balance
        self.transactions = []

In [ ]:
# Task 12
def withdraw(self, amount):
    min_balance = 1000 if self.account_type == "Savings" else 5000

    if amount <= 0:
        raise ValueError("Invalid withdrawal amount")

    self._check_daily_limit(amount)

    if self.balance - amount < min_balance:
        raise ValueError("Minimum balance violation")

    self.balance -= amount
    self._record("Withdrawal", amount)

In [ ]:
# Task 13 Interest Method


def calculate_interest(balance, account_type, rate=0.04):
    if account_type == "Savings":
        interest = (balance * rate) / 12
        return balance + interest
    return balance

In [ ]:
# Task 14 Transaction History Method


def get_transaction_history(transactions):
    for t in transactions:
        print(t)

In [ ]:
# task 15 Final Bank Statement Generation
def generate_statement(customer_name, account_number, account_type, balance, transactions):
    print("\nCustomer Name :", customer_name)
    print("Account Number :", account_number)
    print("Account Type :", account_type)
    print("Current Balance : ₹", round(balance, 2))
    print("\nRecent Transactions:")
    print("--------------------------------")
    print("Date\t\tType\tAmount\tBalance")
    for t in transactions:
        print(f"{t['date']}\t{t['type']}\t₹{t['amount']}\t₹{t['balance']}")

In [46]:
#print the results
generate_statement("Customer_1", "1000000001", "Savings", 15000, [
    {"date": date(2023, 12, 20), "type": "Deposit", "amount": 5000, "balance": 15000},
    {"date": date(2023, 12, 22), "type": "Withdrawal", "amount": 2000, "balance": 13000},
])

Customer Name : Customer_1
Account Number : 1000000001
Account Type : Savings
Current Balance : ₹ 15000

Recent Transactions:
--------------------------------
Date		Type	Amount	Balance
2023-12-20	Deposit	₹5000	₹15000
2023-12-22	Withdrawal	₹2000	₹13000