In [2]:
pip install sklearn

Collecting sklearnNote: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~umpy (c:\Users\BOPARAI\anaconda3\Lib\site-packages)
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [15 lines of output]
      The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
      rather than 'sklearn' for pip commands.

      Here is how to fix this error in the main use cases:
      - use 'pip install scikit-learn' rather than 'pip install sklearn'
      - replace 'sklearn' by 'scikit-learn' in your pip requirements files
        (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
      - if the 'sklearn' package is used by one of your dependencies,
        it would be great if you take some time to track which package uses
        'sklearn' instead of 'scikit-learn' and report it to their issue tracker
      - as a last resort, set the environment variable
        SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

      More information is available at
      https://github.com/scikit-learn/sklearn-pypi-package
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [4]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [5]:
np.random.seed(42)
n =500

In [6]:
data= pd.DataFrame({
    "attendance_rate":np.random.normal(75,10,n).clip(40,100),
    "avg_marks":np.random.normal(80,40,n).clip(30,100),
    "assignment_submitted":np.random.normal(80,15,n).clip(20,100),
    "disciplinary_cases":np.random.poisson(1.2,n)
})

In [7]:
data

     attendance_rate   avg_marks  assignment_submitted  disciplinary_cases
0          79.967142  100.000000            100.000000                   0
1          73.617357  100.000000             93.869505                   2
2          81.476885   30.000000             80.894456                   0
3          90.230299  100.000000             70.295948                   1
4          72.658466   53.974297             90.473350                   2
..               ...         ...                   ...                 ...
495        80.389100   68.755988            100.000000                   2
496        64.627538  100.000000            100.000000                   0
497        73.096613  100.000000             98.125493                   0
498        66.243817   57.152840             95.360938                   2
499        61.172003  100.000000             88.887904                   1

[500 rows x 4 columns]

In [23]:
data["dropout"] =(
    (data["attendance_rate"]<60) |
    (data["avg_marks"]<50) |
    (data["disciplinary_cases"]>3)
).astype(int)

data

,attendance_rate,avg_marks,assignment_submitted,disciplinary_cases,dropout
0,79.967142,100.000000,100.000000,0,0
1,73.617357,100.000000,93.869505,2,0
2,81.476885,30.000000,80.894456,0,1
3,90.230299,100.000000,70.295948,1,0
4,72.658466,53.974297,90.473350,2,0
...,...,...,...,...,...
495,80.389100,68.755988,100.000000,2,0
496,64.627538,100.000000,100.000000,0,0
497,73.096613,100.000000,98.125493,0,0
498,66.243817,57.152840,95.360938,2,0
499,61.172003,100.000000,88.887904,1,0

In [9]:
X = data.drop("dropout", axis=1)

In [24]:
X = data.drop("dropout", axis=0)

KeyError: "['dropout'] not found in axis"

In [10]:
y= data["dropout"]

In [11]:
X

     attendance_rate   avg_marks  assignment_submitted  disciplinary_cases
0          79.967142  100.000000            100.000000                   0
1          73.617357  100.000000             93.869505                   2
2          81.476885   30.000000             80.894456                   0
3          90.230299  100.000000             70.295948                   1
4          72.658466   53.974297             90.473350                   2
..               ...         ...                   ...                 ...
495        80.389100   68.755988            100.000000                   2
496        64.627538  100.000000            100.000000                   0
497        73.096613  100.000000             98.125493                   0
498        66.243817   57.152840             95.360938                   2
499        61.172003  100.000000             88.887904                   1

[500 rows x 4 columns]

In [12]:
y

0      0
1      0
2      1
3      0
4      0
      ..
495    0
496    0
497    0
498    0
499    0
Name: dropout, Length: 500, dtype: int32

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [14]:
X_train

     attendance_rate   avg_marks  assignment_submitted  disciplinary_cases
227        64.222552   93.903268             77.794970                   4
417        76.156746   87.464365             84.028884                   0
203        85.538021   30.000000             88.149470                   1
126        65.094637   40.415807             84.539532                   2
329        81.283455   68.728616             88.998931                   1
..               ...         ...                   ...                 ...
106        93.861859   49.048432             89.191609                   1
270        89.412733  100.000000             96.369652                   1
348        67.815558   54.490401             59.496820                   2
435        75.740948   59.917831             84.238699                   0
102        71.572855  100.000000            100.000000                   3

[375 rows x 4 columns]

In [15]:
X_test

     attendance_rate  avg_marks  assignment_submitted  disciplinary_cases
361        90.327389  30.000000             88.689372                   1
73         90.646437  71.235979             60.755117                   2
374        96.531825  78.674921            100.000000                   1
155        67.856486  82.368737             95.147256                   0
104        73.387143  96.537396             96.622742                   0
..               ...        ...                   ...                 ...
220        98.146586  92.312071             62.186024                   0
176        75.130019  35.576966             54.605648                   2
320        75.969960  59.308462             80.849749                   0
153        77.322537  35.738964             60.153653                   1
231        77.164586  40.865089             59.452955                   1

[125 rows x 4 columns]

In [25]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)
X_test_scaled

array([[ 1.69252609e+00, -1.71546665e+00,  5.22648001e-01,
        -1.60128154e-01],
       [ 1.72765065e+00, -1.00346646e-01, -1.59384223e+00,
         8.40672807e-01],
       [ 2.37558454e+00,  1.91019893e-01,  1.37961848e+00,
        -1.60128154e-01],
       [-7.81339663e-01,  3.35698320e-01,  1.01194144e+00,
        -1.16092912e+00],
       [-1.72458795e-01,  8.90652632e-01,  1.12373434e+00,
        -1.16092912e+00],
       [ 1.30357253e+00,  1.02627499e+00, -5.50907155e-01,
        -1.16092912e+00],
       [ 2.06948609e-01,  5.93530949e-01,  1.04613607e+00,
        -1.16092912e+00],
       [ 6.51186273e-01,  1.02627499e+00,  1.37961848e+00,
        -1.60128154e-01],
       [ 4.03235987e-01, -1.71546665e+00, -6.67261890e-01,
         1.84147377e+00],
       [-6.39008414e-02, -1.35026590e-01,  2.15271237e-01,
         1.84147377e+00],
       [ 6.02418783e-01, -1.05893722e+00, -7.44014466e-01,
         2.84227473e+00],
       [ 1.95762078e-01,  1.02627499e+00, -1.94615974e+00,
        -1.16092912e+00],
       [-1.17026044e+00, -1.71546665e+00, -1.75160975e+00,
        -1.60128154e-01],
       [-8.84982638e-01,  5.27851828e-01,  2.98352347e-01,
        -1.60128154e-01],
       [ 5.53359877e-01, -1.00777965e+00,  1.37961848e+00,
         8.40672807e-01],
       [ 1.05144402e+00,  1.02627499e+00, -9.93454771e-02,
        -1.60128154e-01],
       [ 5.98400426e-01, -1.97482266e-01,  1.37961848e+00,
         8.40672807e-01],
       [-6.57326790e-01,  1.02627499e+00, -4.28227370e-01,
        -1.16092912e+00],
       [ 7.55879187e-01,  6.61310428e-01, -1.34622269e+00,
         8.40672807e-01],
       [ 1.37539621e-01,  1.02627499e+00, -5.02444739e-01,
         8.40672807e-01],
       [-3.67343261e-03,  5.69395564e-01, -7.62906473e-01,
        -1.60128154e-01],
       [ 1.63440329e+00, -1.71546665e+00,  1.37961848e+00,
        -1.60128154e-01],
       [ 1.30077273e-01,  5.21326085e-01,  1.60513063e-02,
         8.40672807e-01],
       [-1.52776696e-02, -1.06113916e+00, -7.56526492e-01,
         8.40672807e-01],
       [ 1.00935627e-01,  6.12059806e-01, -1.90477760e+00,
         8.40672807e-01],
       [ 4.39261394e-02,  1.02627499e+00, -1.52713636e+00,
        -1.60128154e-01],
       [-2.04443774e-01,  1.02627499e+00,  1.23759305e+00,
        -1.16092912e+00],
       [ 1.25527026e+00,  9.13988842e-02, -9.23206810e-01,
        -1.16092912e+00],
       [-4.57992870e-01, -1.20184495e+00, -3.42731994e+00,
        -1.60128154e-01],
       [ 1.07863222e+00,  1.88579094e-01,  3.32426719e-02,
         8.40672807e-01],
       [-2.69064849e-01, -1.71546665e+00,  6.01054102e-01,
         2.84227473e+00],
       [-9.03702228e-01,  1.02627499e+00, -8.32851976e-01,
        -1.60128154e-01],
       [ 4.27928979e-01, -1.71546665e+00,  6.17647988e-01,
        -1.60128154e-01],
       [ 3.80684695e-01, -3.39019702e-01, -2.06855525e-01,
        -1.16092912e+00],
       [ 7.18156801e-01, -1.71546665e+00, -6.79482062e-02,
        -1.16092912e+00],
       [-7.40396787e-01, -9.59995512e-01,  1.37961848e+00,
        -1.16092912e+00],
       [ 5.71459592e-01,  1.02627499e+00, -4.20790641e-01,
        -1.16092912e+00],
       [ 4.02971305e-01,  2.71776486e-01, -1.89043633e-01,
         8.40672807e-01],
       [ 2.75740277e+00,  1.02627499e+00,  1.37961848e+00,
        -1.60128154e-01],
       [-1.31182350e+00, -2.67863933e-01, -2.11290745e+00,
        -1.16092912e+00],
       [-8.30640211e-01,  1.02627499e+00,  7.07675020e-01,
        -1.16092912e+00],
       [-3.55625870e-01,  7.65671831e-01, -7.66816421e-02,
         1.84147377e+00],
       [-1.56068316e+00, -1.57190074e+00,  9.24173598e-01,
        -1.60128154e-01],
       [ 7.91160933e-01,  1.02627499e+00,  9.33470594e-01,
         8.40672807e-01],
       [-1.15935087e+00, -1.65439036e+00,  5.99821571e-01,
        -1.16092912e+00],
       [-3.24079244e-01,  1.02627499e+00, -6.22272253e-01,
        -1.60128154e-01],
       [ 5.51946144e-01,  1.02627499e+00,  1.37961848e+00,
        -1.16092912e+00],
       [-5.07627203e-01,  1.64211713e-01,  8.88541831e-02,
        -1.60128154e-01],
       [-8.18919683e-01,  6.80065915e-01,  9.18774411e-01,
        -1.60128154e-01],
       [ 7.94469275e-02, -7.95218710e-01, -1.63397331e-01,
        -1.16092912e+00],
       [-3.43377838e-02,  7.55120463e-01, -4.84099984e-02,
         8.40672807e-01],
       [-1.17386272e+00, -5.78850654e-01,  9.07950904e-01,
         8.40672807e-01],
       [ 8.05861262e-02,  1.02627499e+00,  3.43795745e-01,
        -1.16092912e+00],
       [ 7.88534561e-01, -2.39278852e-01,  1.37377778e+00,
         1.84147377e+00],
       [-1.36635442e+00,  1.02627499e+00,  2.27714714e-01,
        -1.60128154e-01],
       [ 1.03036833e+00, -4.02371324e-01, -8.99019955e-01,
        -1.60128154e-01],
       [ 5.79719497e-01, -1.18887089e-01,  1.37961848e+00,
        -1.60128154e-01],
       [-9.94557685e-01,  3.98545104e-01, -4.99793812e-01,
        -1.60128154e-01],
       [-1.51159939e+00, -1.71546665e+00, -8.01886794e-02,
         8.40672807e-01],
       [ 1.06125040e-01, -1.71546665e+00,  1.37961848e+00,
         8.40672807e-01],
       [ 1.68194093e+00, -1.32632736e+00,  1.37961848e+00,
         8.40672807e-01],
       [-3.56327089e+00,  1.02627499e+00,  4.76579293e-01,
         8.40672807e-01],
       [ 2.30865394e+00, -3.25542388e-01,  4.17192092e-01,
         8.40672807e-01],
       [ 2.29100906e-01,  1.68170401e-01, -5.89905825e-01,
        -1.60128154e-01],
       [-2.18304974e+00,  1.02627499e+00,  8.30560917e-01,
         8.40672807e-01],
       [ 2.21832195e-01, -6.60901743e-01,  1.05431163e+00,
        -1.60128154e-01],
       [ 1.05663869e+00,  7.94488775e-01,  1.37961848e+00,
        -1.60128154e-01],
       [-5.02022441e-01,  1.02627499e+00,  6.05648350e-01,
         8.40672807e-01],
       [-7.23469876e-01,  1.02627499e+00,  5.10932455e-01,
        -1.60128154e-01],
       [ 5.46667255e-01,  1.02627499e+00, -9.05943531e-01,
        -1.60128154e-01],
       [ 9.49318081e-01, -7.55680239e-01,  4.79655505e-01,
         8.40672807e-01],
       [ 2.73383828e-01,  1.02627499e+00, -1.32256465e-01,
        -1.60128154e-01],
       [-6.55686711e-01, -1.44869564e-01,  3.11288459e-01,
        -1.60128154e-01],
       [-2.24022057e-01,  9.16007187e-01,  3.05902306e-01,
        -1.60128154e-01],
       [-3.36474945e-01,  1.02627499e+00, -4.82606934e-01,
         8.40672807e-01],
       [-1.79071698e-02, -4.37809136e-01,  4.74026539e-01,
        -1.16092912e+00],
       [-4.79349790e-01, -7.39355017e-01, -9.71649941e-01,
        -1.16092912e+00],
       [-7.05121169e-01, -3.07799283e-01,  2.58084276e-01,
        -1.16092912e+00],
       [-8.67785426e-01,  1.02627499e+00, -2.13682967e+00,
         8.40672807e-01],
       [-2.38165956e-01,  1.02627499e+00,  5.33202592e-01,
        -1.60128154e-01],
       [ 3.27753030e-01,  1.02627499e+00,  1.37961848e+00,
        -1.16092912e+00],
       [ 1.63214630e+00,  1.02627499e+00, -5.01257336e-01,
        -1.16092912e+00],
       [ 3.47765196e-01, -1.71546665e+00,  3.41081424e-01,
         8.40672807e-01],
       [-7.97789776e-02, -2.93971677e-01, -1.72934527e-02,
         1.84147377e+00],
       [ 6.60323830e-01,  1.02627499e+00,  4.66278900e-01,
        -1.16092912e+00],
       [ 1.11978380e-01,  3.55043741e-01, -2.17093290e-01,
        -1.60128154e-01],
       [ 6.93913242e-01,  1.02627499e+00,  6.87318897e-02,
        -1.16092912e+00],
       [ 3.70954809e-01,  9.36198195e-02, -8.67078394e-01,
        -1.60128154e-01],
       [ 9.13820829e-01,  1.02627499e+00,  1.37961848e+00,
        -1.60128154e-01],
       [ 8.19502869e-02,  1.26304675e-01,  8.25460390e-02,
        -1.16092912e+00],
       [-6.54779299e-01, -5.88796920e-01, -6.90230842e-01,
        -1.16092912e+00],
       [-1.66299971e+00,  1.02627499e+00, -2.88029128e-01,
        -1.60128154e-01],
       [-1.14632373e-01,  1.02627499e+00,  1.85120861e-04,
        -1.16092912e+00],
       [-1.10244043e+00, -4.55052802e-01, -6.24429368e-02,
        -1.60128154e-01],
       [-2.23992684e+00,  1.02627499e+00,  7.91369160e-01,
        -1.60128154e-01],
       [-1.54440063e+00,  1.02627499e+00,  9.26138702e-01,
        -1.60128154e-01],
       [ 1.01288792e+00, -4.76764854e-01,  1.03520151e+00,
         2.84227473e+00],
       [ 9.09952369e-01, -1.71546665e+00, -6.96873898e-01,
         8.40672807e-01],
       [-1.87018329e+00,  6.24885134e-01,  4.22276018e-01,
         1.84147377e+00],
       [-6.13929549e-01,  1.02627499e+00,  8.92078385e-02,
        -1.16092912e+00],
       [ 4.50956102e-01, -1.71546665e+00, -1.90399767e+00,
        -1.60128154e-01],
       [ 7.95060127e-01, -1.71546665e+00, -7.98387280e-01,
        -1.16092912e+00],
       [-1.54972900e+00,  1.02627499e+00,  3.46347412e-01,
        -1.60128154e-01],
       [-8.95691371e-01,  1.02627499e+00, -2.15840317e-01,
         8.40672807e-01],
       [ 8.85585272e-02, -1.33027665e+00, -3.78296645e-01,
         8.40672807e-01],
       [-9.18807204e-01, -5.21017073e-01, -1.64760542e-01,
        -1.16092912e+00],
       [-6.11610474e-01, -5.65571948e-01,  9.91740401e-01,
        -1.16092912e+00],
       [ 7.53286277e-01, -9.76457180e-01,  1.37961848e+00,
        -1.60128154e-01],
       [-9.82701107e-01, -1.19634051e+00,  1.24940770e+00,
        -1.16092912e+00],
       [-1.16440716e+00, -4.63224120e-03,  1.37961848e+00,
        -1.60128154e-01],
       [-3.49460027e-01,  3.57788193e-01, -1.53089771e+00,
        -1.60128154e-01],
       [ 1.07472529e+00, -8.53965704e-01, -1.08948221e+00,
        -1.60128154e-01],
       [-1.56794547e-01,  6.09866686e-01, -5.18817346e-01,
        -1.60128154e-01],
       [ 1.27220656e-01, -1.71546665e+00,  3.60164695e-01,
         8.40672807e-01],
       [-1.18560346e-01,  1.02330471e-01, -7.95484665e-01,
         2.84227473e+00],
       [ 7.34056432e-01, -1.71546665e+00, -3.09000635e-01,
         8.40672807e-01],
       [-7.14159144e-01, -9.40545389e-01, -1.01079483e+00,
        -1.16092912e+00],
       [ 2.10375011e-01,  1.02627499e+00, -7.64872732e-01,
         8.40672807e-01],
       [-1.28151674e+00,  1.02627499e+00, -2.01202185e-01,
         8.40672807e-01],
       [-1.22215655e-01,  1.02627499e+00,  1.09020526e+00,
        -1.60128154e-01],
       [ 2.55335675e+00,  7.25156196e-01, -1.48542692e+00,
        -1.16092912e+00],
       [ 1.94178418e-02, -1.49702951e+00, -2.05976804e+00,
         8.40672807e-01],
       [ 1.11888562e-01, -5.67520499e-01, -7.13354897e-02,
        -1.16092912e+00],
       [ 2.60796448e-01, -1.49068443e+00, -1.63941322e+00,
        -1.60128154e-01],
       [ 2.43407305e-01, -1.28990570e+00, -1.69250288e+00,
        -1.60128154e-01]])

In [17]:
models ={
    "LogisticRegression":LogisticRegression(max_iter=1000),
    "Decision Tree":DecisionTreeClassifier(max_depth=5),
    "Random Forest":RandomForestClassifier(n_estimators=100),
    "SVM":SVC(probability=True)
}

In [18]:
result=[]
for name, model in models.items():
    if name in ["LogisticRegression","SVM"]:
        model.fit(X_train_scaled, y_train)
        y_pred= model.predict(X_test_scaled)
        y_prob= model.predict_proba(X_test_scaled)[:, 1]
    else:
        model.fit(X_train,y_train)
        y_pred= model.predict(X_test)
        y_prob= model.predict_proba(X_test)[:, 1]

In [19]:
cm= confusion_matrix(y_test,y_pred)

In [20]:
result.append({
    "Model":name,
    "Accuracy":accuracy_score(y_test,y_pred),
    "Precision":precision_score(y_test,y_pred),
    "Recall":recall_score(y_test,y_pred),
    "f1_score":f1_score(y_test,y_pred),
    "roc_auc_score":roc_auc_score(y_test,y_pred),
    "confusion_matrix":cm
})

In [21]:
result_df=pd.DataFrame(result)
print(result_df)

  Model  Accuracy  Precision    Recall  f1_score  roc_auc_score  \
0   SVM     0.944        1.0  0.810811  0.895522       0.905405

     confusion_matrix
0  [[88, 0], [7, 30]]

In [22]:
for r in result:
    print(f"\n{r['Model']} Confusion Matrix:")
    print(r["confusion_matrix"])

SVM Confusion Matrix:
[[88  0]
 [ 7 30]]